<div class="content-input add" verify-scope="tipStyle: 1">  <!--表单验证插件-->
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目名称</em></label>
                    <div class="sele area side">
                        <select ng-model="data.projectName" class="sele">
                            <option value="请选择">请选择</option>
                            <option ng-repeat="list in allNames">{{list}}</option>
                        </select>
                        <input type="text"  class="inputDom" ng-model="data.projectName" ng-verify="{}">
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目类别</em></label>
                    <div class="sele area side">
                        <select ng-model="data.projectCategory" class="sele">
                            <option >请选择</option>
                            <option value="SINGLE_SINGLE">单项目单个界面</option>
                            <option value="SINGLE_MULTIPLE">单项目多个界面</option>
                            <option value="MULTIPLE_SINGLE">多项目单个界面</option>
                            <option value="MULTIPLE_MULTIPLE">多项目多个界面</option>
                        </select>
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>界面选择</em></label>
                    <div class="sele area side">
                        <select ng-model="data.interfaceSelect" class="sele">
                            <option >请选择</option>
                            <option value="CONSTRUCTION">施工</option>
                            <option value="DESIGN">设计</option>
                            <option value="SUPERVISE">督导</option>
                            <option value="SOLUTION_PROVIDER">方案提供</option>
                            <option value="CONTROL">监理</option>
                        </select>
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>工作量</em></label>
                    <input type="number"  ng-model="data.workload" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>利润</em></label>
                    <input type="number" ng-model="num" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目比重</em></label>
                    <input type="text" ng-model="data.projectRatio" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目利润对比</em></label>
                    <input type="text" ng-model="data.projectProfitContrast" ng-verify="{}">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="companyAddFun()">提交</button>
    </p>
</div>

<script type="text/javascript">
    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();
</script>