<div class="content-input" verify-scope="tipStyle: 1">
    <div class="input-list">
     <section>
            <ul>
                <li class="required f-l">
                    <label><i><!-- <img src="/images/mandatory.png"> --></i><em>设备编号</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.deviceNum">
                </li>
                <li class="required f-l">
                    <label><i><!-- <img src="/images/mandatory.png"> --></i><em>设备名称</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.deviceName">
                </li>
                <li class="required f-l">
                    <label><i><!-- <img src="/images/mandatory.png"> --></i><em>关于设备使用的相关资料存储路径</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.devicePath">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="equipmentAddFun()">提交</button>
    </p>
</div>
