<div class="content-tab list" style="margin-top: -70px;">
    <ul class="table table-top">
        <li class="list-head">
            <span></span>
            <span>合作方式</span>
            <span>地区</span>
            <span>项目名称</span>
            <span>工作量</span>
            <span>成本</span>
            <span>总金额</span>
            <span>工期开始时间</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="lists in basicInfoLists" style="display: {{lists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p>{{$index+1}}</p>
                    <p>{{lists.cooperateWay|cover}}</p>
                    <p>{{lists.area}}</p>
                    <p>{{lists.project}}</p>
                    <p>{{lists.workload}}</p>
                    <p>{{lists.cost}}</p>
                    <p>{{lists.totalAmount}}</p>
                    <p>{{lists.startTime}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more" ng-click="moreList(lists)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{lists._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>工期结束时间</span>
                                <span>工期经历时间</span>
                                <span>税金</span>
                                <span>管理费</span>
                            </p>
                            <p class="see-children">
                                <span>{{lists.endTime}}</span>
                                <span>{{lists.experienceTime}}</span>
                                <span>{{lists.taxes}}</span>
                                <span>{{lists.manageCost}}</span>
                            </p>
                        </li>
                    </ul>
                    <div class="module">
                        <div class="see-module">
                            <p class="see-type">体现类型</p>
                            <p class="see-description"></p>
                            <button class="btn">关闭</button>
                        </div>
                    </div>
                </div>
            </section>
        </li>
    </ul>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>




