<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>合作方式</em></label>
                    <select class="sele" ng-model="add.cooperateWay">
                        <option value="" disabled>请选择</option>
                        <option value="LONGTERM">长期合作</option>
                        <option value="ITEM">事项合作</option>
                        <option value="AGENCY">中介</option>
                        <option value="ANOTHER">其他</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>地区</em></label>
                    <div class="sele side">
                        <select class="sele" ng-model="add.area">
                            <option value="" disabled>请选择</option>
                            <option ng-repeat="pros in areanames">{{pros.area}}</option>
                        </select>
                        <input type="text"  class="inputDom" ng-model="add.area">
                    </div>
                </li>

                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目名称</em></label>
                    <div class="sele side">
                        <select class="sele" ng-model="add.project" ng-change="myFun()">
                            <option value="" disabled>请选择</option>
                            <option ng-repeat="pros in names">{{pros.projectName}}</option>
                        </select>
                    <input type="text"  class="inputDom" ng-model="add.project">
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>工作量</em></label>
                    <input type="text" ng-verify="{}" ng-model="add.workload">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>成本</em></label>
                    <input type="number" ng-verify="{}" ng-model="add.cost">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>总金额</em></label>
                    <input type="number" ng-verify="{}" ng-model="firstManage.totalAmount">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>工期开始时间</em></label>
                    <input type="text" ng-model="add.startTime" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image startTime" >
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>工期结束时间</em></label>
                    <input type="text" ng-model="add.endTime" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image endTime" >
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>工期经历时间</em></label>
                    <input type="number" ng-verify="{}" ng-model="add.years" class="times1">
                    年
                    <input type="number" ng-verify="{}" ng-model="add.months" class="times1">
                    月
                    <input type="number" ng-verify="{}" ng-model="add.days" class="times1">
                    日
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>税金</em></label>
                    <input type="number" ng-verify="{}" ng-model="firstManage.taxes">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>管理费</em></label>
                    <input type="number" ng-verify="{}" ng-model="add.manageCost">
                </li>

            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="basicInfoAddFun()">提交</button>
    </p>
</div>

<script type="text/javascript">

    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();


</script>