<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>项目前期的市场活动费</h3>
    <ul class="menu">
        <li ng-click="navClass('warning')" ng-class="{'active':navCla=='warning'}"  ui-sref="_root.project.warning.list" >
            <a href="javascript:void(0)">预警设计</a></li>
        <li ng-click="navClass('grade')" ng-class="{'active':navCla=='grade'}"  ui-sref="_root.project.grade.list" >
            <a href="javascript:void(0)">等级设计</a></li>
    </ul>
</div>
<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>费用分析</h3>
    <ul class="menu">
        <li ng-click="navClass('cost')" ng-class="{'active':navCla=='cost'}"  ui-sref="_root.project.cost.list" >
            <a href="javascript:void(0)">费用效益分析</a></li>
    </ul>
</div>
<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>项目前期的市场活动费</h3>
    <ul class="menu">
        <li ng-click="navClass('activity')" ng-class="{'active':navCla=='activity'}"  ui-sref="_root.project.activity.list" >
            <a href="javascript:void(0)">项目前期的市场活动费</a></li>
    </ul>
</div>