<div class="content-tab list">
    <ul class="table com-table">
       <li class="list-head">
            <span></span>
            <span>日期</span>
            <span>地区</span>
            <span>项目组</span>
            <span>项目名称</span>
            <span>摘要</span>
            <span>收入</span>
            <span>支出</span>
            <span>数据来源</span>
        </li>
        <!---->
        <li class="list-all" ng-repeat="list in recordLists"  style="display:{{list._delete?'none':'block'}};">
            <section>
                <div  class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                <!-- 下面需要改动，看调用（需要改） -->
                    <p mod>{{$index+1+num}}</p>
                    <p mod>{{::list.recordDate}}</p>
                    <p mod>{{::list.area}}</p>
                    <p mod>{{::list.projectGroup}}</p>
                    <p mod>{{::list.project}}</p>
                    <p mod>{{::list.digest}}</p>
                    <p mod>{{::list.income}}</p>
                    <p mod>{{::list.expenditure}}</p>
                    <p style="color:red" mod>{{::list.dataSource}}</p>
                </div>
            </section>
        </li>
     </ul>
     <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.limit" activate="abili.activatePage"></pagination>
    </footer>
</div>
<!-- <div ui-view="modal"></div> -->
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>