<!--Angular-UI-Router里的指令ui-sref-active 查看当前激活状态并设置 Class-->
<ul class="list">
    <li ng-click="list()" ng-class="{'current':menuClass=='listMenu'}" ui-sref=".list" class="lis">
        <a href="javascript:void(0)" class="same-two">列表<span>List</span></a>
    </li>
    <li ng-click="first()" ng-class="{'current':menuClass=='firstMenu'}">
        <a href="javascript:void(0)"  class="same-one" >第一次付款<span>first</span></a>
    </li>
    <li ng-click="second()" ng-class="{'current':menuClass=='secondMenu'}">
        <a href="javascript:void(0)"  class="same-three">第二次付款<span>second</span></a>
    </li>
</ul>