<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>房租缴费</h3>
    <ul class="menu">
        <li ng-click="navClass('rent')" ng-class="{'active':navCla=='rent'}"  ui-sref="_root.compete.rent.list"><a href="javascript:void(0)">房租缴费记录</a></li>
    </ul>

    <h3 class="header-menu big"><i class="nav-arrow"></i>员工住宿水电费</h3>
    <ul class="menu">
        <li ng-click="navClass('water')" ng-class="{'active':navCla=='water'}"  ui-sref="_root.compete.water.list"><a href="javascript:void(0)">员工住宿水电费记录</a></li>
    </ul>
</div>