<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>服务类别</em></label>
                    <input type="text" ng-verify="{}" ng-model="other.type">
                </li>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>公司名称</em></label>
                    <input type="text" ng-verify="{}" ng-model="other.name">
                </li>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>联系电话</em></label>
                    <input type="text" ng-verify="{}" ng-model="other.phone">
                </li>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>公司地址</em></label>
                    <input type="text" ng-verify="{}" ng-model="other.address">
                </li>
                <li>
                    <label ><em>使用人</em></label>
                    <input type="text" ng-model="other.user">
                </li>
                <li>
                    <label><em>使用日期</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image useDate" ng-model="other.useDate">
                </li>
                <li>
                    <label><em>评价</em></label>
                    <input type="text" ng-model="other.evaluate">
                </li>
                <li>
                    <label><em>备注</em></label>
                    <input type="text" ng-model="other.remark">
                </li>
                <li>
                    <label><em>是否发送邮件</em></label>
                    <select ng-model="other.send" class="sele">
                        <option value="">请填写是否发送邮件</option>
                        <option value=false >否</option>
                        <option value=true >是</option>
                    </select>
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="otherAddFun()">提交</button>
    </p>
</div>

<script type="text/javascript">

    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();


</script>