<div class="content-tab list">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>推荐开通时间</span>
            <span>推荐关闭时间</span>
            <span>奖励周期(天)</span>
            <span>奖励类型</span>
            <span>奖励内容</span>
            <span>奖励数量</span>
            <span>奖励发放方式</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="lists in strList" style="display: {{lists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p mod>{{$index+1+num}}</p>
                    <p mod>{{::lists.opentime}}</p>
                    <p mod>{{::lists.closeTime}}</p>
                    <p mod>{{::lists.awardCycle}}</p>
                    <p mod>{{::lists.awardType}}</p>
                    <p mod>{{::lists.awardContent}}</p>
                    <p mod>{{::lists.awardAmount}}</p>
                    <p mod>{{::lists.awardSendWay}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more" ng-click="moreList(lists)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{lists._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>奖励预算</span>
                                <span>奖励发放人</span>
                                <span>id编号</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{::lists.awardCost}}</span>
                                <span mod>{{::lists.awardGrantor}}</span>
                                <span mod>{{::lists.id}}</span>
                            </p>
                        </li>
                </ul>

            </div>
            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow"></div>

