<div class="content-tab list" style="margin-top: -70px;">
    <ul class="table com-table">
       <li class="list-head">
            <span></span>
            <span>地区</span>
            <span>项目组</span>
            <span>项目名称</span>
            <span>住宿地址</span>
            <span>员工姓名</span>
            <span>员工编号</span>
            <span>住宿开始时间</span>
            <span></span>
        </li>
        <!---->
        <li class="list-all">
            <section ng-repeat="list in waterLists"  style="display: {{list._delete?'none':'block'}};">
                <div  class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                <!-- 下面需要改动，看调用（需要改） -->
                    <p>{{$index+1}}</p>
                    <p>{{::list.area}}</p>
                    <p>{{::list.projectGroup}}</p>
                    <p>{{::list.projectName}}</p>
                    <p>{{::list.address}}</p>
                    <p>{{::list.name}}</p>
                    <p>{{::list.num}}</p>
                    <p>{{::list.stayStartTime}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more"  ng-click="moreList(list)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul style="display: {{list._moreList?'block':'none'}};">
                        <p class="see-parent height" style="background:#999;">
                            <span class="morel">住宿结束时间</span>
                            <span class="morel">住宿天数</span>
                            <span class="morel">房租公司缴纳</span>
                            <span class="morel">房租员工缴纳</span>
                            <span class="morel">当月应缴水费总额</span>
                            <span class="morel">水费公司缴纳</span>
                            <span class="morel">水费员工缴纳</span>
                            <span class="morel">当月应缴电费总额</span>
                        </p>
                        <p class="see-children height" style="background:rgba(0, 198, 255, 0.34)">
                            <span class="morep">{{::list.stayEndTime}}</span>
                            <span class="morep">{{::list.stayDay}}</span>
                            <span class="morep">{{::list.rentCompanyPay}}</span>
                            <span class="morep">{{::list.rentStaffPay}}</span>
                            <span class="morep">{{::list.waterAmount}}</span>
                            <span class="morep">{{::list.waterCompanyPay}}</span>
                            <span class="morep">{{::list.waterStaffPay}}</span>
                            <span class="morep">{{::list.energyAmount}}</span>
                        </p>
                        <p class="see-parent height" style="background:#999;">
                            <span class="morel">电费公司缴纳</span>
                            <span class="morel">电费员工缴纳</span>
                            <span class="morel">管道燃气费充值额度</span>
                            <span class="morel">燃气费公司缴纳</span>
                            <span class="morel">燃气费员工缴纳</span>
                            <span class="morel">员工应缴金额汇总</span>
                            <span class="morel">员工核实</span>
                            <span class="morel">综合资源部核实情况</span>  
                        </p>
                        <p class="see-children height" style="background:rgba(0, 198, 255, 0.34)">
                            <span class="morep">{{::list.energyCompanyPay}}</span>
                            <span class="morep">{{::list.energyStaffPay}}</span>
                            <span class="morep">{{::list.gasRechargeLines}}</span>
                            <span class="morep">{{::list.gasCompanyPay}}</span>
                            <span class="morep">{{::list.gasStaffPay}}</span>
                            <span class="morep">{{::list.staffPayCollect}}</span>
                            <span class="morep">{{::list.staffVerify}}</span>
                            <span class="morep">{{::list.comprehensiveVerifySituation}}</span>
                        </p>
                        <p class="see-parent height" style="background:#999;">
                            <span class="morel">扣款情况</span>
                            <span class="morel">备注</span>
                        </p>
                        <p class="see-children height" style="background:rgba(0, 198, 255, 0.34)">
                            <span class="morep">{{::list.deductionSituation}}</span>
                            <span class="morep">{{::list.remark}}</span>
                        </p>             
                    </ul>
                    <div class="module">
                        <div class="see-module">
                            <p class="see-type">体现类型</p>
                            <p class="see-description"></p>
                            <button class="btn">关闭</button>
                        </div>
                    </div>
                </div>
            </section>
        </li>
     </ul>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>
