<ul class="list">
    <li  ng-click="week()" ng-class="{'current':menuClass=='weekMenu'}" ui-sref=".week[12]" >
        <a href="javascript:void(0)" >周汇总<span>Week</span></a>
    </li>
    <li ng-click="month()" ng-class="{'current':menuClass=='monthMenu'}" ui-sref=".month[12]" >
        <a href="javascript:void(0)"  class="add">月汇总<span>Month</span></a>
    </li>
    <li  ng-click="area()"  ng-class="{'current':menuClass=='areaMenu'}" ui-sref=".area[12]">
        <a href="javascript:void(0)" class="same-one" >地区汇总<span>Area</span></a>
    </li>
    <li ng-click="projects()" ng-class="{'current':menuClass=='projectsMenu'}" ui-sref=".projects[12]">
        <a href="javascript:void(0)" class="same-two">项目汇总<span>Project</span></a>
    </li>
    <li ng-click="driver()" ng-class="{'current':menuClass=='driverMenu'}" ui-sref=".driver[12]">
        <a href="javascript:void(0)" class="same-two">司机汇总<span>Driver</span></a>
    </li>
</ul>