<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>项目测算</h3>
    <ul class="menu">
        <li ng-click="navClass('basicinfo')" ng-class="{'active':navCla=='basicinfo'}"  ui-sref="_root.projectmeasure.manage.basicinfo.list"><a href="javascript:void(0)">项目基本信息</a></li>
        <li ng-click="navClass('coststatus')" ng-class="{'active':navCla=='coststatus'}"  ui-sref="_root.projectmeasure.manage.coststatus.list"><a href="javascript:void(0)">项目费用情况
</a></li>
        <li ng-click="navClass('personDemand')" ng-class="{'active':navCla=='personDemand'}"  ui-sref="_root.projectmeasure.manage.personDemand.list"><a href="javascript:void(0)">项目人员需求
</a></li>
    </ul>
</div>
<div class="nav-list">
        <h3 class="header-menu big"><i class="nav-arrow"></i>工作界面</h3>
        <ul class="menu">
                 <li ng-click="navClass('ssui')" ng-class="{'active':navCla=='ssui'}"  ui-sref="_root.projectmeasure.interface.ssui.list"><a href="javascript:void(0)">单个项目单个界面
        </a></li>
                <li ng-click="navClass('smui')" ng-class="{'active':navCla=='smui'}"  ui-sref="_root.projectmeasure.interface.smui.list"><a href="javascript:void(0)">单个项目多个界面
        </a></li>
                <li ng-click="navClass('msui')" ng-class="{'active':navCla=='msui'}"  ui-sref="_root.projectmeasure.interface.msui.list"><a href="javascript:void(0)">多个项目单个界面
        </a></li>
                <li ng-click="navClass('mmui')" ng-class="{'active':navCla=='mmui'}"  ui-sref="_root.projectmeasure.interface.mmui.list"><a href="javascript:void(0)">多个项目多个界面
        </a></li>
        </ul>
</div>
<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>项目测算管理汇总</h3>
    <ul class="menu">
        <li ng-click="navClass('email')" ng-class="{'active':navCla=='email'}"  ui-sref="_root.projectmeasure.summary.email.list"><a href="javascript:void(0)">项目测算与汇总
        </a></li>
    </ul>
</div>


<!--  projectmeasure/marketserve    basicinfo                      -->