<div class="collect ">
    <div class="summary-select">
        <div class="select3">
            <label>开始时间：</label>
            <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="startTime">
        </div>
        <div class="select3">
            <label>结束时间：</label>
            <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="endTime">
        </div>
        <div class="select3">
            <label>项目组：</label>
            <input type="text" ng-model="project">
        </div>
    </div>
    <div class="summary-select">
        <div class="select3">
            <label>地区：</label>
            <input type="text" ng-model="area">
        </div>
        <div class="select3">
            <label>类别：</label>
            <input type="text" ng-model="type">
        </div>
        <div class="select3">
            <label>项目名称：</label>
            <input type="text" ng-model="name">
        </div>
        <button class="button" ng-click="collectFun()">汇总</button>
    </div>
    <ul class="sum-list">
        <li class="sum-thead">
            <span>地区</span>
            <span>年份</span>
            <span>月份</span>
            <span>目标其他费用</span>
            <span>实际其他费用</span>
            <span>比例</span>
            <span>差额</span>
        </li>
        <li class="sum-tbody" ng-repeat="list in data" style="background-color:{{list.area=='合计'?'yellow':''}};">
            <span>{{::list.area}}</span>
            <span>{{::list.year}}</span>
            <span>{{::list.month}}</span>
            <span>{{::list.target}}</span>
            <span>{{::list.actual}}</span>
            <span>{{::list.ratio}}</span>
            <span>{{::list.balance}}</span>
        </li>
    </ul>
</div>
<script type="text/javascript">
    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();
</script>