<div class="content-input boarding ">
    <div class="boa-title">
        <ul>
            <li ng-class="{ 'boa-cur' : tab.current == '_basic' }" ng-click="boardBtn('_basic')"><a href="javascript:void(0)">客户基本信息</a></li>
            <li ng-class="{ 'boa-cur' : tab.current == '_contact' }" ng-click="boardBtn('_contact')"><a href="javascript:void(0)">联系方式</a></li>
            <li ng-class="{ 'boa-cur' : tab.current == '_origanizion' }" ng-click="boardBtn('_origanizion')"><a href="javascript:void(0)">组织机构</a></li>
            <li ng-class="{ 'boa-cur' : tab.current == '_office' }" ng-click="boardBtn('_office')"><a href="javascript:void(0)">职务</a></li>
            <li ng-class="{ 'boa-cur' : tab.current == '_place' }" ng-click="boardBtn('_place')"><a href="javascript:void(0)">籍贯</a></li>
            <li ng-class="{ 'boa-cur' : tab.current == '_word' }" ng-click="boardBtn('_word')"><a href="javascript:void(0)">工作经历</a></li>
            <li ng-class="{ 'boa-cur' : tab.current == '_study' }" ng-click="boardBtn('_study')"><a href="javascript:void(0)">求学和培训经历</a></li>
            <li ng-class="{ 'boa-cur' : tab.current == '_hobby' }" ng-click="boardBtn('_hobby')"><a href="javascript:void(0)">爱好</a></li>
            <li ng-class="{ 'boa-cur' : tab.current == '_charact' }" ng-click="boardBtn('_charact')"><a href="javascript:void(0)">性格评价</a></li>
            <li ng-class="{ 'boa-cur' : tab.current == '_family' }" ng-click="boardBtn('_family')"><a href="javascript:void(0)">家庭成员</a></li>
        </ul>
    </div>
    <div class="boa-body" >
        <div ng-show="tab.current=='_basic'">
            <ul>
                <li style="display: none;">
                    <label><em>客户ID</em></label>
                    <input type="text" disabled value="{{details.id}}">
                </li>
                <li>
                    <label><em>客户信息编号</em></label>
                    <input type="text" disabled value="{{details.customerNum}}">
                </li>
                <li>
                    <label><em>姓名</em></label> <input type="text" disabled ng-model="details.customerBaseInfoVO.customerName">
                </li>
                <li>
                    <label><em>重要性级别</em></label> <input type="text" disabled value="{{details.customerBaseInfoVO.customerLevelVO.name}}">
                </li>
                <li>
                    <label><em>客户类别</em></label> <input type="text" disabled value="{{details.customerBaseInfoVO.customerType|cover}}">
                </li>
                <li>
                    <label><em>客户状态</em></label> <input type="text" disabled value="{{details.customerBaseInfoVO.customerStatus|cover}}">
                </li>
                <li>
                    <label><em>客户来源</em></label> <input type="text" disabled ng-model="details.customerBaseInfoVO.origin">
                </li>
                <li>
                    <label><em>关系程度</em></label> <input type="number" disabled ng-model="details.customerBaseInfoVO.relation">%
                </li>

                <li>
                    <label><em>性别</em></label> <input type="text" disabled value="{{details.customerBaseInfoVO.customerSex|cover}}">
                </li>
                <li class="last">
                    <label><em>年龄</em></label> <input type="number" ng-model="details.age" disabled>
                </li>
                <li class="big">
                    <label><em>出生年月日</em></label>
                    <input type="text"  disabled class="add_image " ng-model="details.birthday">
                </li>
                <li class="big">
                    <label><em>地区</em></label> <input type="text" disabled ng-model="details.customerBaseInfoVO.area">
                </li>
            </ul>
        </div>
        <div ng-show="tab.current=='_contact'">
            <ul>
                <li class="big">
                    <label><em>邮箱</em></label> <input type="text" disabled value="{{details.customerBaseInfoVO.cusEmail}}">
                </li>
                <li class="big">
                    <label><em>手机</em></label> <input type="text" disabled value="{{details.customerBaseInfoVO.tel}}">
                </li>
                <li class="big">
                    <label><em>座机</em></label> <input type="text" disabled value="{{details.customerBaseInfoVO.phone}}">
                </li>
                <li class="big">
                    <label><em>QQ /微信</em></label> <input type="text" disabled value="{{details.customerBaseInfoVO.qq}}">
                </li>
            </ul>
        </div>
        <div ng-show="tab.current=='_origanizion'">
            <ul>
                <li class="big">
                    <label><em>组织名称</em></label> <input type="text" disabled value="{{details.customerBaseInfoVO.origanizion}}">
                </li>
                <li class="big">
                    <label><em>组织规模</em></label> <input type="text" disabled value="{{details.customerBaseInfoVO.origanizationSize}}">
                </li>
            </ul>
        </div>
        <div ng-show="tab.current=='_office'">
            <ul>
                <li class="big">
                    <label><em>级别</em></label> <input type="text" disabled value="{{details.customerBaseInfoVO.workLevel}}">
                </li>
                <li class="big">
                    <label><em>岗位</em></label> <input type="text" disabled value="{{details.customerBaseInfoVO.workPosition}}">
                </li>
                <li class="big">
                    <label><em>职权</em></label> <input type="text" disabled value="{{details.customerBaseInfoVO.workRight}}">
                </li>
            </ul>
        </div>
        <div ng-show="tab.current=='_place'">
            <ul>
                <li class="big">
                    <label><em>生活地区</em></label> <input type="text" disabled value="{{details.customerBaseInfoVO.lifeArea}}">
                </li>
                <li class="big">
                    <label><em>成长地区</em></label> <input type="text" disabled value="{{details.customerBaseInfoVO.grouthArea}}">
                </li>
                <li class="big">
                    <label><em>以往工作地区</em></label> <input type="text" disabled value="{{details.customerBaseInfoVO.oldWorkPlace}}">
                </li>
            </ul>
        </div>
        <div ng-show="tab.current=='_word'">
            <ul>
                <li class="l-big">
                    <label><em>工作经历</em></label> <textarea ng-model="details.workExperience" disabled></textarea>
                </li>
            </ul>
        </div>
        <div ng-show="tab.current=='_study'">
            <ul>
                <li class="l-big">
                    <label><em>求学培训经历</em></label> <textarea ng-model="details.studyExperience" disabled></textarea>
                </li>
            </ul>
        </div>
        <div ng-show="tab.current=='_hobby'">
            <ul>
                <li class="l-big">
                    <label><em>爱好</em></label> <textarea class="big-input" ng-model="details.love" disabled></textarea>
                </li>
            </ul>
        </div>
        <div ng-show="tab.current=='_charact'">
            <ul>
                <li class="l-big">
                    <label><em>性格评价</em></label> <textarea class="big-input" ng-model="details.characterEvaluation" disabled></textarea>
                </li>
            </ul>
        </div>
        <div ng-show="tab.current=='_family'" ng-repeat="list in allFamilyView">
            <ul>
                <li class="big">
                    <label><em>称谓</em></label> <input type="text" ng-model="list.title" disabled>
                </li>
                <li class="big">
                    <label><em>姓名</em></label> <input type="text" ng-model="list.name" disabled>
                </li>
                <li class="big">
                    <label><em>联系方式</em></label> <input type="text" ng-model="list.relationWay" disabled>
                </li>
                <li class="big">
                    <label><em>性格爱好</em></label> <input type="text" ng-model="list.charactLove" disabled>
                </li>
                <li class="big">
                    <label><em>工作单位</em></label> <input type="text" ng-model="list.workPlace" disabled>
                </li>
                <li class="big">
                    <label><em>职位</em></label> <input type="text" ng-model="list.jobPost" disabled>
                </li>
                <li></li>
            </ul>
        </div>
    </div>
</div>
