<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>商业能力展示</h3>
    <ul class="menu">
        <li ng-click="navClass('companycap')" ng-class="{'active':navCla=='companycap'}"  ui-sref="_root.ability.companycap.list"><a href="javascript:void(0)">公司能力展示</a></li>
        <li ng-click="navClass('selfcap')" ng-class="{'active':navCla=='selfcap'}"  ui-sref="_root.ability.selfcap.list"><a href="javascript:void(0)">个人能力展示</a></li>
        <li ng-click="navClass('cooperation')" ng-class="{'active':navCla=='cooperation'}"  ui-sref="_root.ability.cooperation.list"><a href="javascript:void(0)">合作对象商务展示</a></li>
        <li ng-click="navClass('email')" ng-class="{'active':navCla=='email'}"  ui-sref="_root.ability.email.list"><a href="javascript:void(0)">汇总和邮件发送</a></li>
    </ul>
    <h3 class="header-menu big"><i class="nav-arrow"></i>设置</h3>
    <ul class="menu">
        <li ng-click="navClass('setting')" ng-class="{'active':navCla=='setting'}"  ui-sref="_root.ability.setting.list[12]" ><a href="javascript:void(0)">设置</a></li>
    </ul>
</div>