<ul class="list">
    <li  ng-click="list()" ng-class="{'current':menuClass=='listMenu'}" ui-sref=".list[12]" ng-show="LIST" ng-init="menuCheck('LIST')" >
        <a href="javascript:void(0)" >列表</a>
    </li>
    <li ng-click="collect()" ng-class="{'current':menuClass=='collectMenu'}" ui-sref=".collect[12]" ng-show="COLLECT" ng-init="menuCheck('COLLECT')">
        <a href="javascript:void(0)" class="same-three">汇总</a>
    </li>
    <li style="width: 11%" ng-click="theMonth2()" ng-class="{'current':menuClass=='theMonth2Menu','seeParent':idList}" ng-show="DETAIL" ng-init="menuCheck('DETAIL')">
        <a href="javascript:void(0)" class="same-two see">查询当月明细</a>
    </li>
</ul>