<div class="content-tab list">
    <ul class="table com-table">
        <li class="list-head">
            <span></span>
            <span class="data-id">id</span>
            <span>项目名称</span>
            <span>项目类别</span>
            <span>界面选择</span>
            <span>工作量</span>
            <span>利润</span>
            <span>项目比重</span>
            <span>项目利润对比</span>
            <span>界面利润对比</span>
        </li>
        <li class="list-all">
            <section ng-repeat="list in marketserveLists.data|filter:teamInfo" style="display: {{list._delete?'none':'block'}};">
                <div  class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p>{{$index+1}}</p>
                    <p class="data-id"></p>
                    <p>{{::list.projectName}}</p>
                    <p>{{::list.projectCategory | cover}}</p>
                    <p>{{::list.interfaceSelect | cover}}</p>
                    <p>{{::list.workload}}</p>
                    <p>{{::list.profit}}</p>
                    <p>{{::list.projectRatio}}</p>
                    <p>{{::list.projectProfitContrast}}</p>
                    <p>{{::list.interfaceProfitContrast}}</p>
                </div>
            </section>
        </li>
     </ul>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>