<div class="content-tab list">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span class="data-id">id</span>
            <span>地区</span>
            <span>业务类型</span>
            <span>业务方向科目</span>
            <span>客户基本信息</span>
            <span>备注</span>
        </li>
        <li class="list-all" ng-repeat="infoLists in targetLists" style="display: {{infoLists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{infoLists._selectList?'selectList':''}}" ng-click="selectList(infoLists)">
                    <p>{{$index+1}}</p>
                    <p class="data-id"></p>
                    <p>{{infoLists.area}}</p>
                    <p>{{infoLists.type}}</p>
                    <p>{{infoLists.course}}</p>
                    <p>{{infoLists.customer_id}}</p>
                    <p>{{infoLists.remark}}</p>
                </div>
            </section>
        </li>
    </ul>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>




