<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>回款管理</h3>
    <ul class="menu">
        <li ng-click="navClass('detail')" ng-class="{'active':navCla=='detail'}"  ui-sref="_root.payment.detail.list">
            <a href="javascript:void(0)">回款明细</a>
        </li>
        <li ng-click="navClass('contractor')" ng-class="{'active':navCla=='contractor'}"  ui-sref="_root.payment.contractor.list">
            <a href="javascript:void(0)">承包商</a>
        </li>
    </ul>
</div>
