<div class="nav-list" ng-repeat="list in showsList">
    <h3 class="header-menu big" ng-click="showMenu(list,true)"><i class="nav-arrow" ng-class="{true: '', false: 'change-angle'}[list.showIs]"></i>{{list.item}}</h3>
    <ul class="menu" ng-if="list.menuList.length"  ng-show="list.showIs" ng-repeat="menuInfo in list.menuList">
        <li ng-click="navClass('detail')" ng-class="{'active':navCla=='detail'}"  ui-sref="_root.payment.detail.list">
            <a href="javascript:void(0)">{{menuInfo.name}}</a>
        </li>
        <li ng-click="navClass('contractor')" ng-class="{'active':navCla=='contractor'}"  ui-sref="_root.payment.contractor.list">
            <a href="javascript:void(0)">{{menuInfo.name2}}</a>
        </li>
    </ul>
</div>
