<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>补助名称</em></label>
                    <div class="sele side">
                        <select class="sele" ng-model="addId.name"  ng-verify="{}">
                            <option >电脑补助</option>
                            <option >高温补助</option>
                            <option >工龄补助</option>
                            <option >住宿补助</option>
                        </select>
                        <input type="text"  class="inputDom"  ng-model="addId.name">
                    </div>
                </li>
                <li>
                    <label><em>标准</em></label>
                    <input type="text" ng-model="addId.standardForm">
                </li>

                <li>
                    <label><em>备注</em></label>
                    <input type="text"  ng-model="addId.remark">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="addPlanFun()">提交</button>
    </p>
</div>

<script type="text/javascript">

    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();


</script>