<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>组织结构</h3>
    <ul class="menu">
        <li ng-click="navClass('list[12]')" ng-class="{'active':navCla=='list[12]'}" ui-sref="_root.organize.views.list[12]"><a href="javascript:void(0)">组织结构视图</a></li>
    </ul>
</div>
<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>组织结构管理</h3>
    <ul class="menu">
        <li ng-click="navClass('number')" ng-class="{'active':navCla=='number'}" ui-sref="_root.organize.management.number.list"><a href="javascript:void(0)">编号设计信息</a></li>
        <li ng-click="navClass('system')" ng-class="{'active':navCla=='system'}" ui-sref="_root.organize.management.system.list"><a href="javascript:void(0)">体系</a></li>
        <li ng-click="navClass('department')" ng-class="{'active':navCla=='department'}" ui-sref="_root.organize.management.department.list"><a href="javascript:void(0)">部门</a></li>
        <li ng-click="navClass('postlevel')" ng-class="{'active':navCla=='postlevel'}" ui-sref="_root.organize.management.postlevel.list"><a href="javascript:void(0)" >岗位层级</a></li>
        <li ng-click="navClass('posts')" ng-class="{'active':navCla=='posts'}" ui-sref="_root.organize.management.posts.list"><a href="javascript:void(0)">岗位</a></li>
        <li ng-click="navClass('motype')" ng-class="{'active':navCla=='motype'}" ui-sref="_root.organize.management.motype.list"><a href="javascript:void(0)">模块类型</a></li>
        <li ng-click="navClass('userjop')" ng-class="{'active':navCla=='userjop'}" ui-sref="_root.organize.management.userjop.list"><a href="javascript:void(0)">用户职位</a></li>
        <li ng-click="navClass('joprange')" ng-class="{'active':navCla=='joprange'}" ui-sref="_root.organize.management.joprange.list"><a href="javascript:void(0)">项目部门工作范围</a></li>
        <li ng-click="navClass('operation')" ng-class="{'active':navCla=='operation'}" ui-sref="_root.organize.management.operation.list"><a href="javascript:void(0)">操作类型</a></li>
        <li ng-click="navClass('angle')" ng-class="{'active':navCla=='angle'}" ui-sref="_root.organize.management.angle.list"><a href="javascript:void(0)">角度</a></li>
        <li ng-click="navClass('dimen')" ng-class="{'active':navCla=='dimen'}" ui-sref="_root.organize.management.dimen.list"><a href="javascript:void(0)">维度</a></li>
        <li ng-click="navClass('sort')" ng-class="{'active':navCla=='sort'}" ui-sref="_root.organize.management.sort.list"><a href="javascript:void(0)">分类</a></li>
        <li ng-click="navClass('reflect')" ng-class="{'active':navCla=='reflect'}" ui-sref="_root.organize.management.reflect.list"><a href="javascript:void(0)">体现类别</a></li>
        <li ng-click="navClass('jopdes')" ng-class="{'active':navCla=='jopdes'}" ui-sref="_root.organize.management.jopdes.list"><a href="javascript:void(0)">岗位说明</a></li>
        <li ng-click="navClass('jopdetail')" ng-class="{'active':navCla=='jopdetail'}" ui-sref="_root.organize.management.jopdetail.list"><a href="javascript:void(0)">岗位工作明细</a></li>
    </ul>
</div>