<ul class="list">
    <li ng-click="list()" ng-class="{'current':menuClass=='listMenu'}" ui-sref=".list">
        <a href="javascript:void(0)" class="lis">列表<span>Tabulate</span></a>
    </li>
    <li ng-click="add()" ng-class="{'current':menuClass=='addMenu'}" ui-sref=".add[12]">
        <a href="javascript:void(0)" class="add">添加<span>Add</span></a>
    </li>
    <li ng-click="proAdd()" ng-class="{'current':menuClass=='proAddMenu'}">
        <a href="javascript:void(0)" class="add">项目上税金添加<span>proAdd</span></a>
    </li>
    <li ng-click="edit()" ng-class="{'current':menuClass=='editMenu'}">
        <a href="javascript:void(0)"  class="same-one">编辑<span>Edit</span></a>
    </li>
    <li ng-click="delete()" ng-class="{'current':menuClass=='deleteMenu'}">
        <a href="javascript:void(0)" class="same-two" >删除<span>Delete</span></a>
    </li>
    <li ng-click="share()" ng-class="{'current':menuClass=='shareMenu'}">
        <a href="javascript:void(0)" class="same-two" >分摊<span>Share</span></a>
    </li>
    <li ng-click="summary()" ng-class="{'current':menuClass=='summaryMenu'}" ui-sref=".summary[12]">
        <a href="javascript:void(0)" class="same-two" >公司汇总<span>Summary</span></a>
    </li>
    <li ng-click="tax()" ng-class="{'current':menuClass=='taxMenu'}" ui-sref=".tax[12]">
        <a href="javascript:void(0)" class="same-two" >税种汇总<span>Tax</span></a>
    </li>
</ul>