<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>分类</em></label>
                    <select class="sele" ng-model="editInfo.classify" ng-change="myFunc()">
                        <option value="" disabled>请选择</option>
                        <option ng-repeat="classic in classData">{{classic.hierarchy}}</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>部门</em></label>
                    <select class="sele" ng-model="depart">
                        <option value="" disabled>请选择</option>
                        <option ng-repeat="departs in companyNames">{{departs.department}}</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>占比标准</em></label>
                    <input type="text" ng-verify="{}" ng-model="editInfo.standard">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>决策层人数</em></label>
                    <input type="number" ng-verify="{}" ng-model="policyNum">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>管理层人数</em></label>
                    <input type="number" ng-verify="{}" ng-model="manNum">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>执行层人数</em></label>
                    <input type="number" ng-verify="{}" ng-model="executeNum">
                </li>
                <li>
                    <label><em>项目分类</em></label>
                    <input type="text" ng-model="project">
                </li>
                <li>
                    <label><em>调配人数</em></label>
                    <input type="number" ng-model="deployNum">
                </li>
                <li style="display: none">
                    <label><em>id</em></label>
                    <input type="text" ng-model="editInfo.id">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="basicEditFun()">提交</button>
    </p>
</div>
<script type="text/javascript">

    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();


</script>