<div class="content-tab list" verify-scope="tipStyle:1">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>地区</span>
            <span>项目组</span>
            <span>宿舍地址</span>
            <span>员工姓名</span>
            <span>员工编号</span>
            <span>入住时间</span>
            <span>入住床位</span>
           <span></span>
        </li>
        <li class="list-all" ng-repeat="lists in daySummaryLists" style="display: {{lists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p mod>{{$index+1+num}}</p>
                    <p mod>{{::lists.area}}</p>
                    <p mod>{{::lists.projectGroup}}</p>
                    <p mod>{{::lists.address}}</p>
                    <p mod>{{::lists.name}}</p>
                    <p mod>{{::lists.num}}</p>
                    <p mod>{{::lists.stayTime}}</p>
                    <p mod>{{::lists.stayBed}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more" ng-click="moreList(lists)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{lists._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>床上3件套(件)</span>
                                <span>被褥(件)</span>
                                <span>床垫</span>
                                <span>是否领用钥匙</span>
                                <span>当月是否离宿</span>
                                <span>离宿时间</span>
                                <span>当月统计住宿时间段</span>
                                <span>当月住宿天数</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{::lists.suit}}</span>
                                <span mod>{{::lists.bedding}}</span>
                                <span mod>{{::lists.mattress}}</span>
                                <span mod>{{::lists.receiveKey|cover}}</span>
                                <span mod>{{::lists.bed|cover}}</span>
                                <span mod>{{::lists.hostTime}}</span>
                                <span mod>{{::lists.stayWhen}}</span>
                                <span mod>{{::lists.stayNum}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span>需缴费金额</span>
                                <span>员工核实是否有误</span>
                                <!--<span>综合资源部核实</span>-->
                                <span>备注</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{::lists.expendAmount}}</span>
                                <span mod>{{::lists.employeeVerify|cover}}</span>
                                <!--<span mod>{{::lists.comprehensiveVerify}}</span>-->
                                <span mod>{{::lists.remark}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </li>
    </ul>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow"></div>




