<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>日期</em></label>
                    <input type="text" ng-model="add.date" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image date" >
                </li>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>地区</em></label>
                    <input type="text" ng-verify="{}" ng-model="add.area">
                </li>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>内部项目名称</em></label>
                    <input type="text" ng-verify="{}" ng-model="add.innerName">
                </li>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>到账金额</em></label>
                    <input type="number" ng-verify="{}" ng-model="add.accountMoney">
                </li>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>税金</em></label>
                    <input type="number" ng-verify="{}" ng-model="add.taxes">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="basicAddFun()">提交</button>
    </p>
</div>

<script type="text/javascript">
    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();
</script>