<div class="content-tab list">
    <ul class="table com-table">
        <li class="list-head">
            <span></span>
            <span class="data-id">id</span>
            <span>公司</span>
            <span>所属月份</span>
            <span>资料名称</span>
            <span>跟进人</span>
        </li>
        <li class="list-all">
            <section ng-repeat="list in accountLists.data" style="display: {{list._delete?'none':'block'}};">
                <div  class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p>{{$index+1}}</p>
                    <p class="data-id"></p>
                    <p>{{::list.company}}</p>
                    <p>{{::list.month}}</p>
                    <p>{{::list.dataName}}</p>
                    <p>{{::list.followUpPeople}}</p>
                </div>
            </section>
        </li>
     </ul>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>