<div class="collect">
    <div class="sum-select">
        <label><i><img src="/images/mandatory.png"></i><em>地区</em></label>
        <div class="select">
        <p class="select-text" >
        <span ng-repeat="name in firstCompany">{{name}}, </span>
       </p>
        <div class="mymultiselect" events="getSummary" ng-dropdown-multiselect="" options="alleAreas" selected-model="firstCompany" extra-settings="stringSettings"></div>
       </div>
    </div>
    <ul class="sum-list">
        <li class="sum-thead">
            <span>地区</span>
            <span>项目数量</span>
            <span>项目利润</span>
            <span>多项目多界面项目数量</span>
            <span>多项目单界面项目数量</span>
            <span>单项目多界面项目数量</span>
            <span>单项目单界面项目数量</span>
            <span>长期合作项目数量</span>
            <span>事项合作项目数量</span>
            <span>中介项目数量</span>
            <span>测评结果为盈利项目数量</span>
            <span>测评结果为亏损项目数量</span>
        </li>
        <li class="sum-tbody" ng-repeat="Lists in summaryLists">
            <span>{{::Lists.area}}</span>
            <span>{{::Lists.projectCount}}</span>
            <span>{{::Lists.projectProfit}}</span>
            <span>{{::Lists.mmProjectCount}}</span>
            <span>{{::Lists.mmProjectCount}}</span>
            <span>{{::Lists.smProjectCount}}</span>
            <span>{{::Lists.ssProjectCount}}</span>
            <span>{{::Lists.ssProjectCount}}</span>
            <span>{{::Lists.matterProjectCount}}</span>
            <span>{{::Lists.agencyProjectCount}}</span>
            <span>{{::Lists.agencyProjectCount}}</span>
            <span>{{::Lists.testDeficitProjectCount}}</span>
        </li>
    </ul>
</div>
