<div class="content-tab list" style="margin-top: -70px;">
    <ul class="table table-top">
        <li class="list-head">
            <span></span>
            <span>地区</span>
            <span>项目</span>
            <span>工期开始时间</span>
            <span>工期结束时间</span>
            <span>来源</span>
            <span>通知方式</span>
            <span>影响部门</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="lists in newLists" style="display: {{lists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p>{{$index+1}}</p>
                    <p>{{lists.area}}</p>
                    <p>{{lists.project}}</p>
                    <p>{{lists.startTime}}</p>
                    <p>{{lists.endTime}}</p>
                    <p>{{lists.source}}</p>
                    <p>{{lists.informWay}}</p>
                    <p>{{lists.affectDepartment}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more" ng-click="moreList(lists)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{lists._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>时间紧急度</span>
                                <span>责任人员</span>
                                <span>处理人员</span>
                                <span>反应类型</span>
                                <span>详细情况</span>
                                <span>受理开始时间</span>
                                <span>受理终止时间</span>
                                <span>经验总结</span>
                            </p>
                            <p class="see-children">
                                <span>{{lists.urgencyLevel}}</span>
                                <span>{{lists.dutyMan}}</span>
                                <span>{{lists.disposeMan}}</span>
                                <span>{{lists.responseType}}</span>
                                <span>{{lists.detail}}</span>
                                <span>{{lists.disposeStartTime}}</span>
                                <span>{{lists.disposeEndTime}}</span>
                                <span>{{lists.sufferSummary}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span>影响模块</span>
                                <span>规定完成时间</span>
                                <span>影响部门数</span>
                                <span>问题受理难度</span>
                                <span>是否按时完成</span>
                                <span>错误情况</span>
                                <span>错误类型</span>
                                <span>指标规定</span>
                            </p>
                            <p class="see-children">
                                <span>{{lists.affectModule}}</span>
                                <span>{{lists.stipulateFinishTime|cover}}</span>
                                <span>{{lists.affectDeptAmount|cover}}</span>
                                <span>{{lists.problemDifficulty|cover}}</span>
                                <span>{{lists.finishOnTime|cover}}</span>
                                <span>{{lists.errorCase|cover}}</span>
                                <span>{{lists.errorType|cover}}</span>
                                <span>{{lists.kpiStipulate|cover}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span>违约金确认单评分</span>
                            </p>
                            <p class="see-children">
                                <span>{{lists.grade}}</span>
                            </p>
                        </li>
                    </ul>
                    <div class="module">
                        <div class="see-module">
                            <p class="see-type">体现类型</p>
                            <p class="see-description"></p>
                            <button class="btn">关闭</button>
                        </div>
                    </div>
                </div>
            </section>
        </li>
    </ul>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>




