<!--Angular-UI-Router里的指令ui-sref-active 查看当前激活状态并设置 Class-->
<ul class="list">
    <li ng-click="departmentSummary()" ng-class="{'current':menuClass=='departmentSummaryMenu'}" ui-sref=".departmentSummary[12]" class="lis">
        <a href="javascript:void(0)" class="same-two">部门汇总<span>departmentSummary</span></a>
    </li>
    <li ng-click="departmentAnalyze()" ng-class="{'current':menuClass=='departmentAnalyzeMenu'}" ui-sref=".departmentAnalyze[12]">
        <a href="javascript:void(0)"  class="same-three">部门分析<span>departmentAnalyze</span></a>
    </li>
    <li ng-click="oneSummary()" ng-class="{'current':menuClass=='oneSummaryMenu'}" ui-sref=".oneSummary[12]">
        <a href="javascript:void(0)"  class="same-one" >个人汇总<span>oneSummary</span></a>
    </li>
    <li ng-click="areasAnalyze()" ng-class="{'current':menuClass=='areasAnalyzeMenu'}" ui-sref=".areasAnalyze[12]">
        <a href="javascript:void(0)"  class="same-three">地区分析<span>areasAnalyze</span></a>
    </li>
    <li ng-click="oneAnalyze()" ng-class="{'current':menuClass=='oneAnalyzeMenu'}" ui-sref=".oneAnalyze[12]">
        <a href="javascript:void(0)"  class="same-three">个人分析<span>oneAnalyze</span></a>
    </li>
    <li ng-click="areasSummary()" ng-class="{'current':menuClass=='areasSummaryMenu'}" ui-sref=".areasSummary[12]">
        <a href="javascript:void(0)" class="same-three" >地区汇总<span>areasSummary</span></a>
    </li>
</ul>