<div class="collect">
    <div class="collect-select" style="margin:20px 20px 20px 88px">
        <span>  
            年份:
            <input type="number" style="border:1px solid black;" ng-model="year">
        </span>
        <span>  
            月份:
            <input type="number" style="border:1px solid black;" ng-model="month">
        </span>
        <button ng-click="collect()">汇总</button>
    </div>
    <ul class="sum-list">
        <li class="sum-thead">
            <span>月份</span>
            <span>上月余额</span>
            <span>本月余额</span>
            <span>收入</span>
            <span>支出</span>
        </li>
        <li class="sum-tbody">
            <span>{{::recordLists.month}}</span>
            <span>{{::recordLists.lastBalance}}</span>
            <span>{{::recordLists.currentBalance}}</span>
            <span>{{::recordLists.income}}</span>
            <span>{{::recordLists.expenditure}}</span>
        </li>
    </ul>
</div>
