<div class="content-tab list">
    <div class="com-search mod">
        <span class="com-search2">
            <label>业务类型:</label>
            <input type="text"  ng-model="teamInfo.businessType">
        </span>
        <span class="com-search2">
            <label>业务方向科目:</label>
            <input type="text"  ng-model="teamInfo.businessSubject">
        </span>
        <span class="com-search2">
            <label>合作方式:</label>
            <input type="text"  ng-model="teamInfo.businessCooperate">
        </span>
        <span class="com-search2">
            <label>总包单位名称:</label>
            <input type="text"  ng-model="teamInfo.majorCompany">
        </span>
        <span class="com-search2">
            <label>分包单位名称:</label>
            <input type="text"  ng-model="teamInfo.subCompany">
        </span>
        <span class="com-search2">
            <label>地区:</label>
            <input type="text"  ng-model="teamInfo.area">
        </span>
        <span class="com-search2">
            <label>派工单名称:</label>
            <input type="text"  ng-model="teamInfo.dispatchProject">
        </span>
        <span class="com-search2">
            <label>派工单编号:</label>
            <input type="text"  ng-model="teamInfo.dispatchNum">
        </span>
    </div>
    <ul class="table" style="margin-top: 180px;">
        <li class="list-head">
            <span></span>
            <span>内部项目编号</span>
            <span>业务类型</span>
            <span>业务方向科目</span>
            <span>合同外部项目名称</span>
            <span>合同外部项目编号</span>
            <span>对应销售合同编号</span>
            <span>合作方式</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="lists in dispatchLists|filter:teamInfo" style="display: {{lists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p>{{$index+1}}</p>
                    <p>{{::lists.innerProjectNum}}</p>
                    <p>{{::lists.businessType}}</p>
                    <p>{{::lists.businessSubject}}</p>
                    <p>{{::lists.outerProject}}</p>
                    <p>{{::lists.outProjectNum}}</p>
                    <p>{{::lists.saleContractNum}}</p>
                    <p>{{::lists.businessCooperate}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more" ng-click="moreList(lists)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{lists._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>内部项目名称</span>
                                <span>地区</span>
                                <span>所属项目组</span>
                                <span>签订时间</span>
                                <span>项目负责人</span>
                                <span>派工单名称</span>
                                <span>派工单编号</span>
                                <span>总包单位名称</span>
                            </p>
                            <p class="see-children">
                                <span>{{::lists.innerProject}}</span>
                                <span>{{::lists.area}}</span>
                                <span>{{::lists.projectGroup}}</span>
                                <span>{{::lists.siginTime}}</span>
                                <span>{{::lists.projectCharge}}</span>
                                <span>{{::lists.dispatchProject}}</span>
                                <span>{{::lists.dispatchNum}}</span>
                                <span>{{::lists.majorCompany}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span>分包单位名称</span>
                                <span>客户名称</span>
                                <span>派工内容</span>
                                <span>开工日期</span>
                                <span>完工日期</span>
                                <span>派工金额</span>
                                <span>是否完工</span>
                                <span>合同是否已归档</span>
                            </p>
                            <p class="see-children">
                                <span>{{::lists.subCompany}}</span>
                                <span>{{::lists.customerName}}</span>
                                <span>{{::lists.dispatchText}}</span>
                                <span>{{::lists.startProjectTime}}</span>
                                <span>{{::lists.endProjectTime}}</span>
                                <span>{{::lists.money}}</span>
                                <span>{{::lists.completeProject}}</span>
                                <span>{{::lists.fileCondition}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span>合同归档数量</span>
                                <span>备注</span>
                            </p>
                            <p class="see-children">
                                <span>{{::lists.fileCount}}</span>
                                <span>{{::lists.remark}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span>合同归档数量</span>
                                <span>备注</span>
                            </p>
                            <p class="see-children">
                                <span>{{::lists.fileCount}}</span>
                                <span>{{::lists.remark}}</span>
                            </p>
                        </li>
                    </ul>
                    <div class="module">
                        <div class="see-module">
                            <p class="see-type">体现类型</p>
                            <p class="see-description"></p>
                            <button class="btn">关闭</button>
                        </div>
                    </div>
                </div>
            </section>
        </li>
    </ul>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>




