<div class="collect">
    <div class="sum-select">
        <label><i><img src="/images/mandatory.png"></i><em>地区</em></label>
        <div class="select">
        <p class="select-text" >
        <span ng-repeat="area in areas">{{area}}, </span>
       </p>
        <div class="mymultiselect" events="getSummary" ng-dropdown-multiselect="" options="workOptions" selected-model="areas" extra-settings="stringSettings"></div>
       </div>
    </div>
    <ul class="sum-list">
        <li class="sum-thead">
            <span>地区</span>
            <span>派工单名称</span>
            <span>派工单金额(元)</span>
            <span>已完工</span>
            <span>未完工</span>
        </li>
        <li class="sum-tbody" ng-repeat="Lists in summaryLists">
            <span>{{Lists.type}}</span>
            <span>{{Lists.dispatchProjectCount}}</span>
            <span>{{Lists.money}}</span>
            <span>{{Lists.complete}}</span>
            <span>{{Lists.notComplete}}</span>
        </li>
    </ul>
</div>
