<div class="content-input" verify-scope="tipStyle: 1">
    <div class="input-table">
        <section>
            <section>
                <ul>
                    <li class="table-head">
                        <span>凭证字号</span>
                        <span><i><img src="/images/mandatory.png"></i>凭证字</span>
                        <span><i><img src="/images/mandatory.png"></i>凭证日期</span>
                        <span><i><img src="/images/mandatory.png"></i>一级科目</span>
                        <span><i><img src="/images/mandatory.png"></i>二级科目</span>
                        <span>三级科目</span>
                        <span><i><img src="/images/mandatory.png"></i>借方金额</span>
                        <span><i><img src="/images/mandatory.png"></i>贷方金额</span>
                    </li>
                    <li class="input-body">
                        <p class="input-select">
                            <input type="number" class="same-input" disabled ng-model="editVoucher.voucherNum">
                        </p>
                        <div class="input-select">
                            <select class="sele" ng-model="editVoucher.voucherWord">
                                <option value="付">付</option>
                                <option value="转">转</option>
                                <option value="记">记</option>
                                <option value="收">收</option>
                            </select>
                            <input type="text" ng-verify="{}" class="inputSelect different edit-input" ng-model="editVoucher.voucherWord">
                        </div>
                        <p class="input-select">
                            <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image same-input voucherDate" ng-model="editVoucher.voucherDate">
                        </p>
                        <div class="input-select">
                            <span class="two-select">
                                <select class="sele" ng-model="editVoucher.firstSubjects" ng-change="changSelect()">
                                    <option value="">请选择</option>
                                    <option ng-repeat="first in firstLevel" value="{{first}}">{{first}}</option>
                                </select>
                                <input type="text" class="inputSelect edit-input" ng-verify="{}" ng-model="editVoucher.firstSubjects">
                            </span>
                        </div>
                        <div class="input-select">
                            <span class="two-select">
                                <select class="sele" ng-model="editVoucher.secondSubjects" ng-change="changThird()">
                                    <option value="">请选择</option>
                                    <option ng-repeat="second in secondLevel" value="{{second}}">{{second}}</option>
                                </select>
                                <input type="text" class="inputSelect edit-input" ng-verify="{}" ng-model="editVoucher.secondSubjects">
                            </span>
                        </div>
                        <div class="input-select">
                            <span class="two-select">
                                <select class="sele" ng-model="editVoucher.thirdSubjects">
                                    <option value="">请选择</option>
                                    <option ng-repeat="third in thirdLevel" value="{{third}}">{{third}}</option>
                                </select>
                                <input type="text" class="inputSelect edit-input" ng-model="editVoucher.thirdSubjects">
                            </span>
                        </div>
                        <div class="input-select">
                            <span class="two-select">
                                <input type="number" min="0" placeholder="0" class="same-input" disabled ng-model="editVoucher.borrowMoney">
                            </span>
                        </div>
                        <div class="input-select">
                            <span class="two-select">
                                <input type="number" min="0" placeholder="0" class="same-input" disabled ng-model="editVoucher.loanMoney">
                            </span>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li class="table-head">
                        <span><i><img src="/images/mandatory.png"></i>摘要</span>
                        <span><i><img src="/images/mandatory.png"></i>地区</span>
                        <span><i><img src="/images/mandatory.png"></i>项目名称</span>
                        <span><i><img src="/images/mandatory.png"></i>项目组</span>
                        <span><i><img src="/images/mandatory.png"></i>票据数量</span>
                        <span>制单人</span>
                        <span>借贷合计金额</span>
                        <span>附件</span>
                    </li>
                    <li class="input-body">
                        <p class="input-select">
                            <input type="text" class="same-input" ng-verify="{}" ng-model="editVoucher.sumary">
                        </p>
                        <div class="input-select">
                            <select class="sele" ng-model="editVoucher.area">
                                <option ng-repeat="area in allArea">{{area.area}}</option>
                            </select>
                            <input type="text" class="inputSelect" ng-verify="{}" ng-model="editVoucher.area">
                        </div>
                        <div class="input-select">
                            <select class="sele" ng-model="editVoucher.projectName">
                                <option value=""></option>
                                <option value=""></option>
                                <option value=""></option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                            <input type="text" class="inputSelect" ng-verify="{}" ng-model="editVoucher.projectName">
                        </div>
                        <div class="input-select">
                            <select class="sele" ng-model="editVoucher.projectGroup">
                                <option ng-repeat="team in allTeam">{{team.value}}</option>
                            </select>
                            <input type="text" class="inputSelect" ng-verify="{}" ng-model="editVoucher.projectGroup">
                        </div>
                        <p class="input-select">
                            <input type="number" min="0" placeholder="0" class="same-input" ng-verify="{}" ng-model="editVoucher.ticketNum">
                        </p>
                        <div class="input-select">
                            <select class="sele" ng-model="editVoucher.ticketer">
                                <option ng-repeat="username in allName">{{username.username}}</option>
                            </select>
                            <input type="text" class="inputSelect" ng-model="editVoucher.ticketer">
                        </div>
                        <p class="input-select">
                            <input type="number" min="0" placeholder="0" class="same-input" disabled ng-model="editVoucher.moneyTotal">
                        </p>
                        <p class="input-select">
                            <input type="text" class="same-input input-none" ng-model="editVoucher.extraFile">
                        </p>
                    </li>
                </ul>
            </section>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="generationEditFun()">提交</button>
    </p>
</div>

<script type="text/javascript">

    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();


</script>