<div class="content-tab list">
    <div class="search-big" style="display :{{ isView?'none':'block'}}">
        <select class="salc" ng-model="checkedName" ng-init="checkedName='业务类型'">
            <option ng-repeat="item in titles">{{item}}</option>
        </select>
        <select class="sle" ng-model="businessType" ng-show="checkedName=='业务类型'">
            <option value=""></option>
            <option value="MOBILECOMMUNICATION">移动通信类</option>
            <option value="SOFTDEVELOP">软件开发类</option>
            <option value="INTELLIGENCESYSTEM">智能系统集成类</option>
            <option value="ADVERT">广告策划营销类</option>
        </select>
        <input type="text" ng-model="businessSubject" ng-show="checkedName=='业务方向科目'">
        <select class="sle" ng-model="businessCooperate" ng-show="checkedName=='合作方式'">
            <option value=""></option>
            <option value="RENTCONTRACT">租赁合同</option>
            <option value="CHARCONTRACT">承包的项目合同</option>
            <option value="DISTRIBUTECONTRACT">分包项目合同</option>
            <option value="SALECONTRACT">销售合同</option>
        </select>
        <input type="text" ng-model="firstCompany" ng-show="checkedName=='甲方公司名称'">
        <input type="text" ng-model="secondCompany" ng-show="checkedName=='乙方公司名称'">
        <input type="text" ng-model="area" ng-show="checkedName=='地区'">
        <select class="sle" ng-model="contractProperty" ng-show="checkedName=='合同属性'">
            <option value=""></option>
            <option value="FRAMECONTRACT">框架合同</option>
            <option value="SINGLECONTRACT">单次合同</option>
        </select>
        <input type="text" ng-model="makeProject" ng-show="checkedName=='立项情况'">
        <a href="javascript:void(0)" ng-click="search()"><img src="/images/search2.png"></a>
    </div>
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>业务类型</span>
            <span>业务方向科目</span>
            <span>合作方式</span>
            <span>合同外部项目名称</span>
            <span>甲方公司名称</span>
            <span>乙方公司名称</span>
            <span>地区</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="lists in signingLists" style="display: {{lists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p mod>{{$index+1+num}}</p>
                    <p mod>{{::lists.businessType|sign}}</p>
                    <p mod>{{::lists.businessSubject}}</p>
                    <p mod>{{::lists.businessCooperate|sign}}</p>
                    <p mod>{{::lists.outerProject}}</p>
                    <p mod>{{::lists.firstCompany}}</p>
                    <p mod>{{::lists.secondCompany}}</p>
                    <p mod>{{::lists.area}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more" ng-click="moreList(lists)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{lists._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>合同金额</span>
                                <span>开工时间</span>
                                <span>完工时间</span>
                                <span>是否签订合同</span>
                                <span>合同属性</span>
                                <span>立项情况</span>
                                <span>内部项目名称</span>
                                <span>所属项目组</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{::lists.money}}</span>
                                <span mod>{{::lists.startProjectTime}}</span>
                                <span mod>{{::lists.endProjectTime}}</span>
                                <span mod>{{::lists.siginStatus}}</span>
                                <span mod>{{::lists.contractProperty|sign}}</span>
                                <span mod>{{::lists.makeProject}}</span>
                                <span mod>{{::lists.innerProject}}</span>
                                <span mod>{{::lists.projectGroup}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span>项目负责人</span>
                                <span>备注</span>
                                <span>总经办</span>
                                <span>审核意见</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{::lists.projectCharge}}</span>
                                <span mod>{{::lists.remark}}</span>
                                <span mod>{{::lists.manager}}</span>
                                <span mod>{{::lists.auditAdvice}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow"></div>




