<div class="content-tab list">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>补助名称</span>
            <span>标准</span>
            <span>备注</span>
            <span style="display:none">id</span>
        </li>
        <li class="list-all" ng-repeat="lists in TanceLi" style="display: {{lists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p mod>{{$index+1+num}}</p>
                    <p mod>{{::lists.name}}</p>
                    <p mod>{{::lists.standardForm}}</p>
                    <p mod>{{::lists.remark}}</p>
                    <p mod style="display:none">{{::lists.id}}</p>
                </div>
            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow"></div>

