<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li>
                    <label><em>名称</em></label>
                    <input type="text"ng-model="add.name">
                </li>
                <li>
                    <label><em>描述</em></label>
                    <input type="text"ng-model="add.description">
                </li>
                <li>
                    <label><em>创建时间</em></label>
                    <input type="text"ng-model="add.createTime">
                </li>
                <li>
                    <label><em>状态</em></label>
                    <select class="sele" ng-model="add.status" ng-init="add.status='THAW'">
                        <option value="THAW">解冻</option>
                        <option value="CONGEAL">冻结</option>
                        <option value="DELETE">删除</option>
                        <option value="NOACTIVE">未激活</option>
                        <option value="UNREVIEW">未审核 </option>
                    </select>
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="reflectAddFun()">提交</button>
    </p>
</div>
