<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>申请轮换等级</em></label>
                    <select class="sele le" ng-model="cover.applyLevelId" ng-change="changSelect()">
                        <option ng-repeat="applyLevelId in applyLevelIds" value="{{applyLevelId.id}}">{{applyLevelId.arrangement}}</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>申请轮换原因</em></label>
                    <input type="text" ng-verify="{}" ng-model="cover.reason">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="coverAddFun()">提交</button>
    </p>
</div>

<script type="text/javascript">

    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();


</script>