<div class="content-input" verify-scope="tipStyle: 1">
    <div class="input-list">
     <section>
            <ul>
                <li class="required">  
                    <label><i><img src="/images/mandatory.png"></i><em>日期</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="time" ng-model="data.recordDate">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>地区</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched area side">
                        <select ng-model="data.area" class="sele">
                            
                            <option ng-repeat="area in areas" value="{{area.area}}">{{area.area}}</option>
                        </select> 

                         <input type="text"  class="inputDom ng-valid ng-not-empty ng-dirty ng-touched" ng-model="data.area" ng-verify="{}">
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目组</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched projectGroup side">
                        <select ng-model="data.projectGroup" class="sele">
                            
                            <option ng-repeat="projectGroup in projectGroups" value="{{projectGroup.value}}">{{projectGroup.value}}</option>
                        </select> 

                         <input type="text"  class="inputDom ng-valid ng-not-empty ng-dirty ng-touched" ng-model="data.projectGroup" ng-verify="{}">
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目名称</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched project side">
                        <select ng-model="data.project" class="sele">
                            
                            <option ng-repeat="project in projects" value="{{project.value}}">{{project.value}}</option>
                        </select> 

                         <input type="text"  class="inputDom ng-valid ng-not-empty ng-dirty ng-touched" ng-model="data.project" ng-verify="{}">
                    </div>
                </li>
            
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>摘要</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.digest">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>收入</em></label>
                    <input type="text"  ng-verify="{}" ng-model="income">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>支出</em></label>
                    <input type="text"  ng-verify="{}" ng-model="expenditure">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="recordAddFun()">提交</button>
    </p>
</div>
