<div class="content-input" verify-scope="tipStyle: 1">
    <div class="input-list">
     <section>
            <ul>
                <li class="required">  
                    <label><i><!-- <img src="/images/mandatory.png"> --></i><em>发生时间</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="time1" ng-model="data.occurrence">
                </li>
                <!-- <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>地区</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched area side">
                        <select ng-model="data.area" class="sele">
                            <option value="请选择1">请选择1</option>
                            <option ng-repeat="area in areas" value="{{area.area}}">{{area.area}}</option>
                        </select> 
                         <input type="text"  class="inputDom ng-valid ng-not-empty ng-dirty ng-touched" ng-model="data.area" ng-verify="{}">
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目组</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched projectGroup side">
                        <select ng-model="data.project" class="sele">
                            <option value="请选择1">请选择1</option>
                            <option ng-repeat="project in projects" value="{{project.value}}">{{project.value}}</option>
                        </select> 
                         <input type="text"  class="inputDom ng-valid ng-not-empty ng-dirty ng-touched" ng-model="data.project" ng-verify="{}">
                    </div>
                </li> -->
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>姓名</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched projectName side">
                        <select ng-model="data.username" class="sele">
                            <option value="请选择1">请选择1</option>
                            <option ng-repeat="username in usernames" value="{{username.value}}">{{username.value}}</option>
                        </select> 

                         <input type="text"  class="inputDom ng-valid ng-not-empty ng-dirty ng-touched" ng-model="data.username" ng-verify="{}">
                    </div>
                </li>
                <!-- <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>工号</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.serialNumber">
                </li> -->

                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>指标名称</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched projectName side">
                        <select ng-model="data.name" class="sele">
                            <option value="请选择1">请选择1</option>
                            <option ng-repeat="name in names" value="{{name.name}}">{{name.name}}</option>
                        </select> 
                         <input type="text"  class="inputDom ng-valid ng-not-empty ng-dirty ng-touched" ng-model="data.name" ng-verify="{}">
                    </div>
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>原因</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.reason">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>分数</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.ballot">
                </li>
                <!-- <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>发起方</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.launch">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>奖励或处罚</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.status">
                </li> -->
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="punishmentAddFun()">提交</button>
    </p>
</div>
