<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>地区</em></label>
                    <div class="sele side">
                        <select class="sele" ng-model="editInfo.area">
                            <option value="" disabled>请选择</option>
                        </select>
                        <input type="text"  ng-verify="{}" class="inputDom" ng-model="editInfo.area">
                    </div>
                </li>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>类别</em></label>
                    <div class="sele side">
                        <select class="sele" ng-model="editInfo.type">
                            <option value="" disabled>请选择</option>
                            <option value="有效成本">有效成本</option>
                            <option value="无效成本">无效成本</option>
                        </select>
                    </div>
                </li>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>节点</em></label>
                    <div class="sele side">
                        <select class="sele" ng-model="editInfo.node">
                            <option value="" disabled>请选择</option>
                            <option ng-repeat="pros in proData">{{pros}}</option>
                        </select>
                    </div>
                </li>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>年份</em></label>
                    <div class="sele side">
                        <select class="sele" ng-model="editInfo.year">
                            <option value="" disabled>请选择</option>
                        </select>
                        <input type="text"  ng-verify="{}" class="inputDom" ng-model="editInfo.year">
                    </div>
                </li>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>月份</em></label>
                    <select ng-model="editInfo.month" class="sele" ng-verify="{}"
                            ng-options='x.id as x.name for x  in [{id:1,name:"1"},
                        {id:2,name:"2"},{id:3,name:"3"},{id:4,name:"4"},{id:5,name:"5"},{id:6,name:"6"}
                        ,{id:7,name:"7"},{id:8,name:"8"},{id:9,name:"9"},{id:10,name:"10"},{id:11,name:"11"},{id:12,name:"12"}]'
                    >
                        <option value="" disabled>请选择</option>
                    </select>
                </li>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>计划任务数</em></label>
                    <input type="number"  ng-verify="{}" ng-model="editInfo.taskPlan">
                </li>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>实际完工数</em></label>
                    <input type="number"  ng-verify="{}" ng-model="editInfo.taskActual">
                </li>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>计划人工</em></label>
                    <input type="number"  ng-verify="{}" ng-model="editInfo.artificialPlan">
                </li>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>实际人工</em></label>
                    <input type="number"  ng-verify="{}" ng-model="editInfo.artificialActual">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="basicEditFun()">提交</button>
    </p>
</div>

<script type="text/javascript">
    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();
</script>