<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>工作交接</h3>
    <ul class="menu">
        <li ng-click="navClass('means')" ng-class="{'active':navCla=='means'}"  ui-sref="_root.handover.means.list"><a href="javascript:void(0)">交接资料</a></li>
        <li ng-click="navClass('task')" ng-class="{'active':navCla=='task'}"  ui-sref="_root.handover.task.list"><a href="javascript:void(0)">任务交接</a></li>
        <li ng-click="navClass('equipment')" ng-class="{'active':navCla=='equipment'}"  ui-sref="_root.handover.equipment.list"><a href="javascript:void(0)">设备交接</a></li>
        <li ng-click="navClass('works')" ng-class="{'active':navCla=='works'}"  ui-sref="_root.handover.works.list"><a href="javascript:void(0)">工作交接</a></li>
        <li ng-click="navClass('times')" ng-class="{'active':navCla=='times'}"  ui-sref="_root.handover.times.list"><a href="javascript:void(0)">工作交接时间规范</a></li>
        <li ng-click="navClass('obligations')" ng-class="{'active':navCla=='obligations'}"  ui-sref="_root.handover.obligations.list"><a href="javascript:void(0)">工作交接责任义务</a></li>
    </ul>
</div>