<div class="collect">
    <div class="sum-select">
        <label><i><img src="/images/mandatory.png"></i><em>地区</em></label>
        <div class="select">
        <p class="select-text" >
        <span ng-repeat="area in areas">{{area}}, </span>
       </p>
        <div class="mymultiselect" events="getSummary" ng-dropdown-multiselect="" options="workOptions" selected-model="areas" extra-settings="stringSettings"></div>
       </div>
    </div>
    <ul class="sum-list">
        <li class="sum-thead">
            <span>地区</span>
            <span>互动联系信息数量</span>
            <span>留言数量</span>
            <span>需求记录数量</span>
            <span>直接合作方式数量</span>
            <span>中介合作发式数量</span>
            <span>达成合作数量</span>
            <span>未达成合作数量</span>
        </li>
        <li class="sum-tbody" ng-repeat="Lists in summaryLists">
            <span>{{Lists.remark}}</span>
            <span ng-repeat="count in Lists.collectDataList">{{count.counts}}</span>
        </li>
    </ul>
</div>
