<ul class="list width-10">
    <li ng-click="list()" ng-class="{'current':menuClass=='listMenu'}" ui-sref=".list">
        <a href="javascript:void(0)" class="lis">列表<span>Tabulate</span></a>
    </li>
    <li ng-click="postponement()" ng-class="{'current':menuClass=='postponementMenu'}">
        <a href="javascript:void(0)" class="same-two" >反过帐<span>Postponement</span></a>
    </li>
    <li ng-click="bill()" ng-class="{'current':menuClass=='billMenu'}">
        <a href="javascript:void(0)" class="same-two" >结账<span>Bill</span></a>
    </li>
    <li ng-click="subjectsSummary()" ng-class="{'current':menuClass=='subjectsSummaryMenu'}" ui-sref=".subjectsSummary[12]">
        <a href="javascript:void(0)" class="same-three" >科目汇总<span>CategorySummary</span></a>
    </li>
    <li ng-click="areasSummary()" ng-class="{'current':menuClass=='areasSummaryMenu'}" ui-sref=".areasSummary[12]">
        <a href="javascript:void(0)"  class="same-one">地区汇总<span>AreasSummary</span></a>
    </li>
    <li ng-click="teamSummary()" ng-class="{'current':menuClass=='teamSummaryMenu'}" ui-sref=".teamSummary[12]">
        <a href="javascript:void(0)" class="same-two" >项目组汇总<span>TeamSummary</span></a>
    </li>
    <li ng-click="projectSummary()" ng-class="{'current':menuClass=='projectSummaryMenu'}" ui-sref=".projectSummary[12]">
        <a href="javascript:void(0)"  class="same-one">项目名称汇总<span>ProjectSummary</span></a>
    </li>
</ul>