<div class="collect">
    <div class="collect-select" style="margin:20px 20px 20px 15px">
        <span class="sum">开始日期：<input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="inputter day" ng-model="summTime"></span>
        <button ng-click="summary()" style="margin-left:10px;" class="colbutton">汇总</button>
    </div>
    <ul class="sum-list">
        <li class="sum-thead Tspan">
            <span>姓名</span>
            <span>类型</span>
            <span>总数量</span>
            <span>总金额</span>
        </li>
        <li class="sum-tbody">
            <ul class="keng kleft kengFour">
                <span title="{{Lists.name3}}" ng-repeat="Lists in arr3" style="height:{{(Lists.length3*25) + 'px'}};line-height:{{(Lists.length3*25) + 'px'}}" >{{Lists.name3}}</span>
            </ul>
            <ul class="keng kengFour">
                <li class="keng1">
                    <span title="{{Lists.type}}" ng-repeat="Lists in data">{{Lists.type}}</span>
                </li>
            </ul>
            <ul class="keng kengFour">
                <li class="keng1">
                    <span title="{{Lists.totalNum}}" ng-repeat="Lists in data">{{Lists.totalNum}}</span>
                </li>
            </ul>
            <ul class="keng kengFour">
                <li class="keng1">
                    <span title="{{Lists.totalAmount}}" ng-repeat="Lists in data">{{Lists.totalAmount}}</span>
                </li>
            </ul>
        </li>
    </ul>
</div>
<script type="text/javascript">

    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();


</script>