<div class="content-input edit" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>投资人</em></label>
                    <select class="sele" ng-verify="{}" ng-model="editInfo.investor">
                        <option value="" disabled>请选择</option>
                        <option ng-repeat="sj in companys">{{sj}}</option>
                    </select>
                </li>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>协议投资金额</em></label>
                    <input type="number" ng-verify="{}" ng-model="editInfo.amountAagree">
                </li>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>累计投资金额</em></label>
                    <input type="number" ng-verify="{}" ng-model="editInfo.accumulativeInvestMoney">
                </li>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>投资方式</em></label>
                    <input type="text" ng-verify="{}" ng-model="editInfo.investForm">
                </li>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>投资项目</em></label>
                    <input type="text" ng-verify="{}" ng-model="editInfo.investProject">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>开工时间</em></label>
                    <input type="text" ng-model="editInfo.startProjectTime" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image startProjectTime" >
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>完工时间</em></label>
                    <input type="text" ng-model="editInfo.endProjectTime" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image endProjectTime" >
                </li>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>项目进度</em></label>
                    <input type="text" ng-verify="{}" ng-model="editInfo.projectProgress">
                </li>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>结算进度</em></label>
                    <input type="text" ng-verify="{}" ng-model="editInfo.settlementProgress">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>预计到账时间</em></label>
                    <input type="text" ng-model="editInfo.forecastArriveTime" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image forecastArriveTime" >
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>退出时间</em></label>
                    <input type="text" ng-model="editInfo.exitTime" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image exitTime" >
                </li>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>退出利率</em></label>
                    <input type="number" ng-verify="{}" ng-model="editInfo.exitInterestRate">
                </li>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>退出金额</em></label>
                    <input type="number" ng-verify="{}" ng-model="editInfo.exitMoney">
                </li>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>退出利息</em></label>
                    <input type="number" ng-verify="{}" ng-model="editInfo.exitInterest">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="basicEditFun()">提交</button>
    </p>
</div>

<script type="text/javascript">
    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();
</script>