<div class="content-input edit" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><em>项目问题编号</em></label>
                    <select class="sele" disabled  ng-model="resultEdit.projectNum" ng-change="changSelect()">
                        <option value="{{resultEdit.projectNum}}">{{resultEdit.projectNum}}</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>地区</em></label>
                    <input type="text" ng-model="resultEdit.area">
                </li>
                <li class="required">
                    <label><i></i><em>内部项目名称</em></label>
                    <input type="text" class="na" ng-model="resultEdit.internalProjectName">
                </li>
                 <li class="required">
                    <label><em>合同外部项目名称</em></label>
                    <input type="text" ng-model="resultEdit.externalContractProjectName">
                </li>
                <li class="required">
                    <label><em>年份</em></label>
                    <input type="text" ng-model="resultEdit.year">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>工程类型</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched area side">
                        <select  ng-model="resultEdit.projectType" class="sele">
                            <option value="承包">承包</option>
                            <option value="外包">外包</option>
                            <option value="租赁">租赁</option>
                        </select> 

                         <input type="text"  class="inputDom ng-valid ng-not-empty ng-dirty ng-touched" ng-model="resultEdit.projectType" ng-verify="{}">
                    </div>
                </li>

                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>问题对象</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched area side">
                        <select  ng-model="resultEdit.problemObject" class="sele">
                            <option value="运行商">运行商</option>
                            <option value="厂家">厂家</option>
                            <option value="集成商">集成商</option>
                            <option value="政府机关">政府机关</option>
                            <option value="内部员工">内部员工</option>
                        </select> 

                         <input type="text"  class="inputDom ng-valid ng-not-empty ng-dirty ng-touched" ng-model="resultEdit.problemObject" ng-verify="{}">
                    </div>
                </li>
                
                
               
                <li class="required">
                    <label><em>问题受理时间</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image addTime" ng-model="resultEdit.problemAcceptTime">
                </li>
                <li class="required">
                    <label><em>问题具体情况</em></label>
                    <input type="text" ng-model="resultEdit.problemSpecificSituation">
                </li>
                <li class="required">
                    <label><em>问题责任人员</em></label>
                    <input type="text" ng-model="resultEdit.problemResponsible">
                </li>
                <li class="required">
                    <label><em>问题处理人员</em></label>
                    <input type="text" ng-model="resultEdit.problemHandler">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>问题相关部门</em></label>
                    <div class="select multi1">
                        <p class="select-text">
                            
                            <input type="text" ng-model="resultEdit.problemRelevantDepartment" class="po">
                        </p>
                        <div class="mymultiselect" events="getSummary" ng-dropdown-multiselect="" options="workOptions" selected-model="condis" extra-settings="stringSettings"></div>
                    </div>
                </li>
                <li class="required">
                    <label><em>问题发生时间</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image occurrence" ng-model="resultEdit.problemOccurrenceTime">
                </li>
                <li class="required">
                    <label><em>问题发生地点</em></label>
                    <input type="text" ng-model="resultEdit.problemOccurrencePlace">
                </li>
                <li class="required">
                    <label><em>问题解决时间</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image solution" ng-model="resultEdit.problemSolveTime">
                </li>
                <li class="required">
                    <label><em>问题处理结果</em></label>
                    <select class="sele" ng-model="resultEdit.problemProcessingResult">
                        <option value="COMPLETE">完成</option>
                        <option value="UNFINISHED">未完成</option>
                    </select>
                </li>
                <li class="required">
                    <label><em>问题总结</em></label>
                    <input type="text" ng-model="resultEdit.problemConclusion">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="problemEditFun()">提交</button>
    </p>
</div>

<script type="text/javascript">

    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();


</script>