<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>业务类型</em></label>
                    <select class="sele" ng-model="basic.businessType" ng-verify="option:0">
                        <option value="">请选择</option>
                        <option value="MOBILECOMMUNICATION">移动通信类</option>
                        <option value="SOFTDEVELOP">软件开发类</option>
                        <option value="INTELLIGENCESYSTEM">智能系统集成类</option>
                        <option value="ADVERT">广告策划营销类</option>
                    </select>
                </li>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>业务方向科目</em></label>
                    <input type="text" ng-verify="{}" ng-model="basic.businessSubject">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>合同外部项目名称</em></label>
                    <input type="text" ng-verify="{}" ng-model="basic.outerProject">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>合同外部项目编号</em></label>
                    <input type="text" ng-verify="{}" ng-model="basic.outProjectNum">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>对应销售合同编号</em></label>
                    <input type="text" ng-verify="{}" ng-model="basic.saleContractNum">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>合作方式</em></label>
                    <select class="sele" ng-model="basic.businessCooperate" ng-verify="option:0">
                        <option value="">请选择</option>
                        <option value="RENTCONTRACT">租赁合同</option>
                        <option value="CHARCONTRACT">承包的项目合同</option>
                        <option value="DISTRIBUTECONTRACT">分包项目合同</option>
                        <option value="SALECONTRACT">销售合同</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>内部项目名称</em></label>
                    <input type="text" ng-verify="{}" ng-model="basic.innerProject">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>地区</em></label>
                    <input type="text" ng-verify="{}" ng-model="basic.area">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>所属项目组</em></label>
                    <input type="text" ng-verify="{}" ng-model="basic.projectGroup">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>签订时间</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image siginTime" ng-model="basic.siginTime">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>合同金额</em></label>
                    <input type="number" ng-verify="{}" ng-model="basic.money">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>开工时间</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image addTime" ng-model="basic.startProjectTime">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>完工时间</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image endTime" ng-model="basic.endProjectTime">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>合同期限</em></label>
                    <input type="text" ng-verify="{}" ng-model="basic.contractRang">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>甲方公司名称</em></label>
                    <input type="text" ng-verify="{}" ng-model="basic.firstCompany">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>甲方联系人</em></label>
                    <input type="text" ng-verify="{}" ng-model="basic.firstRelation">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>甲方联系人电话</em></label>
                    <input type="text" ng-verify="{}" ng-model="basic.firstTel">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>乙方公司名称</em></label>
                    <input type="text" ng-verify="{}" ng-model="basic.secondCompany">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目负责人</em></label>
                    <input type="text" ng-verify="{}" ng-model="basic.projectCharge">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目负责人电话</em></label>
                    <input type="text" ng-verify="{}" ng-model="basic.projectChargeTel">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>客户名称</em></label>
                    <input type="text" ng-verify="{}" ng-model="basic.customerName">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>合同内容</em></label>
                    <input type="text" ng-verify="{}" ng-model="basic.contractText">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>税率</em></label>
                    <input type="number" ng-verify="{}" ng-model="basic.rate">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>合同属性</em></label>
                    <select class="sele" ng-model="basic.contractProperty" ng-verify="option:0">
                        <option value="">请选择</option>
                        <option value="FRAMECONTRACT">框架合同</option>
                        <option value="SINGLECONTRACT">单次合同</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>支付方式</em></label>
                    <select class="sele" ng-model="basic.payWays" ng-verify="option:0">
                        <option value="">请选择</option>
                        <option value="CASH">现金</option>
                        <option value="BANK">银行汇兑</option>
                        <option value="ELECTRIC">电汇</option>
                        <option value="TRANSFERACCOUNTS">转账</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>付款比例</em></label>
                    <input type="text" ng-verify="{}" ng-model="basic.payRate">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>结算费用来源</em></label>
                    <select class="sele" ng-model="basic.payFeeOrigin" ng-verify="option:0">
                        <option value="">请选择</option>
                        <option value="PREPAY">预付</option>
                        <option value="BACKTOBACK">背靠背</option>
                        <option value="ADVANCE">垫付</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>合同是否已归档</em></label>
                    <select class="sele" ng-model="basic.fileCondition" ng-verify="option:0">
                        <option value="">请选择</option>
                        <option value="已归档">已归档</option>
                        <option value="未归档">未归档</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>合同归档数量</em></label>
                    <input type="number" ng-verify="{}" ng-model="basic.fileCount">
                </li>
                <li>
                    <label><em>内部项目编号</em></label>
                    <input type="text" disabled ng-model="basic.innerProjectNum">
                </li>
                <li>
                    <label><em>签订年份</em></label>
                    <input type="text" ng-model="basic.siginYear">
                </li>
                <li>
                    <label><em>备注</em></label>
                    <input type="text" ng-model="basic.remark">
                </li>
                <li>
                    <label><em>临时合同编号</em></label>
                    <input type="text" ng-model="basic.tempContractNum">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="basicAddFun()">提交</button>
    </p>
</div>

<script type="text/javascript">

    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();


</script>