<div class="content-tab list">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>客户姓名</span>
            <span>地区</span>
            <span>性别</span>
            <span>客户类别</span>
            <span>客户状态</span>
            <span>关系程度</span>
            <span>重要性级别</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="lists in businessLists" style="display: {{lists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p mod>{{$index+1+num}}</p>
                    <p mod>{{::lists.customerName}}</p>
                    <p mod>{{::lists.area}}</p>
                    <p mod>{{::lists.customerSex | cover}}</p>
                    <p mod>{{::lists.customerType | cover}}</p>
                    <p mod>{{::lists.customerStatus | cover}}</p>
                    <p mod>{{::lists.relation}}</p>
                    <p mod>{{::lists.customerLevelName}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more" ng-click="moreList(lists)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{lists._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>客户来源</span>
                                <span>第一介绍人姓名</span>
                                <span>邮箱</span>
                                <span>手机</span>
                                <span>座机</span>
                                <span>微信</span>
                                <span>QQ</span>
                                <span>岗位</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{::lists.origin}}</span>
                                <span mod>{{::lists.introducer}}</span>
                                <span mod>{{::lists.cusEmail}}</span>
                                <span mod>{{::lists.tel}}</span>
                                <span mod>{{::lists.phone}}</span>
                                <span mod>{{::lists.weChart}}</span>
                                <span mod>{{::lists.qq}}</span>
                                <span mod>{{::lists.workPosition}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span>职级</span>
                                <span>职权</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{::lists.workLevel}}</span>
                                <span mod>{{::lists.workRight}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow"></div>




