<div class="nav-list" ng-repeat="list in showsList">
    <h3 class="header-menu big" ng-click="showMenu(list,true)" ng-hide="isHide" ng-init="menuCheck()">
    <i class="nav-arrow" ng-class="{true: '', false: 'change-angle'}[list.showIs]"></i>
    {{list.item}}</h3>
    <ul class="menu" ng-if="list.menuList.length"  ng-show="list.showIs" ng-repeat="menuInfo in list.menuList">
        <li ng-click="navClass(menuInfo.msg)" ng-show="announcement"  ng-class="{'active':navCla==menuInfo.msg}"  ui-sref="_root.announcement.notice.list[12]" >
            <a href="javascript:void(0)">{{menuInfo.name}}</a>
        </li>
        <li ng-click="navClass('setting')"  ng-show="cuspermission" ng-class="{'active':navCla=='setting'}"  ui-sref="_root.announcement.setting.list[12]" >
            <a href="javascript:void(0)">{{menuInfo.name5}}</a>
        </li>
    </ul>
</div>