<ul class="list width-10">
    <li ng-click="list()" ng-class="{'current':menuClass=='listMenu'}" ui-sref=".list[12]">
        <a href="javascript:void(0)" class="lis">列表</a>
    </li>
    <li ng-click="upload()" ng-class="{'current':menuClass=='uploadMenu','seeParent':idListd}" ng-show="UPLOAD" ng-init="menuCheck('UPLOAD')">
        <a href="javascript:void(0)"  class="same-one see">上传附件</a>
    </li>
    <li ng-click="view()" ng-class="{'current':menuClass=='viewMenu','seeParent':idListd}" ng-show="SEEFILE" ng-init="menuCheck('SEEFILE')">
        <a href="javascript:void(0)" class="same-two see" >查看附件</a>
    </li>
    <li ng-click="export()" ng-class="{'current':menuClass=='exportMenu'}" ui-sref=".export[12]" ng-show="EXPORT" ng-init="menuCheck('EXPORT')">
        <a href="javascript:void(0)" class="same-one" >导出</a>
    </li>
    <li ng-click="subjectsSummary()" ng-class="{'current':menuClass=='subjectsSummaryMenu'}" ui-sref=".subjectsSummary[12]">
        <a href="javascript:void(0)" class="same-three" >科目汇总</a>
    </li>
    <li ng-click="areasSummary()" ng-class="{'current':menuClass=='areasSummaryMenu'}" ui-sref=".areasSummary[12]">
        <a href="javascript:void(0)"  class="same-one">地区汇总</a>
    </li>
    <li ng-click="teamSummary()" ng-class="{'current':menuClass=='teamSummaryMenu'}" ui-sref=".teamSummary[12]">
        <a href="javascript:void(0)" class="same-two" >项目组汇总</a>
    </li>
    <li ng-click="projectSummary()" ng-class="{'current':menuClass=='projectSummaryMenu'}" ui-sref=".projectSummary[12]">
        <a href="javascript:void(0)"  class="same-one">项目名称汇总</a>
    </li>
</ul>