<div class="content-input">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>级别名称</em></label>
                    <input type="text" ng-model="levelInfo.name">
                </li>
                <li>
                    <label><em>定义</em></label>
                    <input type="text" ng-model="levelInfo.remark">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-click="editLevel()">提交</button>
    </p>
</div>