<div class="content-input edit" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><em>姓名</em></label>
                    <input type="text" ng-model="depar.username">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>私人邮箱</em></label>
                    <input type="text" ng-model="depar.email" ng-verify="{}">
                </li>
                <li class="required">
                    <label><em>离职类型</em></label>
                    <select class="sele" ng-model="depar.type" ng-init="depar.type='NORMAL'">
                        <option value="NORMAL">正常离职</option>
                        <option value="ADVANCE">提前离职</option>
                        <option value="PRESUME">自离</option>
                        <option value="REFUSE">辞退</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>离职原因</em></label>
                    <input type="text" ng-model="depar.reason" ng-verify="{}">
                </li>
                <li class="required">
                    <label><em>员工状态</em></label>
                    <select class="sele" ng-model="depar.status" ng-init="depar.status='TRIAL'">
                        <option value="TRIAL">试用期员工</option>
                        <option value="FORMAL">正式员工</option>
                    </select>
                </li>
                <li class="required">  
                    <label><em>申请离职日期</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="time1" ng-model="depar.applyDate">
                </li>
                <li class="required">
                    <label><em>是否申请提前离职</em></label>
                    <select class="sele" ng-model="depar.advanceApply" ng-init="depar.advanceApply='true'">
                        <option value="true">是</option>
                        <option value="false">否</option>
                    </select>
                </li>
                <li class="required">  
                    <label><em>提前离职日期</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="time2" ng-model="depar.advanceDate">
                </li>
                <li class="required">
                    <label><em>提前离职原因</em></label>
                    <input type="text" ng-model="depar.advanceReason">
                </li>
                <li class="required">
                    <label><em>离职状态</em></label>
                    <select class="sele" ng-model="depar.dimission" ng-init="depar.dimission='APPLY'">
                        <option value="APPLY">申请离职</option>
                        <option value="FAIL">离职失败</option>
                        <option value="SUCCESS">成功离职</option>
                    </select>
                </li>
                <li class="required">  
                    <label><em>正常离职时间</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="time3" ng-model="depar.dimissionDate">
                </li>
                <li class="required">
                    <label><em>离职面谈负责人</em></label>
                    <input type="text" ng-model="depar.liable">
                </li>
                <li class="required">
                    <label><em>面谈内容</em></label>
                    <input type="text" ng-model="depar.content">
                </li>
                <li class="required">
                    <label><em>面谈意见</em></label>
                    <input type="text" ng-model="depar.liableOpinion">
                </li>
                <li class="required">
                    <label><em>项目经理</em></label>
                    <input type="text" ng-model="depar.manage">
                </li>
                <li class="required">
                    <label><em>项目经理面谈意见</em></label>
                    <input type="text" ng-model="depar.manageOpinion">
                </li>
                <li class="required">
                    <label><em>总经办审批意见</em></label>
                    <input type="text" ng-model="depar.generalOpinion">
                </li>
                <li class="required">
                    <label><em>通过提前离职</em></label>
                    <select class="sele" ng-model="depar.advance" ng-init="depar.advance='true'">
                        <option value="true">是</option>
                        <option value="false">否</option>
                    </select>
                </li>
                <li class="required">
                    <label><em>离职办理状态</em></label>
                    <select class="sele" ng-model="depar.handle" ng-init="depar.handle='PREPARE'">
                        <option value="PREPARE">预备离职</option>
                        <option value="NOT">未离职</option>
                        <option value="AFFIRM">确认离职</option>
                    </select>
                </li>
                <li class="required">
                    <label><em>薪资确认</em></label>
                    <select class="sele" ng-model="depar.salaryConfirmation" ng-init="depar.salaryConfirmation='NONE'">
                        <option value="NONE">未确认</option>
                        <option value="AFFIRM">确认</option>
                        <option value="DENY">否认</option>
                    </select>
                </li>
                <li class="required">
                    <label><em>离职确认情况</em></label>
                    <select class="sele" ng-model="depar.dimissionConfirmation" ng-init="depar.dimissionConfirmation='NONE'">
                        <option value="NONE">未确认</option>
                        <option value="AFFIRM">确认</option>
                        <option value="DENY">否认</option>
                    </select>
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="deparEditFun()">提交</button>
    </p>
</div>

<script type="text/javascript">

    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();


</script>