<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>市场招待</h3>
    <ul class="menu">
        <li ng-click="navClass('marketserve')" ng-class="{'active':navCla=='marketserve'}"  ui-sref="_root.marketActivity.marketserve.list"><a href="javascript:void(0)">市场招待申请</a></li>
        <li ng-click="navClass('email')" ng-class="{'active':navCla=='email'}"  ui-sref="_root.marketActivity.email.list"><a href="javascript:void(0)">市场招待申请汇总
</a></li>
        <li ng-click="navClass('servereCord')" ng-class="{'active':navCla=='servereCord'}"  ui-sref="_root.marketActivity.servereCord.list"><a href="javascript:void(0)">市场招待记录
</a></li>
        <li  ng-class="{'active':navCla==''}"  <a href="javascript:void(0)">市场招待记录汇总
</a></li>
    </ul>
</div>