<ul class="list">
    <li ng-click="list()" ng-class="{'current':menuClass=='listMenu'}" ui-sref=".list[12]"  class="lis" ng-show="LIST" ng-init="menuCheck('LIST')">
        <a href="javascript:void(0)" class="same-two">列表</a>
    </li>
    <li ng-click="import()" ng-class="{'current':menuClass=='importMenu'}" ui-sref=".import[12]" ng-show="IMPORT" ng-init="menuCheck('IMPORT')">
        <a href="javascript:void(0)" class="same-three" >导入</a>
    </li>
    <li ng-click="upload()" ng-class="{'current':menuClass=='uploadMenu','seeParent':idList}" ng-show="UPLOAD" ng-init="menuCheck('UPLOAD')">
        <a href="javascript:void(0)"  class="same-one see">上传附件</a>
    </li>
    <li ng-click="view()" ng-class="{'current':menuClass=='viewMenu','seeParent':idList}" ng-show="SEEFILE" ng-init="menuCheck('SEEFILE')">
        <a href="javascript:void(0)" class="same-two see" >查看附件</a>
    </li>
</ul>