<div class="content-tab list">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>项目组</span>
            <span>地区</span>
            <span>年份</span>
            <span>月份</span>
            <span>项目名称</span>
            <span>预计收入</span>
            <span>预计市场费</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="list in costLists" style="display: {{list._delete?'none':'block'}};">
            <section>
                <div class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p>{{$index+1+num}}</p>
                    <p mod>{{::list.project}}</p>
                    <p mod>{{::list.arrival}}</p>
                    <p mod>{{::list.year}}</p>
                    <p mod>{{::list.month}}</p>
                    <p mod>{{::list.projectName}}</p>
                    <p mod>{{::list.expectedIncome}}</p>
                    <p mod>{{::list.expectedMarketCost}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more"  ng-click="moreList(list)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{list._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>实际市场费</span>
                                <span>差额</span>
                                <span>预计占比</span>
                                <span>实际占比</span>
                                <span>预警</span>
                                <span>等级评定</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{::list.actualMarketCost}}</span>
                                <span mod>{{::list.differences}}</span>
                                <span mod>{{::list.expectedScale}}</span>
                                <span mod>{{::list.actualScale}}</span>
                                <span mod style="color: red">{{::list.warn}}</span>
                                <span mod>{{::list.grade}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="pagination.itemsCount" take="pagination.take" activate="pagination.activatePage"></pagination>
    </footer>
</div>
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow"></div>




