<div class="content-input edit" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required" style="display: none;">
                    <label><i><img src="/images/mandatory.png"></i><em>id</em></label>
                    <input type="text"  class=" disabled" disabled ng-model="editWeek.id">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>月份计划</em></label>
                    <input type="text"  class=" disabled" disabled ng-model="editWeek.month_id">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>总任务量</em></label>
                    <input type="number" ng-verify="{}" ng-model="editWeek.monthTotal">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>业务方向科目</em></label>
                    <select class="sele" ng-model="editWeek.course" ng-init="editWeek.course">
                        <option value="0">1</option>
                        <option value="1">2</option>
                        <option value="2">3</option>
                    </select>
                </li>
                <li class="required cycle">
                    <label><i><img src="/images/mandatory.png"></i><em>周期</em></label>
                    <input type="text" ng-verify="{}" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image addStartCycle" ng-model="editWeek.startCycle">
                    <input type="text" ng-verify="{}" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image addEndCycle" ng-model="editWeek.endCycle">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>各周工作量在整月占比</em></label>
                    <input type="number" ng-verify="{}" ng-model="editWeek.accounted">%
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>查询</em></label>
                    <input type="number" ng-verify="{}" ng-model="editWeek.inquire">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>了解</em></label>
                    <input type="number" ng-verify="{}" ng-model="editWeek.know">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>接触</em></label>
                    <input type="number" ng-verify="{}" ng-model="editWeek.contact">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>拜访</em></label>
                    <input type="number" ng-verify="{}" ng-model="editWeek.visit">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>活动</em></label>
                    <input type="number" ng-verify="{}" ng-model="editWeek.activity">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="weekPlanEditFun()">提交</button>
    </p>
</div>

<script type="text/javascript">

    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();


</script>