<div class="content-tab list">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>一级科目</span>
            <span>二级科目</span>
            <span>三级科目</span>
            <span>地区</span>
            <span>项目组</span>
            <span>项目名称</span>
            <span>日期</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="list in activityLists" style="display: {{list._delete?'none':'block'}};">
            <section>
                <div class="list-text">
                    <p>{{$index+1+num}}</p>
                    <p mod>{{::list.firstSubject}}</p>
                    <p mod>{{::list.secondSubject}}</p>
                    <p mod>{{::list.thirdSubject}}</p>
                    <p mod>{{::list.area}}</p>
                    <p mod>{{::list.projectGroup}}</p>
                    <p mod>{{::list.projectName}}</p>
                    <p mod>{{::list.voucherDate}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more"  ng-click="moreList(list)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{list._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>金额</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{::list.borrowMoney}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="pagination.itemsCount" take="pagination.take" activate="pagination.activatePage"></pagination>
    </footer>
</div>





