<div class="content-tab list">
    <div class="search-big" style="display :{{ isView?'none':'block'}}">
        <select class="salc" ng-model="checkedName" ng-init="checkedName='项目组'">
            <option ng-repeat="item in titles">{{item}}</option>
        </select>
        <input type="text" ng-model="projectGroup" ng-show="checkedName=='项目组'">
        <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="startDifference"  ng-show="checkedName=='开始时间'">
        <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="endDifference"  ng-show="checkedName=='结束时间'">
        <a href="javascript:void(0)" ng-click="search()"><img src="/images/search2.png"></a>
    </div>
    <ul class="table com-table">
        <li class="list-head">
            <span></span>
            <span>付款状态</span>
            <span>年份</span>
            <span>月份</span>
            <span>科目</span>
            <span>项目组</span>
            <span>准备金</span>
            <span>支付金额</span>
            <span></span>
        </li>
        <li class="list-all">
            <section ng-repeat="list in alreadyLists.data" style="display: {{list._delete?'none':'block'}};">
                <div  class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p mod>{{$index+1+num}}</p>
                    <p mod>{{::list.payStatus}}</p>
                    <p mod>{{::list.years}}</p>
                    <p mod>{{::list.month}}</p>
                    <p mod>{{::list.subjects}}</p>
                    <p mod>{{::list.projectGroup}}</p>
                    <p mod>{{::list.reserve}}</p>
                    <p mod>{{::list.payMoney}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more" ng-click="moreList(list)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{list._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>是否付款</span>
                                <span>付款时间</span>
                                <span>付款人</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{::list.turntable}}</span>
                                <span mod>{{::list.differenceTime}}</span>
                                <span mod>{{::list.payAuthor}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </li>
     </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow"></div>