<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>工商管理</h3>
    <ul class="menu">
        <li ng-click="navClass('registered')" ng-class="{'active':navCla=='registered'}"  ui-sref="_root.compete.registered.list"><a href="javascript:void(0)">工商注册年检变更</a></li>
        <li ng-click="navClass('information')" ng-class="{'active':navCla=='information'}"  ui-sref="_root.compete.information.list"><a href="javascript:void(0)">工商年检信息</a></li>
        <li ng-click="navClass('tax')" ng-class="{'active':navCla=='tax'}"  ui-sref="_root.compete.tax.list"><a href="javascript:void(0)">工商税务变更</a></li>
    </ul>
</div>