<div class="content-input" verify-scope="tipStyle: 1">
    <div class="input-list">
     <section>
            <ul>
                <li class="required">  
                    <label><i><img src="/images/mandatory.png"></i><em>工作交接开始时间</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="time1" ng-model="data.workJoinStartTime">
                </li>
                <li class="required">  
                    <label><i><img src="/images/mandatory.png"></i><em>工作交接结束时间</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="time2" ng-model="data.workJoinendTime">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>所属模块/组别</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.belongModule">
                </li>
                <li class="required">
                    <label><i><!-- <img src="/images/mandatory.png"> --></i><em>岗位</em></label>
                    <select class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched projectName yon1" ng-model="jobs">
                        <option value="数据通信工程师">数据通信工程师</option>
                        <option value="总经理">总经理</option>
                         <option value="嵌入式工程师">嵌入式工程师</option>
                        <option value="核心网工程师">核心网工程师</option>
                         <option value="商务助理">商务助理</option>
                        <option value="项目经理">项目经理</option>
                         <option value="人事助理">人事助理</option>
                        <option value="规划助理">规划助理</option>
                         <option value="技术工程师">技术工程师</option>
                        <option value="PHP工程师">PHP工程师</option>
                         <option value="工效模块负责人">工效模块负责人</option>
                        <option value="网优规划工程师">网优规划工程师</option>
                         <option value="人员素养模块负责人">人员素养模块负责人</option>
                        <option value="福利模块负责人">福利模块负责人</option>
                         <option value="综合素养模块助理">综合素养模块助理</option>
                        <option value="战略小组模块负责人">战略小组模块负责人</option>
                         <option value="商务轮值人">商务轮值人</option>
                        <option value="规划模块负责人">规划模块负责人</option>
                         <option value="软件工程师">软件工程师</option>
                        <option value="商务模块负责人">商务模块负责人</option>
                         <option value="福利模块助理">福利模块助理</option>
                        <option value="预算模块负责人">预算模块负责人</option>
                         <option value="数据分析师">数据分析师</option>
                        <option value="资金模块负责人">资金模块负责人</option>
                         <option value="项目模块负责人">项目模块负责人</option>
                        <option value="账务模块负责人">账务模块负责人</option>
                         <option value="战略规划员">战略规划员</option>
                        <option value="综合资源部轮值人">综合资源部轮值人</option>
                         <option value="会计助理">会计助理</option>
                        <option value="技术经理">技术经理</option>
                         <option value="运营商务部轮值人">运营商务部轮值人</option>
                        <option value="UI设计师">UI设计师</option>
                        <option value="前端开发工程师">前端开发工程师</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><!-- <img src="/images/mandatory.png"> --></i><em>工作交接原因</em></label>
                    <select class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched projectName yon2" ng-model="workJoinCause">
                        <option value="入职">入职</option>
                        <option value="离职">离职</option>
                        <option value="岗位轮换">岗位轮换</option>
                        <option value="请假">请假</option>
                        <option value="人员调动">人员调动</option>
                    </select>
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>工作范围</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.workScope">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>工作目的</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.workPurpose">
                </li>
                <li class="required">
                    <label><i><!-- <img src="/images/mandatory.png"> --></i><em>工作权限</em></label>
                    <select class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched projectName yon3" ng-model="workPermission">
                        <option value="制作">制作</option>
                        <option value="审核">审核</option>
                        <option value="汇总">汇总</option>
                        <option value="跟进">跟进</option>
                        <option value="协助">协助</option>
                        <option value="协调">协调</option>
                    </select>
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>交接人</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.successor">
                </li>
                <li class="required">
                    <label><i><!-- <img src="/images/mandatory.png"> --></i><em>交接人确认(是/否)</em></label>
                    <select class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched projectName yon4" ng-model="heir">
                        <option value="true">是</option>
                        <option value="false">否</option>
                    </select>
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>接手人</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.replacement">
                </li>
                <li class="required">
                    <label><i><!-- <img src="/images/mandatory.png"> --></i><em>接手人确认(是/否)</em></label>
                    <select class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched projectName yon5" ng-model="inheritor">
                        <option value="true">是</option>
                        <option value="false">否</option>
                    </select>
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>负责人</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.principal">
                </li>
                <li class="required">
                    <label><i><!-- <img src="/images/mandatory.png"> --></i><em>负责人确认(是/否)</em></label>
                    <select class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched projectName yon6" ng-model="head">
                        <option value="true">是</option>
                        <option value="false">否</option>
                    </select>
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="worksAddFun()">提交</button>
    </p>
</div>
