<div class="content-input" verify-scope="tipStyle: 1">
    <div class="input-list">
     <section>
            <ul>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>年份</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.year">
                </li>

                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>月份</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.month">
                </li>

                <li class="required">  
                    <label><i><img src="/images/mandatory.png"></i><em>计薪周期开始时间</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="timeOne" ng-model="data.salaryStart">
                </li>

                <li class="required">  
                    <label><i><img src="/images/mandatory.png"></i><em>计薪周期结束时间</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="timeTwo" ng-model="data.salaryEnd">
                </li>

                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>地区</em></label>
                    <select class="sele state nu" ng-model="data.area" ng-change="changSelect2()">
                        <option ng-repeat="area in areas" value="{{area.area}}">{{area.area}}</option>
                    </select>
                    <input type="text" class="inputSelect" ng-verify="{}" ng-model="data.area" style="position:absolute;width:360px;height:32px;border:none;">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>姓名</em></label>
                    <select class="sele state na" ng-model="data.name" ng-change="changSelect()">
                        <option ng-repeat="name in users" value="{{name.username}}">{{name.username}}</option>
                    </select>
                    <input type="text" class="inputSelect" ng-verify="{}" ng-model="data.name" style="position:absolute;width:360px;height:32px;border:none;">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>员工编号</em></label>
                    <select class="sele state nu" ng-model="data.employeeNumber" ng-change="changSelect2()">
                        <option ng-repeat="number in numbers" value="{{number.employeeNumber}}">{{number.employeeNumber}}</option>
                    </select>
                    <input type="text" class="inputSelect" ng-verify="{}" ng-model="data.employeeNumber" style="position:absolute;width:360px;height:32px;border:none;">
                </li>
                
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>部门</em></label>
                    <select class="sele state nu" ng-model="data.department" ng-change="changSelect2()">
                        <option ng-repeat="department in departments" value="{{department.value}}">{{department.value}}</option>
                    </select>
                    <input type="text" class="inputSelect" ng-verify="{}" ng-model="data.department" style="position:absolute;width:360px;height:32px;border:none;">
                </li>

                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>岗位</em></label>
                    <select class="sele state nu" ng-model="data.position" ng-change="changSelect2()">
                        <option ng-repeat="position in positions" value="{{position.value}}">{{position.value}}</option>
                    </select>
                    <input type="text" class="inputSelect" ng-verify="{}" ng-model="data.position" style="position:absolute;width:360px;height:32px;border:none;">
                </li>

                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>出勤天数</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.attendanceDays">
                </li>

                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>员工工资</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.salary">
                </li>

                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>电脑补助</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.cpSubsidy">
                </li>

                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>住宿补助</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.dormitorySubsidy">
                </li>

                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>工龄补助</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.yearSubsidy">
                </li>

                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>高温补助</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.hotSubsidy">
                </li>

                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>社保补助</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.socialSubsidy">
                </li>

                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>其他</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.anotherSubsidy">
                </li>

                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>剩余加班天数</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.overWorkDays">
                </li>

                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>假期加班天数</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.holidayWorkDays">
                </li>

                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>社保扣款</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.socialConsume">
                </li>

                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>水电扣款</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.dormitoryConsume">
                </li>

                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>扣分合计</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.deduction">
                </li>

                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>旷工天数</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.absenteeismDays">
                </li>

                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>请假天数</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.vacationDays">
                </li>

                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>是否缴纳个人所得税</em></label>
                    <select class="sele yon"  ng-model="ratepaying">
                        <option value="YES">是</option>
                        <option value="NOT">否</option>
                    </select>
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="salaryconfirmEditFun()">提交</button>
    </p>
</div>
