<div class="content-tab list">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>地区</span>
            <span>项目组</span>
            <span>项目组内部名称</span>
            <span>派工项目名称</span>
            <span>派工单编号</span>
            <span>派工合同号</span>
            <span>开工时间</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="list in basicinfoLists" style="display: {{list._delete?'none':'block'}};">
            <section  class="{{list.status=='CONGEAL'?'congeal':''}}" >
                <div class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p>{{$index+1}}</p>
                    <p>{{list.area}}</p>
                    <p>{{list.project}}</p>
                    <p>{{list.projectInner}}</p>
                    <p>{{list.projectDispatch}}</p>
                    <p>{{list.dispatchCode}}</p>
                    <p>{{list.dispatchContraCode}}</p>
                    <p>{{list.startTime}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more"  ng-click="moreList(list)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{list._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>完工时间</span>
                                <span>完工时间（单位：个月）</span>
                                <span>合同金额（单位：万元）</span>
                                <span>派工单位</span>
                                <span>合同规模数量</span>
                                <span>汇款周期</span>
                                <span>重点性</span>
                                <span>难易程度</span>
                            </p>
                            <p class="see-children">
                                <span>{{list.endTime}}</span>
                                <span>{{list.completeTime}}</span>
                                <span>{{list.contractMoney}}</span>
                                <span>{{list.dispatchUnit}}</span>
                                <span>{{list.contractScale}}</span>
                                <span>{{list.receivableNum}}</span>
                                <span>{{list.emphasis}}</span>
                                <span>{{list.difficulty}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </li>
    </ul>
    <footer class="footer">
        <pagination count="pagination.itemsCount" take="pagination.take" activate="pagination.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>





