<ul class="listsearch">
    <li>
        <label>开始时间</label>
        <input type="text" class="starttime"  onClick="laydate({istime: true, format: 'YYYY-MM-DD'})">
    </li>

    <li>
        <label>结束时间</label>
        <input type="text" class="endtime"  onClick="laydate({istime: true, format: 'YYYY-MM-DD'})">

    </li>
    <li><button ng-click="weekSum()">汇总</button></li>
</ul>
<div class="content-tab list">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>出车日期</span>
            <span>单号</span>
            <span>司机名称</span>
            <span>地区</span>
            <span>用车人</span>
            <span>项目</span>
            <span>项目组</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="list in listWeeks">
            <section>
                <div class="list-text">
                    <p>{{$index+1}}</p>
                    <p>{{list.date}}</p>
                    <p>{{list.number}}</p>
                    <p>{{list.driver}}</p>
                    <p>{{list.area}}</p>
                    <p>{{list.carUser}}</p>
                    <p>{{list.project}}</p>
                    <p>{{list.projectGroup}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more"  ng-click="moreList(list)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{list._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>科目</span>
                                <span>油费</span>
                                <span>加班时长</span>
                                <span>加班费</span>
                                <span>餐费补贴</span>
                                <span>停车/过路费</span>
                                <span>金额</span>
                            </p>
                            <p class="see-children">
                                <span>{{list.acctype}}</span>
                                <span>{{list.oilCost}}</span>
                                <span>{{list.overWorkTime}}</span>
                                <span>{{list.overWorkCost}}</span>
                                <span>{{list.mealCost}}</span>
                                <span>{{list.parkCost}}</span>
                                <span>{{list.roadCost}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </li>
    </ul>
</div>
<div ui-view="modal"></div>





