<div class="content-tab list">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span class="data-id">id</span>
            <span>客户信息编号</span>
            <span>客户姓名</span>
            <span>地区</span>
            <span>性别</span>
            <span>客户类别</span>
            <span>客户状态</span>
            <span>关系程度</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="list in basicinfoLists.data" style="display: {{list._delete?'none':'block'}};">
            <section  class="{{list.status=='CONGEAL'?'congeal':''}}" >
                <div class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p>{{$index+1}}</p>
                    <p class="data-id"></p>
                    <p class="addcusNum">{{list.customerNum}}</p>
                    <p>{{::list.customerName}}</p>
                    <p>{{::list.area}}</p>
                    <p>{{::list.customerSex|cover}}</p>
                    <p>{{::list.customerType|cover}}</p>
                    <p>{{::list.customerStatus|cover}}</p>
                    <p>{{::list.relation==null?'0':list.relation}}%</p>
                    <p>
                        <a href="javascript:void(0)" class="more"  ng-click="moreList(list)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{list._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>重要级别</span>
                                <span>客户来源</span>
                                <span>第一个介绍人姓名</span>
                                <span>邮箱</span>
                                <span>手机号</span>
                                <span>座机</span>
                                <span>微信</span>
                                <span>QQ</span>
                            </p>
                            <p class="see-children">
                                <span>{{list.customerLevelVO.name}}</span>
                                <span>{{list.origin}}</span>
                                <span>{{list.introducer}}</span>
                                <span>{{list.cusEmail}}</span>
                                <span>{{list.tel}}</span>
                                <span>{{list.phone}}</span>
                                <span>{{list.weChart}}</span>
                                <span>{{list.qq}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span>行业</span>
                                <span>组织机构名称</span>
                                <span>组织规模</span>
                                <span>岗位</span>
                                <span>职级</span>
                                <span>职权</span>
                                <span>生活地区</span>
                                <span>成长地区</span>
                            </p>
                            <p class="see-children">
                                <span>{{list.workProfession}}</span>
                                <span>{{list.origanizion}}</span>
                                <span>{{list.origanizationSize}}</span>
                                <span>{{list.workPosition}}</span>
                                <span>{{list.workLevel}}</span>
                                <span>{{list.workRight}}</span>
                                <span>{{list.lifeArea}}</span>
                                <span>{{list.grouthArea}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span>以往工作地区</span>
                                <span>客户详细信息完整度(%)</span>
                                <span>最近一次市场招待时间</span>
                                <span>最近一次更新人</span>
                                <span>更新时间</span>
                                <span>客户启用状态</span>
                            </p>
                            <p class="see-children">
                                <span>{{list.oldWorkPlace}}</span>
                                <span>{{list.infoComplet}}</span>
                                <span>{{list.marketReceptTime}}</span>
                                <span>{{list.modifyPersion}}</span>
                                <span>{{list.modifyTime}}</span>
                                <span>{{list.status|cover}}</span>
                            </p>
                        </li>
                    </ul>
                    <div class="module">
                        <div class="see-module">
                            <p class="see-type">体现类型</p>
                            <p class="see-description"></p>
                            <button class="btn">关闭</button>
                        </div>
                    </div>
                </div>
                <div class="thaw-modal">
                    <button ng-click="thaw(list)">解冻</button>
                </div>
            </section>
        </li>
    </ul>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>





