<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
    <section>
        <ul>
            <li class="required">
                <label><i><img src="/images/mandatory.png"></i><em>地区</em></label>
                <input type="text"  ng-verify="{}" ng-model="data.area">
            </li>
            <li class="required db">
                <label><i><img src="/images/mandatory.png"></i><em>发送间隔</em></label>
                <input type="number" ng-model="data.sendInterval" ng-verify="{}">
                <select class="sele" ng-model="data.sendIntervalType" ng-init="collectSendUnit='MINUTE'">
                    <option value="MINUTE">分钟</option>
                    <option value="HOUR">小时</option>
                    <option value="DAY">天</option>
                    <option value="WEEK">周</option>
                    <option value="MONTH">月</option>
                    <option value="QUARTER">季</option>
                    <option value="YEAR">年</option>
                </select>
            </li>
            <li class="required">
                <label><i><img src="/images/mandatory.png"></i><em>汇总间隔</em></label>
                <select class="sele" ng-model="data.collectInterval" ng-init="data.collectInterval='选择汇总间隔'"  ng-verify="{}">
                    <option >选择汇总间隔</option>
                    <option value="ONEDAY">天</option>
                    <option value="ONEWEEK">周</option>
                    <option value="ONEMONTH">月</option>
                </select>
            </li>
            <li>
                <label><em>备注</em></label>
                <input type="text" class="remark" ng-model="data.remark">
            </li>
            <li class="required">
                <label><i><img src="/images/mandatory.png"></i><em>选择对象</em></label>
                <select class="sele" ng-model="data.sendUser" ng-value="companyOrNames"  ng-verify="{}">
                    <option value="">请选择</option>
                    <option value="zd">zd</option>
                    <option ng-repeat="name in companyNames">{{name}}</option>
                </select>
                <input type="text" class="inputDom" ng-model="data.sendUser" ng-verify="{}">
            </li>
            <!--<li class="f-send">
                <p class="send-o">
                    <em>发送对象:</em>
                    <span>(双击可以删除该条邮箱地址)</span>
                </p>
                <p class="dclick">{{sendObjectList}}</p>
            </li>-->
        </ul>
    </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="emailAddFun()">提交</button>
    </p>
</div>
