<div class="content-tab list" style="margin-top: -70px;">
    <ul class="table com-table">
       <li class="list-head">
            <span></span>
            <span>缴费日期</span>
            <span>地区</span>
            <span>项目组</span>
            <span>项目名称</span>
            <span>租房地址</span>
            <span>房东姓名</span>
            <span>联系方式</span>
            <span></span>
        </li>
        <li class="list-all">
            <section ng-repeat="list in rentLists"  style="display: {{list._delete?'none':'block'}};">
                <div  class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p>{{$index+1}}</p>
                    <p>{{::list.payDate}}</p>
                    <p>{{::list.area}}</p>
                    <p>{{::list.projectGroup}}</p>
                    <p>{{::list.projectName}}</p>
                    <p>{{::list.address}}</p>
                    <p>{{::list.landlord}}</p>
                    <p>{{::list.contact}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more"  ng-click="moreList(list)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul style="display: {{list._moreList?'block':'none'}};">
                        <p class="see-parent height" style="background:#999;">
                            <span class="morel">账户名称</span>
                            <span class="morel">银行卡号</span>
                            <span class="morel">银行开户行</span>
                            <span class="morel">房屋交租方式</span>
                            <span class="morel">房屋交租频率</span>
                            <span class="morel">房租缴费日期</span>
                            <span class="morel">水电费缴费频率</span>
                            <span class="morel">水电费缴费日期</span>
                        </p>
                        <p class="see-children height" style="background:rgba(0, 198, 255, 0.34);">
                            <span class="morep">{{::list.accountTitle}}</span>
                            <span class="morep">{{::list.bankNumber}}</span>
                            <span class="morep">{{::list.bankAccount}}</span>
                            <span class="morep">{{::list.taxesWay}}</span>
                            <span class="morep">{{::list.taxesFequency}}</span>
                            <span class="morep">{{::list.rentDate}}</span>
                            <span class="morep">{{::list.paymentFrequency}}</span>
                            <span class="morep">{{::list.paymentDate}}</span>
                        </p>
                        <p class="see-parent height" style="background:#999;">
                            <span class="morel">房租（元/月）</span>
                            <span class="morel">管理费，卫生费</span>
                            <span class="morel">房租缴纳开始时间</span>
                            <span class="morel">房租缴纳结束时间</span>
                            <span class="morel">房租缴费方</span>
                            <span class="morel">水费初期数目</span>
                            <span class="morel">水费计价金额（元/吨）</span>
                            <span class="morel">水费期末数目</span>  
                        </p>
                        <p class="see-children height" style="background:rgba(0, 198, 255, 0.34)">
                            <span class="morep">{{::list.rent}}</span>
                            <span class="morep">{{::list.fee}}</span>
                            <span class="morep">{{::list.rentStartTime}}</span>
                            <span class="morep">{{::list.rentEndTime}}</span>
                            <span class="morep">{{::list.rentPay}}</span>
                            <span class="morep">{{::list.waterBeginNum}}</span>
                            <span class="morep">{{::list.waterValuationMoney}}</span>
                            <span class="morep">{{::list.waterEndNum}}</span>
                        </p>
                        <p class="see-parent height" style="background:#999;">
                            <span class="morel">用水量</span>
                            <span class="morel">水费缴纳金额</span>
                            <span class="morel">水费缴纳开始时间</span>
                            <span class="morel">水费缴纳结束时间</span>
                            <span class="morel">水费缴费方</span>
                            <span class="morel">电费初期数目</span>
                            <span class="morel">电费计价金额（元/吨）</span>
                            <span class="morel">电费期末数目</span>  
                        </p>
                        <p class="see-children height" style="background:rgba(0, 198, 255, 0.34)">
                            <span class="morep">{{::list.water}}</span>
                            <span class="morep">{{::list.waterPayMoney}}</span>
                            <span class="morep">{{::list.waterStartTime}}</span>
                            <span class="morep">{{::list.waterEndTime}}</span>
                            <span class="morep">{{::list.waterPay}}</span>
                            <span class="morep">{{::list.energyBeginNum}}</span>
                            <span class="morep">{{::list.energyValuationMoney}}</span>
                            <span class="morep">{{::list.energyEndNum}}</span>
                        </p>
                        <p class="see-parent height" style="background:#999;">
                            <span class="morel">用电量</span>
                            <span class="morel">电费缴纳金额</span>
                            <span class="morel">电费缴纳开始时间</span>
                            <span class="morel">电费缴纳结束时间</span>
                            <span class="morel">电费缴费方</span>
                            <span class="morel">管道燃气费充值额度</span>
                            <span class="morel">燃气费缴纳开始时间</span>
                            <span class="morel">燃气费缴纳结束时间</span>  
                        </p>
                        <p class="see-children height" style="background:rgba(0, 198, 255, 0.34)">
                            <span class="morep">{{::list.energy}}</span>
                            <span class="morep">{{::list.energyPayMoney}}</span>
                            <span class="morep">{{::list.energyStartTime}}</span>
                            <span class="morep">{{::list.energyEndTime}}</span>
                            <span class="morep">{{::list.energyPay}}</span>
                            <span class="morep">{{::list.gasRechargeLines}}</span>
                            <span class="morep">{{::list.gasStartTime}}</span>
                            <span class="morep">{{::list.gasEndTime}}</span>
                        </p>  
                        <p class="see-parent height" style="background:#999;">
                            <span class="morel">燃气费缴费方</span>
                            <span class="morel">缴纳金额汇总</span>
                            <span class="morel">运营财务部确认是否缴费</span>
                            <span class="morel">房租收费是否已邮寄到广州</span>
                            <span class="morel">房租收据附件</span>
                            <span class="morel">备注</span>
                            
                        </p>
                        <p class="see-children height" style="background:rgba(0, 198, 255, 0.34)">
                            
                            <span class="morep">{{::list.gasPay}}</span>
                            <span class="morep">{{::list.payMoneyCollect}}</span>
                            <span class="morep">{{::list.operatingPay}}</span>
                            <span class="morep">{{::list.rentMoneyMail}}</span>
                            <span class="morep">{{::list.rentReceiptAccessory}}</span>
                            <span class="morep">{{::list.remark}}</span>
                        </p>           
                    </ul>
                    <div class="module">
                        <div class="see-module">
                            <p class="see-type">体现类型</p>
                            <p class="see-description"></p>
                            <button class="btn">关闭</button>
                        </div>
                    </div>
                </div>
            </section>
        </li>
     </ul>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>
