<div class="content-tab list" style="margin-top: -70px;">
    <ul class="table com-table">
       <li class="list-head">
            <span></span>
            <span>公司名称</span>
            <span>报告年份</span>
            <span>提交日期</span>
            <span>状态（是否公告）</span>
            <span>年报</span>
        </li>
        <!---->
        <li class="list-all">
            <section ng-repeat="list in informationLists"  style="display: {{list._delete?'none':'block'}};">
                <div  class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                <!-- 下面需要改动，看调用（需要改） -->
                    <p>{{$index+1}}</p>
                    <p>{{::list.companyName}}</p>
                    <p>{{::list.reportYear}}</p>
                    <p>{{::list.submitDate}}</p>
                    <p>{{::list.status|cover}}</p>
                    <p>{{::list.annualReport}}</p>
                </div>
            </section>
        </li>
     </ul>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>
