<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>月份</em></label>
                    <input type="text" ng-verify="{}" ng-model="bonusAdd.month">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>总预算</em></label>
                    <input type="number" ng-verify="{}" ng-model="bonusAdd.totalBudget">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>奖金:经验值</em></label>
                    <input type="text" ng-verify="{}" ng-model="bonusAdd.ratio">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="bonusAddFun()">提交</button>
    </p>
</div>

<script type="text/javascript">

    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();


</script>