<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>应交税金</h3>
    <ul class="menu">
        <li ng-click="navClass('basicInfo')" ng-class="{'active':navCla=='basicInfo'}"  ui-sref="root.payable.basicInfo.list">
            <a href="javascript:void(0)">应交税金</a>
        </li>
        <li ng-click="navClass('taxInfo')" ng-class="{'active':navCla=='taxInfo'}"  ui-sref="root.payable.taxInfo.list">
            <a href="javascript:void(0)">项目上税金</a>
        </li>
    </ul>
</div>
