<div class="content-input editReward" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul ng-repeat="list in rewardProgramRatiosTOS">
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>奖励项目</em></label>
                    <input type="text" ng-verify="{}" ng-model="list.rewardProgram">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>当月侧重程度</em></label>
                    <input type="text" ng-verify="{}" ng-model="list.focusingDegree">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>当月预算范围</em></label>
                    <select class="sele" ng-model="list.budgetRange">
                        <option  ng-repeat="AllO in AllArea">{{AllO}}</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>奖金权重</em></label>
                    <input type="text" ng-verify="{}" ng-model="list.bonusWeight">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>奖金额度</em></label>
                    <input type="text" ng-verify="{}" ng-model="list.bonusLimit">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>荣誉衍生奖品权重</em></label>
                    <input type="text" ng-verify="{}" ng-model="list.honorWeight">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>荣誉衍生奖品额度</em></label>
                    <input type="number" ng-verify="{}" ng-model="list.honorLimit">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>经验值</em></label>
                    <input type="text" ng-verify="{}" ng-model="list.empiricalValue">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>经验值额度</em></label>
                    <input type="number" ng-verify="{}" ng-model="list.empiricalValueLimit">
                </li>
                <span class="but3" ng-click="addtra($index)">增加</span>
                <span class="{{$index==0?'but4':'but3'}}"  ng-click="cleartra($index)">移除</span>

            </ul>

        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="bonuseditRewardFun()">提交</button>
    </p>
</div>

<script type="text/javascript">

    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();


</script>
