<div class="collect ">
    <div class="collect-select">
        <span>日期：<input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" ng-model="search.date" class="searchtime"></span>
        <span>地区：<input type="text" ng-model="search.area"></span>
        <span>项目组：<input type="text" ng-model="search.project"></span>
        <span>节点：<input type="text" ng-model="search.node"></span>
        <button ng-click="collect()">汇总</button>
    </div>
    <ul class="sum-list">
        <li class="sum-thead">
            <span>日期</span>
            <span>地区</span>
            <span>项目组</span>
            <span>项目内部名称</span>
            <span>派工项目名称</span>
            <span>派工单号</span>
            <span>类别</span>
            <span>单位</span>
            <span>节点</span>
            <span>节点标准</span>
        </li>
        <li class="sum-tbody" ng-repeat="summaryList in summaryLists|filter:search" ng-model="tabTit">
            <span>{{summaryList.date}}</span>
            <span>{{summaryList.area}}</span>
            <span>{{summaryList.project}}</span>
            <span>{{summaryList.projectInner}}</span>
            <span>{{summaryList.projectDispatch}}</span>
            <span>{{summaryList.dispatchCode}}</span>
            <span>{{summaryList.type}}</span>
            <span>{{summaryList.unit}}</span>
            <span>{{summaryList.node}}</span>
            <span>{{summaryList.nodeStandard}}</span>
        </li>
    </ul>
</div>