<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <div class="collect-select">
                <span>年份：<input type="number" class="inputter" ng-model="year" ></span>
                <span>月份：<input type="number" class="inputter" ng-model="month" ></span>
            </div>
        </section>
    </div>
    <p class="dataBottom">
        <button ng-verify="{control:'myform'}" ng-click="workersAddFun()">导出</button>
    </p>
</div>