<div class="content-tab list">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>岗位层级</span>
            <span>补贴标准</span>
            <span>状态</span>
        </li>
        <li class="list-all" ng-repeat="lists in mailLists" style="display: {{lists._delete?'none':'block'}};">
            <section class="{{lists.status=='CONGEAL'?'congeal':''}}">
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p mod>{{$index+1+num}}</p>
                    <p mod>{{lists.arrangement}}</p>
                    <p mod>{{lists.standard}}</p>
                    <p mod>{{lists.status | cover}}</p>
                </div>
                
                <div class="thaw-modal">
                    <button ng-click="thaw(lists)">解冻</button>
                </div>
            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div class="delete mod" ng-show="congealShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要冻结这条数据？</p>
        <div class="btn">
            <button ng-click="conFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow||congealShow"></div>




