<div class="content-tab list" style="margin-top: -70px;">
    <ul class="table com-table">
       <li class="list-head">
            <span></span>
            <span>相关资料（名称）</span>
            <span></span>
        </li>
        <!---->
        <li class="list-all">
            <section ng-repeat="list in emailLists.data" class="{{list.status=='CONGEAL'?'congeal':''}}" style="display: {{list._delete?'none':'block'}};">
                <div  class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                <!-- 下面需要改动，看调用（需要改） -->
                    <p>{{$index+1}}</p>
                    <p>{{list.cursorAdapter}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more" ng-click="moreList(list)">更多详细</a>
                    </p>
                </div>
         
            </section>
        </li>
     </ul>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>
