<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>岗位</em></label>
                    <select class="sele" ng-model="edit.instructionId">
                        <option value="">请选择</option>
                        <option ng-repeat="position in positions" value="{{position.id}}">{{position.positionName}}</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>是否有模板</em></label>
                    <select class="sele" ng-model="edit.hasMould" ng-init="edit.hasMould='true'">
                        <option value=true>是</option>
                        <option value=false>否</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>汇报时间</em></label>
                    <input type="text"   onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" ng-model="edit.reportTime" class="time">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>汇报形式</em></label>
                    <input type="text"   ng-verify="{}" ng-model="edit.reportWay">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>汇报内容描述</em></label>
                    <input type="text"   ng-verify="{}"  ng-model="edit.reportContent">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>公示内容</em></label>
                    <input type="text"   ng-verify="{}"  ng-model="edit.publicity">
                </li>

                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>包含的附件</em></label>
                    <input type="text"   ng-verify="{}"  ng-model="edit.contain">
                </li>


                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>经验总结</em></label>
                    <input type="text"   ng-verify="{}"  ng-model="edit.summarize">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>联系方式</em></label>
                    <input type="text"   ng-verify="{}"  ng-model="edit.contact">
                </li>
                <li>
                    <label><em>模板储存位置</em></label>
                    <input type="text" ng-model="edit.mouldStorage">
                </li>
                <li>
                    <label><em>工作文件储存位置</em></label>
                    <input type="text" ng-model="edit.paperStorage">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="jopdetailEditFun()">提交</button>
    </p>
</div>
