<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目</em></label>
                    <select class="sele" ng-verify="{}"   ng-model="editInfo.projectInfoId">
                        <option value="" disabled>请选择</option>
                        <option ng-repeat="pros in labData" value="{{pros.id}}">{{pros.project}}</option>
                    </select>
                    <!-- <input type="text" class="inputDom" ng-verify="{}" ng-model="add.projectInfoId">-->
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>正常工资</em></label>
                    <input type="number" ng-verify="{}" ng-model="editInfo.normalSalary">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>加班工资</em></label>
                    <input type="number" ng-verify="{}" ng-model="editInfo.overtimeSalary">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>人员租赁费</em></label>
                    <input type="number" ng-verify="{}" ng-model="editInfo.staffLease">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>其他支出</em></label>
                    <input type="number" ng-verify="{}" ng-model="editInfo.another">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="labourEditFun()">提交</button>
    </p>
</div>
<script type="text/javascript">
    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();
</script>