<div class="content-tab list">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>项目名称</span>
            <span>答疑准备人</span>
            <span>答疑时间</span>
            <span>解答单位</span>
            <span>问题</span>
            <span>答复</span>
        </li>
        <li class="list-all" ng-repeat="lists in answerLists" style="display: {{lists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p>{{$index+1}}</p>
                    <p>{{lists.projectName}}</p>
                    <p>{{lists.peopleAnswerQuestions}}</p>
                    <p>{{lists.officeHour}}</p>
                    <p>{{lists.answersUnit}}</p>
                    <p>{{lists.problem}}</p>
                    <p>{{lists.reply}}</p>
                </div>
            </section>
        </li>
    </ul>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>




