<div class="content-input add" verify-scope="tipStyle: 1">  <!--表单验证插件-->
    <div class="input-list">
        <section>
            <ul>
                  <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>合同外部项目名称</em></label>
                      <div class="sele side">
                      <select class="sele" ng-model="add.outerName">
                          <option value="" disabled>请选择</option>
                     </select>
                    <input type="text"  class="inputDom" ng-verify="{}" ng-model="add.outerName">
                          </div>
                </li>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>内部项目名称</em></label>
                    <div class="sele side">
                    <select class="sele"  ng-model="add.innerName" >
                        <option value="" disabled>请选择</option>
                    </select>
                    <input type="text"  class="inputDom" ng-verify="{}" ng-model="add.innerName">
                        </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>销售合同号</em></label>
                    <div class="sele side">
                    <select class="sele" ng-model="add.saleNum">
                        <option value="" disabled>请选择</option>
                    </select>
                    <input type="text"  class="inputDom" ng-verify="{}" ng-model="add.saleNum">
                        </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>派工单编号</em></label>
                    <div class="sele side">
                    <select class="sele" ng-model="add.depatchNum">
                        <option value="" disabled>请选择</option>
                    </select>
                    <input type="text"  class="inputDom" ng-verify="{}" ng-model="add.depatchNum">
                        </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>工程地点</em></label>
                    <input type="text" ng-verify="{}" ng-model="add.enginPlace">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>完工情况</em></label>
                    <select class="sele" ng-verify="{}" ng-model="add.completeCondition">
                        <option value="" disabled>请选择</option>
                        <option>是</option>
                        <option>否</option>
                    </select>
                </li>
                <li>
                    <label><em>合同签订情况</em></label>
                    <input type="text" ng-model="add.signCondition">
                </li>
                <li>
                    <label><em>开工日期</em></label>
                    <input type="text" ng-model="add.startWorkTime" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image startWorkTime">
                </li>
                <li>
                    <label><em>计划完工日期</em></label>
                    <input type="text" ng-model="add.planCompleteTime" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image planCompleteTime">
                </li>
                <li>
                    <label><em>客户名称</em></label>
                    <input type="text" ng-model="add.customerName">
                </li>
                <li>
                    <label><em>客户负责人</em></label>
                    <input type="text" ng-model="add.customerCharger">
                </li>
                <li>
                    <label><em>客户联系电话</em></label>
                    <input type="text" ng-model="add.customerTel">
                </li>
                <li>
                    <label><em>施工单位</em></label>
                    <input type="text" ng-model="add.constructionUnit">
                </li>
                <li>
                    <label><em>工程督导</em></label>
                    <input type="text" ng-model="add.enginSupervision">
                </li>
                <li>
                    <label><em>项目经理</em></label>
                    <input type="text" ng-model="add.projectManager">
                </li>
                <li>
                    <label><em>内容</em></label>
                    <input type="text" ng-model="add.contents">
                </li>
                <li>
                    <label><em>完工时间</em></label>
                    <input type="text" ng-model="add.completeTime" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image completeTime">
                </li>
                <li>
                    <label><em>完工报告</em></label>
                    <input type="text" ng-model="add.completeReport">
                </li>
                <li>
                    <label><em>合同跟进</em></label>
                    <input type="text" ng-model="add.contractFollow">
                </li>
                <li>
                    <label><em>备注</em></label>
                    <input type="text" ng-model="add.remark">
                </li>
                 <li style="display: none">
                    <label><em>商务合同外部项目名称id</em></label>
                    <input type="text" ng-model="add.outerNameId">
                </li>
                <li style="display: none">
                    <label><em>市场信息记录内部项目名称id</em></label>
                    <input type="text" ng-model="add.innerNameId">
                </li>
                <li style="display: none">
                    <label><em>商务项目合同基本信息对应销售合同号id</em></label>
                    <input type="text" ng-model="add.saleNumId">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="projectAddFun()">提交</button>
    </p>
</div>

<script type="text/javascript">
    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();
</script>