<div class="content-tab list" style="margin-top: -70px;">
    <ul class="table table-top">
        <li class="list-head">
            <span></span>
            <span>名称</span>
            <span>百分比(管理费)</span>
            <span>备注</span>
            <span>创建时间</span>
            <span>状态</span>
        </li>
        <li class="list-all" ng-repeat="lists in contractorLists" style="display: {{lists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p>{{$index+1}}</p>
                    <p>{{lists.name}}</p>
                    <p>{{lists.percent}}</p>
                    <p>{{lists.remark}}</p>
                    <p>{{lists.creationTime}}</p>
                    <p>{{lists.status}}</p>
                </div>
            </section>
        </li>
    </ul>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>




