<div class="collect">
    <div class="collect-select" style="margin:20px 20px 20px 88px">
        <span>  
            年份:
            <input type="number" style="border:1px solid black;" ng-model="year" class="stime">
        </span>
        <span>  
            月份:
            <input type="number" style="border:1px solid black;" ng-model="month" class="stime">
        </span>
        <span>
            地区：
            <select ng-model="area" class="recordse">
                <option value="请选择1">请选择</option>
                <!-- <option value="请选择2">请选择2</option> -->
                <option ng-repeat="area in areas" value="{{area.area}}">{{area.area}}</option>
            </select>
            <input type="text" ng-model="area" class="recordin">
        </span>
        <span>
            项目组：
            <select ng-model="projectGroup" class="recordse">
                <option value="请选择1">请选择</option>
                <!-- <option value="请选择2">请选择2</option> -->
                <option ng-repeat="projectGroup in projectGroups" value="{{projectGroup.value}}">{{projectGroup.value}}</option>
            </select>
            <input type="text" ng-model="projectGroup" class="recordin">
        </span>
        <span>
            项目名称：
            <select ng-model="project" class="recordse">
                <option value="请选择1">请选择</option>
                <!-- <option value="请选择2">请选择2</option> -->
                <option ng-repeat="project in projects" value="{{project.value}}">{{project.value}}</option>
            </select>
            <input type="text" ng-model="project" class="recordin">
        </span>
        <button ng-click="collect()" class="aaa">汇总</button>
    </div>
    <ul class="sum-list">
        <li class="sum-thead">
            <span>时间</span>
            <span>收入</span>
            <span>支出</span>
            <span>地区</span>
            <span>项目名称</span>
            <span>项目组</span>
        </li>
        <li class="sum-tbody" ng-repeat="list in recordLists">
            <span mod>{{::list.recordDate}}</span>
            <span mod>{{::list.income}}</span>
            <span mod>{{::list.expenditure}}</span>
            <span mod>{{::list.area}}</span>
            <span mod>{{::list.project}}</span>
            <span mod>{{::list.projectGroup}}</span>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>