<div class="content-tab list">
    <div class="collect-select inputter">
        <span>年：<input type="number" class="year"  ></span>
        <span>月：<input type="number" class="month"  ></span>
        <span>
            公司：
            <select class="sele"  ng-model="department">
                <option ng-repeat="department in departments" value="{{department.value}}">{{department.value}}</option>
            </select>
            <!-- <input type="text"  class="inputArea" ng-model="department"> -->
        </span>
        <button ng-click="collect()">汇总</button>
    </div>
    <ul class="table" style="margin-top: 10px;">
       <li class="list-head">
            <span></span>
            <span>年份</span>
            <span>月份</span>
            <span>部门</span>
            <span>本月实发工资</span>
            <span>上月工资</span>
            <span>差额</span>
            <span>工增长率龄补助</span>
            <span>百分比</span>
        </li>

        <li class="list-all">
            <section ng-repeat="list in summaryLists"  style="display: {{list._delete?'none':'block'}};">
                <div  class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p>{{$index+1}}</p>
                    <p>{{::list.year}}</p>
                    <p>{{::list.month}}</p>
                    <p>{{::list.department}}</p>
                    <p>{{::list.salary}}</p>
                    <p>{{::list.lastSalary}}</p>
                    <p>{{::list.balance}}</p>
                    <p>{{::list.growUpRate}}</p>
                    <p>{{::list.percent}}</p>
                </div>
            </section>
        </li>
     </ul>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>