<div class="content-tab list">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>客户信息编号</span>
            <span>客户年龄</span>
            <span>出生年月</span>
            <span>工作经历</span>
            <span>求学经历</span>
            <span>爱好</span>
            <span>性格评价</span>
        </li>
        <li class="list-all" ng-repeat="detailList in detailLists" style="display: {{detailList._delete?'none':'block'}};">
            <section>
                <div class="list-text {{detailList._selectList?'selectList':''}}" ng-click="selectList(detailList)" >
                    <p>{{$index+1}}</p>
                    <p>{{detailList.customerNum}}</p>
                    <p>{{detailList.age}}</p>
                    <p>{{detailList.birthday}}</p>
                    <p>{{detailList.workExperience}}</p>
                    <p>{{detailList.studyExperience}}</p>
                    <p>{{detailList.love}}</p>
                    <p>{{detailList.characterEvaluation}}</p>
                </div>
            </section>
        </li>
    </ul>
</div>
<div ui-view="modal"></div>
<footer class="footer">
    <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
</footer>