<div class="collect">
    <div class="sum-select rent">
        <i><img src="/images/mandatory.png"></i><span>
            地区：
            <select class="sele"  ng-model="areas" style="width:120px;">
                <option ng-repeat="areas in area" value="{{areas}}">{{areas}}</option>
            </select>
        </span>
        <button ng-click="collect()">搜索</button>
    </div>
    <ul class="sum-list">
        <li class="sum-thead">
            <span>地区</span>
            <span>项目组</span>
            <span>项目名称</span>
            <span>租房地址</span>
            <span>房租（元/月）</span>
            <span>水费缴纳金额</span>
            <span>电费缴纳金额</span>
            <span>管道燃气费充值额度</span>
            <span>管理费，卫生费</span>
            <span>合计</span>
        </li>
        <li class="sum-tbody" ng-repeat="list in rentLists">
            <span>{{list.area}}</span>
            <span>{{list.projectGroup}}</span>
            <span>{{list.projectName}}</span>
            <span>{{list.address}}</span>
            <span>{{list.rent}}</span>
            <span>{{list.waterPayMoney}}</span>
            <span>{{list.energyPayMoney}}</span>
            <span>{{list.gasRechargeLines}}</span>
            <span>{{list.fee}}</span>
            <span>{{list.remark}}</span>
        </li>
    </ul>



    <!-- <ul class="table">
        <li class="list-head" style="text-align: center;">
            <span></span>
            <span>地区</span>
            <span>项目组</span>
            <span>项目名称</span>
            <span>租房地址</span>
            <span>房租（元/月）</span>
            <span>水费缴纳金额</span>
            <span>电费缴纳金额</span>
            <span>管道燃气费充值额度</span>
            <span>管理费，卫生费</span>
            <span>合计</span>
        </li>
        <li class="list-all">
            <section ng-repeat="list in rentLists" style="display: {{list._delete?'none':'block'}};text-align: center;">
                <div  class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p>{{$index+1}}</p>
                    <p>{{::list.area}}</p>
                    <p>{{::list.projectGroup}}</p>
                    <p>{{::list.projectName}}</p>
                    <p>{{::list.address}}</p>
                    <p>{{::list.rent}}</p>
                    <p>{{::list.waterPayMoney}}</p>
                    <p>{{::list.energyPayMoney}}</p>
                    <p>{{::list.gasRechargeLines}}</p>
                    <p>{{::list.fee}}</p>
                    <p>{{::list.remark}}</p>
                </div>
            </section>
        </li>
     </ul> -->
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>