<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>客户信息</h3>
    <ul class="menu">
        <li ng-click="navClass('basicinfo')" ng-class="{'active':navCla=='basicinfo'}"  ui-sref="_root.customer.basicinfo.list" ><a href="javascript:void(0)">客户基本信息</a></li>
        <li ng-click="navClass('detail')" ng-class="{'active':navCla=='detail'}" ui-sref="_root.customer.detail.list"><a href="javascript:void(0)">客户详细信息</a></li>
        <li ng-click="navClass('level')" ng-class="{'active':navCla=='level'}" ui-sref="_root.customer.level.list"><a href="javascript:void(0)" >客户级别设置</a></li>
        <li ng-click="navClass('email')" ng-class="{'active':navCla=='email'}" ui-sref="_root.customer.email.list"><a href="javascript:void(0)">邮件发送定制</a></li>
    </ul>
</div>