<div class="content-input conform" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>是否符合晋升条件</em></label>
                    <select class="sele" ng-model="apply.isConform" ng-verify>
                        <option value="">请填写晋升条件</option>
                        <option value=true>是</option>
                        <option value=false>否</option>
                    </select>
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="applyconformFun()">提交</button>
    </p>
</div>