<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>地区</em></label>
                    <div class="sele side">
                        <select class="sele" ng-model="outsourcing.area" ng-init="outsourcing.area='广州'">
                            <option value="广州">广州</option>
                            <option value="北京">北京</option>
                            <option value="深圳">深圳</option>
                            <option value="佛山">佛山</option>
                            <option value="江门">江门</option>
                            <option value="湛江">湛江</option>
                        </select>
                        <input type="text"  class="inputDom" ng-verify="{}" ng-model="outsourcing.area" ng-init="outsourcing.area='广州'">
                    </div>

                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目组</em></label>
                    <div class="sele side">
                        <select class="sele" ng-model="outsourcing.projectGroup" ng-init="outsourcing.projectGroup='项目组1'">
                            <option value="项目组1">项目组1</option>
                            <option value="项目组2">项目组2</option>
                            <option value="项目组3">项目组3</option>
                        </select>
                        <input type="text"  class="inputDom" ng-verify="{}" ng-model="outsourcing.projectGroup" ng-init="outsourcing.projectGroup='项目组1'">
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目名称</em></label>
                    <div class="sele side">
                        <select class="sele" ng-model="outsourcing.project" ng-init="outsourcing.project='系统'">
                            <option value="系统">系统</option>
                            <option value="通信">通信</option>
                            <option value="社群联盟">社群联盟</option>
                        </select>
                        <input type="text"  class="inputDom" ng-verify="{}" ng-model="outsourcing.project" ng-init="outsourcing.project='系统'">
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>类型</em></label>
                    <div class="sele side">
                        <select class="sele" ng-model="outsourcing.type" ng-init="outsourcing.type='项目上'">
                            <option value="项目上">项目上</option>
                            <option value="项目外">项目外</option>
                        </select>
                        <input type="text"  class="inputDom" ng-verify="{}" ng-model="outsourcing.type" ng-init="outsourcing.type='项目上'">
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>年份</em></label>
                    <select class="sele" ng-model="outsourcing.year" ng-init="outsourcing.year='2017'">
                        <option ng-repeat="year in outsourcingYear" value="{{year}}">{{year}}</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>月份</em></label>
                    <select class="sele" ng-model="outsourcing.month" ng-init="outsourcing.month='5'">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>目标管理费</em></label>
                    <input type="number" placeholder="0.00" ng-verify="{}" ng-model="outsourcing.targetFee">
                </li>
                <li>
                    <label><em>实际管理费</em></label>
                    <input type="number" placeholder="0.00" ng-model="outsourcing.actualFee">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="outsourcingAddFun()">提交</button>
    </p>
</div>

<script type="text/javascript">

    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();


</script>