<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><em>内部项目名称</em></label>
                    <select class="sele" ng-model="contractInProject">
                        <option value="">请选择</option>
                        <option ng-repeat="number in ssuiProjects" ng-verify="{}" value="{{number.contractInProject}}">{{number.contractInProject}}</option>
                    </select>
                </li>
                <!-- <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>开始日期</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="start">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>结束日期</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="end">
                </li> -->
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <button ng-verify="{control:'myform'}" ng-click="workersAddFun()">导出</button>
    </p>
</div>