<div class="content-tab list" style="margin-top: -70px;">
    <ul class="table com-table">
       <li class="list-head">
            <span></span>
            <span>上交日期</span>
            <span>发票金额</span>
            <span>上交人</span>
            <span>创建人</span>
            <span>修改人</span>
        </li>

        <li class="list-all">
            <section ng-repeat="list in invoicesubmitLists"  style="display: {{list._delete?'none':'block'}};">
                <div  class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p>{{$index+1}}</p>
                    <p>{{::list.submitDate}}</p>
                    <p>{{::list.amount}}</p>
                    <p>{{::list.name}}</p>
                    <p>{{::list.createUser}}</p>
                    <p>{{::list.modifyUser}}</p>
                </div>
            </section>
        </li>
     </ul>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>
