<div class="nav-list" ng-repeat="list in showsList">
    <h3 class="header-menu big" ng-click="showMenu(list,true)" ng-hide="isHide" ng-init="menuCheck()">
    <i class="nav-arrow" ng-class="{true: '', false: 'change-angle'}[list.showIs]"></i>
    {{list.item}}</h3>
    <ul class="menu" ng-if="list.menuList.length"  ng-show="list.showIs" ng-repeat="menuInfo in list.menuList">
        <li ng-click="navClass(menuInfo.msg)" ng-show="stayapply"  ng-class="{'active':navCla==menuInfo.msg}" ui-sref="_root.checkin.stayApply.list[12]" >
            <a href="javascript:void(0)">{{menuInfo.name1}}</a>
        </li>
        <li ng-click="navClass(menuInfo.msg)" ng-show="hostapply"  ng-class="{'active':navCla==menuInfo.msg}"
            ui-sref="_root.checkin.departureRequest.list[12]" >
            <a href="javascript:void(0)">{{menuInfo.name2}}</a>
        </li>
        <li ng-click="navClass(menuInfo.msg)"  ng-show="staydays" ng-class="{'active':navCla==menuInfo.msg}"  ui-sref="_root.checkin.daySummary.list[12]" >
            <a href="javascript:void(0)">{{menuInfo.name3}}</a>
        </li>
        <li ng-click="navClass(menuInfo.msg)"  ng-show="dormitoryinfo" ng-class="{'active':navCla==menuInfo.msg}"  ui-sref="_root.checkin.infoManage.list[12]" >
            <a href="javascript:void(0)">{{menuInfo.name4}}</a>
        </li>
        <li ng-click="navClass(menuInfo.msg)"  ng-show="cuspermission" ng-class="{'active':navCla==menuInfo.msg}"  ui-sref="_root.checkin.setting.list[12]" >
            <a href="javascript:void(0)">{{menuInfo.name6}}</a>
        </li>
    </ul>
</div>