<div class="content-tab list">
    <div class="collect-select" style="margin:20px 20px 20px 15px">
        <span class="sum">开始日期：<input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="inputter start" ng-model="start"></span>
        <span class="sum">结束日期：<input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="inputter end" ng-model="end"></span>
        <span class="sum mary">
            地区：
            <select class="sele"  ng-model="area" >
                <option value="请选择">请选择</option>
                <option ng-repeat="area in areas" value="{{area}}">{{area}}</option>
            </select>
            <input type="text"  class="inputArea" ng-model="area" >
        </span>
        <span class="sum mary">
            项目组：
            <select class="sele"  ng-model="project" >
                <option value="请选择">请选择</option>
                <option ng-repeat="project in targets" value="{{project.project}}">{{project.project}}</option>
            </select>
            <input type="text"  class="inputArea" ng-model="project" style="left: 61px;">
        </span>
        <button ng-click="collect()" style="margin-left:10px;">汇总</button>
    </div>
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>发生时间</span>
            <span>地区</span>
            <span>项目组</span>
            <span>姓名</span>
            <span>工号</span>
            <span>奖励总次数</span>
            <span>奖励总分</span>
            <span>处罚次数</span>
            <span>处罚总分</span>
            <span>最后得分</span>
        </li>
        <li class="list-all">
            <section ng-repeat="list in punishmentLists" style="display: {{list._delete?'none':'block'}};">
                <div  class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p></p>
                    <p>{{::list.occurrence}}</p>
                    <p>{{::list.area}}</p>
                    <p>{{::list.project}}</p>
                    <p>{{::list.username}}</p>
                    <p>{{::list.serialNumber}}</p>
                    <p>{{::list.reward}}</p>
                    <p>{{::list.rewardTotal}}</p>
                    <p>{{::list.push}}</p>
                    <p>{{::list.pushTotal}}</p>
                    <p>{{::list.total}}</p>
                    
                </div>
            </section>
        </li>
     </ul>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>