<ul class="list width-10">
    <li ng-click="list()" ng-class="{'current':menuClass=='listMenu'}" ui-sref=".list">
        <a href="javascript:void(0)" class="lis">列表<span>Tabulate</span></a>
    </li>
    <li ng-click="edit()" ng-class="{'current':menuClass=='editMenu'}" style="width: 15%">
        <a href="javascript:void(0)"  class="same-one">记账凭证编辑拆分<span>Edit</span></a>
    </li>
    <li ng-click="delete()" ng-class="{'current':menuClass=='deleteMenu'}">
        <a href="javascript:void(0)" class="same-two" >删除<span>Delete</span></a>
    </li>
    <li ng-click="review()" ng-class="{'current':menuClass=='reviewMenu'}">
        <a href="javascript:void(0)" class="same-three" >审核<span>Review</span></a>
    </li>
</ul>