<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>项目测算</h3>
    <ul class="menu">
        <li ng-click="navClass('basicinfo')" ng-class="{'active':navCla=='basicinfo'}"  ui-sref="_root.projectmeasure.basicinfo.list"><a href="javascript:void(0)">项目基本信息</a></li>
        <li ng-click="navClass('email')" ng-class="{'active':navCla=='email'}"  ui-sref="_root.projectmeasure.email.list"><a href="javascript:void(0)">项目测算与邮件
</a></li>
        <li ng-click="navClass('coststatus')" ng-class="{'active':navCla=='coststatus'}"  ui-sref="_root.projectmeasure.coststatus.list"><a href="javascript:void(0)">项目费用情况
</a></li>
        <li ng-click="navClass('mmui')" ng-class="{'active':navCla=='mmui'}"  ui-sref="_root.projectmeasure.mmui.list"><a href="javascript:void(0)">多个项目多个界面
</a></li>
        <li ng-click="navClass('msui')" ng-class="{'active':navCla=='msui'}"  ui-sref="_root.projectmeasure.msui.list"><a href="javascript:void(0)">多个项目单个界面
</a></li>
        <li ng-click="navClass('personDemand')" ng-class="{'active':navCla=='personDemand'}"  ui-sref="_root.projectmeasure.personDemand.list"><a href="javascript:void(0)">项目人员需求
</a></li>
        <li ng-click="navClass('smui')" ng-class="{'active':navCla=='smui'}"  ui-sref="_root.projectmeasure.smui.list"><a href="javascript:void(0)">单个项目多个界面
</a></li>
        <li ng-click="navClass('ssui')" ng-class="{'active':navCla=='ssui'}"  ui-sref="_root.projectmeasure.ssui.list"><a href="javascript:void(0)">单个项目单个界面
</a></li>
    </ul>
</div>


<!--  projectmeasure/marketserve    basicinfo                      -->