<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>指标名称</em></label>
                    <select class="sele" ng-verify="{}" ng-model="add.indexName">
                        <option value="" disabled>请选择</option>
                        <option ng-repeat="names in nameData">{{names.typeName}}</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>年份</em></label>
                    <select class="sele" ng-verify="{}" ng-model="add.year">
                        <option value="" disabled>请选择</option>
                        <option ng-repeat="years in proData">{{years}}</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>月份</em></label>
                    <select class="sele" ng-model="add.month" ng-verify="{}">
                        <option value="" disabled>请选择</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>责任部门</em></label>
                    <div class="sele side">
                        <select class="sele" ng-model="add.department">
                            <option value="" disabled>请选择</option>
                            <option ng-repeat="departs in depData">{{departs}}</option>
                        </select>
                        <input type="text" ng-verify="{}" class="inputDom" ng-model="add.department">
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>总指标权重</em></label>
                    <input type="number" ng-model="add.describtion" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>部门年度指标权重</em></label>
                    <input type="number" ng-model="add.departYearWeight" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>部门月度对赌值</em></label>
                    <input type="number" ng-model="add.departYearWager" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>岗位指标权重之和</em></label>
                    <input type="number" ng-model="add.weightSum" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>责任岗位</em></label>
                    <div class="sele side">
                        <select class="sele" ng-model="add.position">
                            <option value="" disabled>请选择</option>
                        </select>
                        <input type="text" ng-verify="{}" class="inputDom" ng-model="add.position">
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>责任人</em></label>
                    <div class="sele side">
                        <select class="sele"  ng-model="add.positioner">
                            <option value="" disabled>请选择</option>
                        </select>
                        <input type="text" ng-verify="{}" class="inputDom" ng-model="add.positioner">
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>责任人工号</em></label>
                    <div class="sele side">
                        <select class="sele" ng-model="add.positionerNumber">
                            <option value="" disabled>请选择</option>
                        </select>
                        <input type="text" ng-verify="{}" class="inputDom" ng-model="add.positionerNumber">
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>岗位权重</em></label>
                    <input type="number" ng-model="add.weight" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>岗位指标目标值</em></label>
                    <input type="number" ng-model="add.target" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>对赌值</em></label>
                    <input type="number" ng-model="add.wager" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>完成值</em></label>
                    <input type="number" ng-verify="{}" ng-model="add.complete">
                </li>
                <li>
                    <label><em>指标类型</em></label>
                    <select class="sele" ng-model="add.indexType">
                        <option value="" disabled>请选择</option>
                        <option ng-repeat="types in typeData">{{types.typeName}}</option>
                    </select>
                </li>
                <li>
                    <label><em>维度</em></label>
                    <select class="sele" ng-model="add.dimension">
                        <option value="" disabled>请选择</option>
                        <option ng-repeat="dimes in dimeData">{{dimes.typeName}}</option>
                    </select>
                </li>
                <li>
                    <label><em>考核方式</em></label>
                    <select class="sele" ng-model="add.examWay">
                        <option value="" disabled>请选择</option>
                        <option ng-repeat="assess in assData">{{assess}}</option>
                    </select>
                </li>
                <li>
                    <label><em>考核部门</em></label>
                    <select class="sele" ng-model="add.examDepart">
                        <option value="" disabled>请选择</option>
                        <option ng-repeat="departs in depData">{{departs}}</option>
                    </select>
                </li>
                <li>
                    <label><em>数据来源</em></label>
                    <input type="text" ng-model="add.dataOrigin">
                </li>
                <li>
                    <label><em>考核周期</em></label>
                    <input type="text" ng-model="add.examDuring">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="basicAddFun()">提交</button>
    </p>
</div>

<script type="text/javascript">
    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();
</script>