<div ui-view="content">
<div class="collect">
    <div class="sum-select">
        <label><i><img src="/images/mandatory.png"></i><em>地区</em></label>
        <div class="select">
            <p class="select-text" >
                <span ng-repeat="contractor in contractors">{{contractor}}, </span>
            </p>
            <div class="mymultiselect" events="getSummary" ng-dropdown-multiselect="" options="workOptions" selected-model="contractors" extra-settings="stringSettings"></div>
        </div>
    </div>
<ul class="sum-list">
        <li class="sum-thead">
            <span>总包单位</span>
            <span>地区</span>
            <span>派工单价</span>
            <span>已派工量</span>
            <span>完工时间</span>
            <span>验收交维时间</span>
            <span>签字审批时间</span>
            <span>结算审批时间</span>
            <span>发票审核时间</span>
            <span>预计支付时间</span>
            <span>到账时间</span>
            <span>管理费</span>
            <span>到账金额</span>
            <span>税金</span>
            <span>税后金额</span>
            <span>总包单位</span>
            <span>是否走结算流程</span>
            <span>详细情况</span>
        </li>
        <li class="sum-tbody {{summaryList._selectList?'selectList':''}}" ng-click="selectList(summaryList)" ng-repeat="summaryList in summaryListDetails">
            <span>{{summaryList.name}}</span>
            <span>{{summaryList.area}}</span>
            <span>{{summaryList.taskPrice}}</span>
            <span>{{summaryList.pactSize}}</span>
            <span>{{summaryList.checkTime}}</span>
            <span>{{summaryList.finishTime}}</span>
            <span>{{summaryList.auditTime}}</span>
            <span>{{summaryList.countTime}}</span>
            <span>{{summaryList.billTime}}</span>
            <span>{{summaryList.planTime}}</span>
            <span>{{summaryList.accountTime}}</span>
            <span>{{summaryList.managementFee}}</span>
            <span>{{summaryList.accountMoney}}</span>
            <span>{{summaryList.taxes}}</span>
            <span>{{summaryList.afterTax}}</span>
            <span>{{summaryList.name}}</span>
            <span>{{summaryList.isflow|cover}}</span>
            <span style="color: red; cursor: pointer" ng-click="generalMore()">详细</span>
            <span style="display: none">{{summaryList.remark}}</span>
        </li>
    </ul>
</div>
    </div>
<div ui-view="modal"></div>