<div class="content-tab list">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>地区</span>
            <span>体系</span>
            <span>部门/项目组</span>
            <span>岗位</span>
            <span>姓名</span>
            <span>入职时间</span>
            <span>入职-职能定位-专业</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="lists in functionLists" style="display: {{lists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p mod>{{$index+1+num}}</p>
                    <p mod>{{lists.area}}</p>
                    <p mod>{{lists.system}}</p>
                    <p mod>{{lists.department}}</p>
                    <p mod>{{lists.jobs}}</p>
                    <p mod>{{lists.name}}</p>
                    <p mod>{{lists.entryTime}}</p>
                    <p mod>{{lists.entryMajor}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more"  ng-click="moreList(lists)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{lists._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>入职主项技能等级</span>
                                <span>转正技能等级</span>
                                <span>转正时间</span>
                                <span>主项/小项</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{lists.entryLevelSkill}}</span>
                                <span mod>{{lists.transferSkillLevel}}</span>
                                <span mod>{{lists.positiveTime}}</span>
                                <span mod>{{lists.subject | cover}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>
<!-- <div ui-view="modal"></div> -->
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow"></div>



