
<div class="nav-list" ng-repeat="list in showsList">
    <h3 class="header-menu big" ng-click="showMenu(list,true)">
        <i class="nav-arrow" ng-class="{true: '', false: 'change-angle'}[list.showIs]"></i>
        {{list.item}}</h3>
    <ul class="menu" ng-if="list.menuList.length"  ng-show="list.showIs" ng-repeat="menuInfo in list.menuList">
        <li ng-show="employeesecure" ng-click="navClass(menuInfo.msg)" ng-class="{'active':navCla==menuInfo.msg}"  ui-sref="_root.insurance.information.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name}}</a>
        </li>
        <li ng-show="attached" ng-click="navClass(menuInfo.msg)" ng-class="{'active':navCla== menuInfo.msg}" ui-sref="_root.insurance.affiliated.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name2}}</a>
        </li>
        <li ng-show="beforeadd" ng-click="navClass(menuInfo.msg)" ng-class="{'active':navCla==menuInfo.msg}" ui-sref="_root.insurance.increaseAgo.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name3}}</a>
        </li>
        <li ng-show="buy" ng-click="navClass(menuInfo.msg)" ng-class="{'active':navCla==menuInfo.msg}" ui-sref="_root.insurance.people.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name4}}</a>
        </li>
        <li ng-show="abandon" ng-click="navClass(menuInfo.msg)" ng-class="{'active':navCla==menuInfo.msg}" ui-sref="_root.insurance.abandon.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name5}}</a>
        </li>
        <li ng-show="addemployee" ng-click="navClass(menuInfo.msg)" ng-class="{'active':navCla==menuInfo.msg}" ui-sref="_root.insurance.increase.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name6}}</a>
        </li>
        <li ng-show="attachedend" ng-click="navClass(menuInfo.msg)" ng-class="{'active':navCla==menuInfo.msg}" ui-sref="_root.insurance.expire.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name7}}</a>
        </li>
        <li ng-show="beforeremoveemployee" ng-click="navClass(menuInfo.msg)" ng-class="{'active':navCla==menuInfo.msg}" ui-sref="_root.insurance.reducingAgo.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name8}}</a>
        </li>
        <li ng-show="removeemployee" ng-click="navClass(menuInfo.msg)" ng-class="{'active':navCla==menuInfo.msg}" ui-sref="_root.insurance.roll.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name9}}</a>
        </li>
        <li ng-show="paydetail" ng-click="navClass(menuInfo.msg)" ng-class="{'active':navCla==menuInfo.msg}" ui-sref="_root.insurance.proportion.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name10}}</a>
        </li>
        <li ng-show="securecart" ng-click="navClass(menuInfo.msg)" ng-class="{'active':navCla==menuInfo.msg}" ui-sref="_root.insurance.card.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name11}}</a>
        </li>
        <li ng-show="cuspermission" ng-click="navClass(menuInfo.msg)" ng-class="{'active':navCla==menuInfo.msg}"  ui-sref="_root.insurance.setting.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name12}}</a>
        </li>
    </ul>
</div>