<div class="content-input cooperationAdd" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li style="display: none">
                    <label><em>id</em></label>
                    <input type="text" ng-model="pAddInfo.id">
                </li>
                <li style="display: none">
                    <label><em>informationId</em></label>
                    <input type="text" ng-model="pAddInfo.informationId">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>公司名称</em></label>
                    <input type="text" ng-model="pAddInfo.companyName">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>产品服务内容</em></label>
                    <input type="text" ng-model="pAddInfo.product">
                </li>
                <li>
                    <label><em>合作时间</em></label>
                    <input type="text" ng-model="pAddInfo.cooperationTime" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image cooperationTime" >
                </li>
                <li>
                    <label><em>合作期限</em></label>
                    <input type="text" ng-model="pAddInfo.cooperationTerm" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image cooperationTerm" >
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="cooperationAddFun()">提交</button>
    </p>
</div>
<script type="text/javascript">

    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();
</script>