<div class="content-tab list">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span class="data-id">id</span>
            <span>业务类型</span>
            <span>业务方向科目</span>
            <span>资金投入</span>
            <span>人员成本</span>
            <span>设备成本</span>
            <span>车辆成本</span>
            <span>人员成本</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="lists in measuredLists" style="display: {{lists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p>{{$index+1}}</p>
                    <p class="data-id"></p>
                    <p>{{lists.type}}</p>
                    <p>{{lists.course}}</p>
                    <p>{{lists.capital}}</p>
                    <p>{{lists.staffCost}}</p>
                    <p>{{lists.equipmentCost}}</p>
                    <p>{{lists.carCost}}</p>
                    <p>{{lists.staff}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more" ng-click="moreList(lists)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{lists._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>设备投入</span>
                                <span>车辆投入</span>
                                <span>备注</span>
                            </p>
                            <p class="see-children">
                                <span>{{lists.equipment}}</span>
                                <span>{{lists.car}}</span>
                                <span>{{lists.remark}}</span>
                            </p>
                        </li>
                    </ul>
                    <div class="module">
                        <div class="see-module">
                            <p class="see-type">体现类型</p>
                            <p class="see-description"></p>
                            <button class="btn">关闭</button>
                        </div>
                    </div>
                </div>
            </section>
        </li>
    </ul>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>




