<div class="content-tab list">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>年度</span>
            <span>参保地市</span>
            <span>公司总缴费比例</span>
            <span>公司缴费比例/工伤</span>
            <span>公司缴费比例/失业</span>
            <span>公司缴费比例/生育</span>
            <span>公司缴费比例/医疗</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="lists in protionLists" style="display: {{lists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p mod>{{$index+1+num}}</p>
                    <p mod>{{lists.annual}}</p>
                    <p mod>{{lists.city}}</p>
                    <p mod>{{lists.expendScaleCompany}}</p>
                    <p mod>{{lists.injuryCompany}}</p>
                    <p mod>{{lists.outWorkCompany}}</p>
                    <p mod>{{lists.fertilityCompany}}</p>
                    <p mod>{{lists.medicalCompany}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more" ng-click="moreList(lists)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{lists._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>公司缴费比例/养老</span>
                                <span>公司缴费比例/疾病医疗补助</span>
                                <span>个人总缴费比例</span>
                                <span>个人缴费比例/失业</span>
                                <span>个人缴费比例/医疗</span>
                                <span>个人缴费比例/养老</span>
                                <span>参保承担总费用</span>
                                <span>参保承担费用/公司</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{lists.oldCompany}}</span>
                                <span mod>{{lists.diseaseCompany}}</span>
                                <span mod>{{lists.expendScalePerson}}</span>
                                <span mod>{{lists.outWorkPerson}}</span>
                                <span mod>{{lists.medicalPerson}}</span>
                                <span mod>{{lists.oldPerson}}</span>
                                <span mod>{{lists.total}}</span>
                                <span mod>{{lists.totalCompany}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span>参保承担费用/个人</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{lists.totalPerson}}</span>
                            </p>
                        </li>
                    </ul>
                    
                </div>
            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>
<!-- <div ui-view="modal"></div> -->
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow"></div>



