<div class="content-tab list">
    <div class="search-big" style="display :{{ isView?'none':'block'}}">
        <select class="salc" ng-model="checkedName" ng-init="checkedName='内部项目名称'">
            <option ng-repeat="item in titles">{{item}}</option>
        </select>
        <input type="text" ng-model="internalProjectName" ng-show="checkedName=='内部项目名称'">
        <input type="text" ng-model="handler" ng-show="checkedName=='处理人员'">
        <a href="javascript:void(0)" ng-click="collect()"><img src="/images/search2.png"></a>
    </div>
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>内部项目名称</span>
            <span>处理人员</span>
            <span>每日计划</span>
            <span>临时任务</span>
            <span>实际完成情况</span>
        </li>
        <li class="list-all" ng-repeat="lists in assigneeLists|filter:teamInfo" style="display: {{lists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p>{{$index+1}}</p>
                    <p>{{lists.internalProjectName}}</p>
                    <p>{{lists.handler}}</p>
                    <p>{{lists.dailyPlan}}</p>
                    <p>{{lists.temporaryTask}}</p>
                    <p>{{lists.actualCompletion}}</p>
                </div>
            </section>
        </li>
    </ul>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>




