<div class="content-tab list" style="margin-top: -70px;">
    <ul class="table table-top">
        <li class="list-head">
            <span></span>
            <span>地区</span>
            <span>项目</span>
            <span>工期开始时间</span>
            <span>工期结束时间</span>
            <span>服务费</span>
            <span>招待费</span>
            <span>提成</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="lists in costLists" style="display: {{lists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p>{{$index+1}}</p>
                    <p>{{lists.area}}</p>
                    <p>{{lists.project}}</p>
                    <p>{{lists.startTime}}</p>
                    <p>{{lists.endTime}}</p>
                    <p>{{lists.serviceCost}}</p>
                    <p>{{lists.entertainCost}}</p>
                    <p>{{lists.commission}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more" ng-click="moreList(lists)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{lists._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>其他</span>
                            </p>
                            <p class="see-children">
                                <span>{{lists.another}}</span>
                            </p>
                        </li>
                    </ul>
                    <div class="module">
                        <div class="see-module">
                            <p class="see-type">体现类型</p>
                            <p class="see-description"></p>
                            <button class="btn">关闭</button>
                        </div>
                    </div>
                </div>
            </section>
        </li>
    </ul>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>




