<ul class="list">
    <li ng-click="list()" ng-class="{'current':menuClass=='listMenu'}" ui-sref=".list[12]" ng-show="LIST" ng-init="menuCheck('LIST')">
        <a href="javascript:void(0)" class="lis">列表</a>
    </li>
    <li ng-click="add()" ng-class="{'current':menuClass=='addMenu'}" ui-sref=".add[12]" ng-show="ADD" ng-init="menuCheck('ADD')">
        <a href="javascript:void(0)" class="add">添加</a>
    </li>
    <li ng-click="edit()" ng-class="{'current':menuClass=='editMenu','seeParent':idListd}" ng-show="EDIT" ng-init="menuCheck('EDIT')">
        <a href="javascript:void(0)"  class="same-one see">编辑</a>
    </li>
    <li ng-click="addDetails()" ng-class="{'current':menuClass=='addDetailsMenu','seeParent':idListd}" ng-show="ADD" ng-init="menuCheck('ADD')">
        <a href="javascript:void(0)" class="add see" title="添加获奖明细">添加获奖明细</a>
    </li>
    <li ng-click="editDetails()" ng-class="{'current':menuClass=='editDetailsMenu','seeParent':idListd1}" ng-show="EDIT" ng-init="menuCheck('EDIT')">
        <a href="javascript:void(0)"  class="same-two see" title="编辑获奖明细">编辑获奖明细</a>
    </li>
    <li ng-click="seeDetails()" ng-class="{'current':menuClass=='seeDetailsMenu','seeParent':idListd}" ng-show="SEE" ng-init="menuCheck('SEE')">
        <a href="javascript:void(0)" class="lis see"  title="查看获奖明细">查看获奖明细</a>
    </li>
    <li ng-click="delete()" ng-class="{'current':menuClass=='deleteMenu','seeParent':idListd}" ng-show="DELETE" ng-init="menuCheck('DELETE')">
        <a href="javascript:void(0)" class="same-two see" >删除</a>
    </li>
</ul>
