<div class="content-tab list">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>行业</span>
            <span>创建/修改人</span>
            <span>更新时间</span>
            <span>上次发送时间</span>
            <span>备注</span>
            <span>发送间隔</span>
            <span>汇总间隔</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="emailList in emailLists" style="display: {{emailList._delete?'none':'block'}};">
            <section class="{{emailList.status=='CONGEAL'?'congeal':''}}">
                <div class="list-text {{emailList._selectList?'selectList':''}}" ng-click="selectList(emailList)"  >
                    <p>{{$index+1}}</p>
                    <p>{{emailList.work}}</p>
                    <p>{{emailList.createPersion}}</p>
                    <p>{{emailList.modifyTime}}</p>
                    <p>{{emailList.lastSendTime}}</p>
                    <p>{{emailList.remark}}</p>
                    <p>{{emailList.sendNumAndUnit}}</p>
                    <p>{{emailList.customerCollectUnit|cover}}</p>

                    <p>
                        <a href="javascript:void(0)" class="more" ng-click="moreList(emailList)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{emailList._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>发送对象</span>
                                <span>状态</span>
                            </p>
                            <p class="see-children">
                                <span>{{emailList.sendObject}}</span>
                                <span>{{emailList.status|cover}}</span>
                            </p>
                        </li>
                    </ul>
                    <div class="module">
                        <div class="see-module">
                            <p class="see-type">体现类型</p>
                            <p class="see-description"></p>
                            <button class="btn">关闭</button>
                        </div>
                    </div>
                </div>
                <div class="thaw-modal">
                    <button ng-click="thaw(emailList)">解冻</button>
                </div>
            </section>
        </li>
    </ul>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>





