<div class="content-tab list">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>年度</span>
            <span>地区</span>
            <span>岗位</span>
            <span>项目组/部门</span>
            <span>岗位层级</span>
            <span>入职时间</span>
            <span>工龄</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="lists in annuLists" style="display: {{lists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p mod>{{$index+1+num}}</p>
                    <p mod>{{lists.year}}</p>
                    <p mod>{{lists.area}}</p>
                    <p mod>{{lists.position}}</p>
                    <p mod>{{lists.department}}</p>
                    <p mod>{{lists.arrangement}}</p>
                    <p mod>{{lists.entryTime}}</p>
                    <p mod>{{lists.seniority}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more" ng-click="moreList(lists)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{lists._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                
                                <span>可休年假天数</span>
                                <span>剩余年假天数</span>
                                <span>是否已休假</span>
                                <span>备注</span>
                            </p>
                            <p class="see-children">
                                
                                <span mod>{{lists.annual}}</span>
                                <span mod>{{lists.surplus}}</span>
                                <span mod>{{lists.already | cover}}</span>
                                <span mod>{{lists.remark}}</span>
                            </p>
                        </li>
                    </ul>
                    
                </div>
            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>
<!-- <div ui-view="modal"></div> -->
<!-- <div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow"></div> -->



