


<div class="left-section">
    <div class="header">
        <a href="#" onclick="location.href='/'" title="issp平台" class="logo">
            <img src="/images/logo.png" alt="">
        </a>
        <span>issp平台</span>
    </div>
    <div class="nav" ui-view="nav">
    </div>
</div>
<section class="right-section">
    <div class="top-content">
        <div class="top-fixed">
            <div class="top">
                <div class="top-back">
                    <a href="javascript:void(0)" class="back">返回</a>
                </div>
                <div class="search">
                    <div class="selected">
                        <p class="username"><a href="javascript:void(0)">{{username}}</a></p>
                        <p class="usermenu">
                            <a href="javascript:void(0)" ng-hide="logined" ng-click="login()">登录</a>
                            <a href="javascript:void(0)" ng-show="logined" ng-click="logout()">退出</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="content" ui-view="content">
            首页内容
        </div>
    </div>
</section>