<div class="content-tab list">
    <ul class="table com-table">
        <li class="list-head">
            <span></span>
            <span class="data-id">id</span>
            <span>地区</span>
            <span>项目组</span>
            <span>项目名称</span>
            <span>时间</span>
            <span>计划收入</span>
            <span>实际收入</span>
            <span>比例</span>
            <span>差额</span>
            <span></span>
        </li>
        <li class="list-all"  ng-repeat="list in mainfeeLists.data" style="display: {{list._delete?'none':'block'}};">
            <section>
                <div  class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p>{{$index+1+num}}</p>
                    <p class="data-id"></p>
                    <p mod>{{::list.area}}</p>
                    <p mod>{{::list.projectGroup}}</p>
                    <p mod>{{::list.projectName}}</p>
                    <p mod>{{::list.time}}</p>
                    <p mod>{{::list.planIncome}}</p>
                    <p mod>{{::list.actualIncome}}</p>
                    <p mod>{{::list.rate}}</p>
                    <p mod>{{::list.balance}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more"  ng-click="moreList(list)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{list._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>目标任务量</span>
                                <span>实际任务量</span>
                                <span>完工比例</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{::list.targetTask}}</span>
                                <span mod>{{::list.actualTask}}</span>
                                <span mod>{{::list.completeRate}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow"></div>