<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <!--<li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>id</em></label>
                    <input type="text" ng-model="settleInfo.id">
                </li>-->
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>分组</em></label>
                    <select class="sele" ng-model="group" ng-change="myFunc()">
                        <option disabled value="">请选择</option>
                        <option ng-repeat="group in groups" value="{{group.name}}">{{group.name}}</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>结算进度</em></label>
                   <!-- <input type="text" ng-repeat="group in groups" ng-model="name" ng-value="progress.name">-->
                    <select class="sele" ng-model="progress" ng-options="progress.name for progress in selectOptions"></select>
                   <!-- <select class="sele" ng-model="progress">
                        <option ng-repeat="group in groups">{{group.progress}}</option>
                    </select>-->
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="settlementEditFun()">提交</button>
    </p>
</div>
s<script type="text/javascript">
    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();
</script>