<div class="collect ">
    <section class="collect-select">
        <ul>
            <li>
                <label><em>月份</em></label>
                <input type="text" ng-model="month">
                <button ng-click="collect()">汇总</button>
            </li>
        </ul>
    </section>
    <ul class="sum-list">
        <li class="sum-thead">
            <span>时间</span>
            <span>卡号</span>
            <span>本月合计</span>
            <span>上月合计</span>
            <span>差额</span>
            <span>增长率</span>
        </li>
        <li class="sum-tbody"  ng-repeat="summaryList in summaryLists">
            <span>{{summaryList.month}}</span>
            <span>{{summaryList.oilCardNumber}}</span>
            <span>{{summaryList.currentSum}}</span>
            <span>{{summaryList.lastSum}}</span>
            <span>{{summaryList.differences}}</span>
            <span>{{summaryList.growthRate}}</span>
        </li>
    </ul>
</div>