<!--Angular-UI-Router里的指令ui-sref-active 查看当前激活状态并设置 Class-->
<ul class="list">
    <li ng-click="list()" ng-class="{'current':menuClass=='listMenu'}" ui-sref="_root.ability.selfcap.list" class="lis">
        <a href="javascript:void(0)" class="same-two">列表<span>Tabulate</span></a>
    </li>
    <li ng-click="add()" ng-class="{'current':menuClass=='addMenu'}" ui-sref=".add[12]">
        <a href="javascript:void(0)"  class="same-three">添加<span>Add</span></a>
    </li>
    <li ng-click="edit()" ng-class="{'current':menuClass=='editMenu'}">
        <a href="javascript:void(0)"  class="same-one" >编辑<span>Edit</span></a>
    </li>
    <li ng-click="delete()" ng-class="{'current':menuClass=='deleteMenu'}">
        <a href="javascript:void(0)"  class="same-three">删除<span>Delete</span></a>
    </li>
    <li ng-click="socialList()" ng-class="{'current':menuClass=='socialListMenu'}" ui-sref="root.ability.selfcap.socialList">
        <a href="javascript:void(0)"  class="same-three">个人社交<span>socialList</span></a>
    </li>
    <li ng-click="social()" ng-class="{'current':menuClass=='socialMenu'}">
        <a href="javascript:void(0)"  class="same-three">添加个人社交<span>socialAdd</span></a>
    </li>
    <li ng-click="socialDelete()" ng-class="{'current':menuClass=='socialDeleteMenu'}">
        <a href="javascript:void(0)"  class="same-three">个人社交删除<span>socialDelete</span></a>
    </li>
    <li ng-click="socialEdit()" ng-class="{'current':menuClass=='socialEditMenu'}">
        <a href="javascript:void(0)"  class="same-three">编辑个人社交<span>socialEdit</span></a>
    </li>
</ul>