<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>项目奖金包管理</h3>
    <ul class="menu">
        <li ng-click="navClass('bonus')" ng-class="{'active':navCla=='bonus'}"  ui-sref="_root.projectBonus.bonus.list"><a href="javascript:void(0)">流程绩效指标管理</a></li>
        <li ng-click="navClass('reward')" ng-class="{'active':navCla=='reward'}"  ui-sref="_root.projectBonus.reward.list"><a href="javascript:void(0)">奖励明细</a></li>
        <li ng-click="navClass('punishment')" ng-class="{'active':navCla=='punishment'}"  ui-sref="_root.projectBonus.punishment.list"><a href="javascript:void(0)">处罚明细</a></li>
    </ul>
</div>