<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>供应商信息管理</h3>
    <ul class="menu">
        <li ng-click="navClass('basicinfo')" ng-class="{'active':navCla=='basicinfo'}"  ui-sref="_root.supplier.basicinfo.list">
            <a href="javascript:void(0)">供应商基本信息</a>
        </li>
        <li ng-click="navClass('type')" ng-class="{'active':navCla=='type'}" ui-sref="_root.supplier.type.list">
            <a href="javascript:void(0)">供应商类型管理</a>
        </li>
    </ul>
    <h3 class="header-menu big"><i class="nav-arrow"></i>设置</h3>
    <ul class="menu">
        <li ng-click="navClass('setting')" ng-class="{'active':navCla=='setting'}"  ui-sref="_root.supplier.setting.list[12]" ><a href="javascript:void(0)">设置</a></li>
    </ul>
</div>