<div class="content-tab list">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>方案序号</span>
            <span>补助类型名称</span>
            <span>补助目的</span>
            <span>补助对象</span>
            <span>补助开始时间</span>
            <span>补助结束时间</span>
            <span>补助条件</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="lists in planLi" style="display: {{lists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p mod>{{$index+1+num}}</p>
                    <p mod>{{::lists.planNum}}</p>
                    <p mod>{{::lists.typeName}}</p>
                    <p mod>{{::lists.targetContent}}</p>
                    <p mod>{{::lists.helpObject}}</p>
                    <p mod>{{::lists.helpStartTime}}</p>
                    <p mod>{{::lists.helpEndTime}}</p>
                    <p mod>{{::lists.helpCondition}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more" ng-click="moreList(lists)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{lists._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>条件依据明细</span>
                                <span>数据来源</span>
                                <span>补助内容</span>
                                <span>内容明细 </span>
                                <span>补助发放形式</span>
                                <span>补助发放时间</span>
                                <span>综合资源部福利模块意见</span>
                                <span>运营财务部意见</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{::lists.detail}}</span>
                                <span mod>{{::lists.dataOragin}}</span>
                                <span mod>{{::lists.helpContent}}</span>
                                <span mod>{{::lists.contentDetail }}</span>
                                <span mod>{{::lists.helpForm}}</span>
                                <span mod>{{::lists.helpGiveTime }}</span>
                                <span mod>{{::lists.warefaleAdvice}}</span>
                                <span mod>{{::lists.finiceAdvice}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span>总经办意见</span>
                                <span>备注</span>
                                <span style="display:none">id</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{::lists.manageAdvice}}</span>
                                <span mod>{{::lists.remark}}</span>
                                <span mod style="display:none">{{::lists.id}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow"></div>

