<div class="content-input" verify-scope="tipStyle: 1">
    <div class="input-list">
     <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>地区</em></label>
                    <select class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched area" ng-model="data.area">
                        <option value="请选择1">请选择1</option>
                        <option ng-repeat="area in areas" value="{{area.area}}">{{area.area}}</option>
                    </select> 

                     <input type="text"  class="inputDom ng-valid ng-not-empty ng-dirty ng-touched" ng-model="data.area" ng-verify="{}" style="width:235px">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目组</em></label>
                    <select class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched projectGroup" ng-model="data.projectGroup">
                        <option value="请选择1">请选择1</option>
                        <option ng-repeat="projectGroup in projectGroups" value="{{projectGroup.value}}">{{projectGroup.value}}</option>
                    </select>

                    <input type="text"  class="inputDom ng-valid ng-not-empty ng-dirty ng-touched" ng-model="data.projectGroup" ng-verify="{}" style="width:235px;">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目名称</em></label>
                    <select class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched project" ng-model="data.projectName">
                        <option value="请选择1">请选择1</option>
                        <option ng-repeat="projectName in projectNames" value="{{projectName.value}}">{{projectName.value}}</option>
                    </select>

                    <input type="text"  class="inputDom ng-valid ng-not-empty ng-dirty ng-touched" ng-model="data.projectName" ng-verify="{}" style="width:235px;">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>住宿地址</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.address">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>员工姓名</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.name">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>员工编号</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.num">
                </li>
                <li class="required">  
                    <label><i><!-- <img src="/images/mandatory.png"> --></i><em>住宿开始时间</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="time1" ng-model="data.stayStartTime">
                </li>
                <li class="required">  
                    <label><i><!-- <img src="/images/mandatory.png"> --></i><em>住宿结束时间</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="time2" ng-model="data.stayEndTime">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>住宿天数</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.stayDay">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>房租公司缴纳</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.rentCompanyPay">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>房租员工缴纳</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.rentStaffPay">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>当月应缴水费总额</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.waterAmount">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>水费公司缴纳</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.waterCompanyPay">
                </li>
                <!-- <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>水费员工缴纳</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.waterStaffPay">
                </li> -->
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>当月应缴电费总额</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.energyAmount">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>电费公司缴纳</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.energyCompanyPay">
                </li>
                <!-- <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>电费员工缴纳</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.energyStaffPay">
                </li> -->
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>管道燃气费充值额度</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.gasRechargeLines">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>燃气费公司缴纳</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.gasCompanyPay">
                </li>
                <!-- <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>燃气费员工缴纳</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.gasStaffPay">
                </li> -->
                <!-- <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>员工应缴金额汇总</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.staffPayCollect">
                </li> -->
                <li class="required">
                    <label><i><!-- <img src="/images/mandatory.png"> --></i><em>员工核实</em></label>
                    <select class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched projectName yon1" ng-model="staffVerify">
                        <option value="确认">确认</option>
                        <option value="有误">有误</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><!-- <img src="/images/mandatory.png"> --></i><em>综合资源部核实情况</em></label>
                    <select class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched projectName yon2" ng-model="comprehensiveVerifySituation">
                        <option value="true">是</option>
                        <option value="false">否</option>
                    </select>
                </li>
                <li class="required f-l">
                    <label><i><!-- <img src="/images/mandatory.png"> --></i><em>扣款情况</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.deductionSituation">
                </li>
                <li class="required f-l">
                    <label><i><!-- <img src="/images/mandatory.png"> --></i><em>备注</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.remark">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="waterAddFun()">提交</button>
    </p>
</div>
