<div class="content-tab list">
    <ul class="table table-top">
        <li class="list-head">
            <span></span>
            <span>地区</span>
            <span>项目</span>
            <span>工期开始时间</span>
            <span>工期结束时间</span>
            <span>渠道</span>
            <span>客户保持率</span>
            <span>客户满意度</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="lists in relationshipLists" style="display: {{lists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p>{{$index+1}}</p>
                    <p mod>{{::lists.area}}</p>
                    <p mod>{{::lists.project}}</p>
                    <p mod>{{::lists.startTime}}</p>
                    <p mod>{{::lists.endTime}}</p>
                    <p mod>{{::lists.channelType|cover}}</p>
                    <p mod>{{::lists.customerKeepRate}}</p>
                    <p mod>{{::lists.customerSatisfaction}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more" ng-click="moreList(lists)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{lists._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>客户满意扣分事项</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{::lists.deductionDetail}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>




