<ul class="list">
    <li ng-click="list()" ng-class="{'current':menuClass=='listMenu'}" ui-sref=".list[12]" ng-show="LIST" ng-init="menuCheck('LIST')">
        <a href="javascript:void(0)"  title="列表" class="lis">列表<span></span></a>
    </li>
    <li ng-click="add()" ng-class="{'current':menuClass=='addMenu'}" ui-sref=".add[12]" ng-show="ADD" ng-init="menuCheck('ADD')">
        <a href="javascript:void(0)"  title="添加" class="add">添加<span></span></a>
    </li>
    <li ng-click="comprehensive()" ng-class="{'current':menuClass=='comprehensiveMenu','seeParent':idListd}" ng-show="EDIT" ng-init="menuCheck('EDIT')">
        <a href="javascript:void(0)"  title="综合素养补充"  class="same-one see">综合素养补充<span></span></a>
    </li>
    <li ng-click="head()" ng-class="{'current':menuClass=='headMenu','seeParent':idListd}" ng-show="EDIT" ng-init="menuCheck('EDIT')">
        <a href="javascript:void(0)"  title="负责人审核"  class="same-one see">负责人审核<span></span></a>
    </li>
    <li ng-click="budget()" ng-class="{'current':menuClass=='budgetMenu','seeParent':idListd}" ng-show="EDIT" ng-init="menuCheck('EDIT')">
        <a href="javascript:void(0)"  title="预算审核"  class="same-one see">预算审核<span></span></a>
    </li>
    <li ng-click="manager()" ng-class="{'current':menuClass=='managerMenu','seeParent':idListd}" ng-show="EDIT" ng-init="menuCheck('EDIT')">
        <a href="javascript:void(0)"  title="项目经理审核"  class="same-one see">项目经理审核<span></span></a>
    </li>
    <li ng-click="planning()" ng-class="{'current':menuClass=='planningMenu','seeParent':idListd}" ng-show="EDIT" ng-init="menuCheck('EDIT')">
        <a href="javascript:void(0)"  title="规划模块审核"  class="same-one see">规划模块审核<span></span></a>
    </li>
    <li ng-click="general()" ng-class="{'current':menuClass=='generalMenu','seeParent':idListd}" ng-show="EDIT" ng-init="menuCheck('EDIT')">
        <a href="javascript:void(0)"  title="总经办审核"  class="same-one see">总经办审核<span></span></a>
    </li>
</ul>