<div class="content-tab list">
    <div class="search-big" style="display :{{ isView?'none':'block'}}">
        <select class="salc" ng-model="checkedName" ng-init="checkedName='减员的人员姓名'">
            <option ng-repeat="item in titles">{{item}}</option>
        </select>
        <input type="text" ng-model="removeName" ng-show="checkedName=='减员的人员姓名'">
        <input type="text" ng-model="employeeId" ng-show="checkedName=='员工编号'">
        <a href="javascript:void(0)" ng-click="collect()"><img src="/images/search2.png"></a>
    </div>
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>当前各公司参保总人数</span>
            <span>当前各地市总参保人员</span>
            <span>减员类型</span>
            <span>公司名称</span>
            <span>减员的人员姓名</span>
            <span>减员的人员当前参保地市</span>
            <span>资质名称</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="lists in rollLists" style="display: {{lists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p mod>{{$index+1+num}}</p>
                    <p mod>{{lists.countCompany}}</p>
                    <p mod>{{lists.countCity}}</p>
                    <p mod>{{lists.removeType}}</p>
                    <p mod>{{lists.company}}</p>
                    <p mod>{{lists.removeName}}</p>
                    <p mod>{{lists.removeCity}}</p>
                    <p mod>{{lists.quantityName}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more" ng-click="moreList(lists)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{lists._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>需参保时长</span>
                                <span>需减员总人数</span>
                                <span>备注</span>
                                <span>员工编号</span>
                                <span>确认是否减员</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{lists.secureTime}}</span>
                                <span mod>{{lists.removeCount}}</span>
                                <span mod>{{lists.description}}</span>
                                <span mod>{{lists.employeeId}}</span>
                                <span mod>{{lists.confirmRemove|cover}}</span>
                            </p>
                        </li>
                    </ul>
                    
                </div>
            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>
<!-- <div ui-view="modal"></div> -->
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow"></div>



<div class="delete mod" ng-show="audShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确认减员吗</p>
        <div class="btn">
            <button ng-click="audFn()">减员</button>
            <button ng-click="audcel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="audShow"></div>