<div class="content-tab list">
    <div class="com-search mod" verify-scope="tipStyle: 1">
        <span class="com-search2">
            <label>开始日期:</label>
            <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image start" >
       </span>
       <span class="com-search2">
            <label>结束日期:</label>
            <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image end" >
       </span>
       <span class="com-search2 pr">
            <label>项目名称:</label>
            <select class="sele" ng-model="projectName">
                <option ng-repeat="list in projectNames" value="{{ list }}">{{ list }}</option>
            </select>
          <input type="text"  class="pa ptn" ng-model="projectName">
       </span>
       <p>
            <button class="collect" ng-verify="{control:'myform'}" ng-click="collectFun()">汇总</button>
        </p>
    </div>
    <ul class="table area-table" style="display: {{ isCollect?'block':'none' }}">
        <li class="list-head">
            <span></span>
            <span class="data-id">id</span>
            <span>项目名称</span>
            <span>日期</span>
            <span>计划收入</span>
            <span>实际收入</span>
            <span>比例</span>
            <span>差额</span>
            <span>目标任务量</span>
            <span>实际任务量</span>
            <span></span>
        </li>
        <li class="list-all">
            <section ng-repeat="list in lists" style="display: {{list._delete?'none':'block'}};">
                <div  class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p>{{$index+1}}</p>
                    <p class="data-id"></p>
                    <p>{{::list.projectName}}</p>
                    <p>{{::list.time}}</p>
                    <p>{{::list.planIncome}}</p>
                    <p>{{::list.actualIncome}}</p>
                    <p>{{::list.rate}}</p>
                    <p>{{::list.balance}}</p>
                    <p>{{::list.targetTask}}</p>
                    <p>{{::list.actualTask}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more"  ng-click="moreList(list)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{list._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>完工比例</span>
                                <span ng-show="isPay">项目名称</span>
                                <span ng-show="isPay">项目组</span>
                            </p>
                            <p class="see-children">
                                <span>{{::list.completeRate}}</span>
                                <span ng-show="isPay">{{::list.projectName}}</span>
                                <span ng-show="isPay">{{::list.projectGroup}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </li>
     </ul>
</div>