<div class="content-tab list">

    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>时间</span>
            <span>地区</span>
            <span>项目组</span>
            <span>项目内部名称</span>
            <span>派工项目名称</span>
            <span>派工单编号</span>
            <span>类别</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="list in standardLists" style="display: {{list._delete?'none':'block'}};">
            <section  class="{{list.status=='CONGEAL'?'congeal':''}}" >
                <div class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p>{{$index+1}}</p>
                    <p>{{list.date}}</p>
                    <p>{{list.area}}</p>
                    <p>{{list.project}}</p>
                    <p>{{list.projectInner}}</p>
                    <p>{{list.projectDispatch}}</p>
                    <p>{{list.dispatchCode}}</p>
                    <p>{{list.type}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more"  ng-click="moreList(list)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{list._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>节点</span>
                                <span>单位</span>
                                <span>节点标准</span>
                            </p>
                            <p class="see-children">
                                <span>{{list.node}}</span>
                                <span>{{list.unit}}</span>
                                <span>{{list.nodeStandard}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="thaw-modal">
                    <button ng-click="thaw(list)">解冻</button>
                </div>
            </section>
        </li>
    </ul>
    <footer class="footer">
        <pagination count="pagination.itemsCount" take="pagination.take" activate="pagination.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>





