<div class="collect">
    <div class="collect-select">
        <span>  
            开始月份:
            <div class="recordse">
                <select ng-model="monthsa" style="padding-left:10%;">
                    <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
                </select>
            </div>
        </span>
        <span>  
            结束月份:
            <div class="recordse">
                <select ng-model="monthsb" style="padding-left:10%;">
                    <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
                </select>
            </div>
        </span>
        <span>
            项目组：
            <select class="sele"  ng-model="projectGroup">
                <option value="">请选择</option>
                <option ng-repeat="group in groups" value="{{group}}">{{group}}</option>
            </select>
            <input type="text"  class="inputArea" ng-model="projectGroup">
        </span>
        <button ng-click="collect()">汇总</button>
    </div>
    <ul class="sum-list">
        <li class="sum-thead">
            <span>项目组</span>
            <span>月份</span>
            <span>期初借方余额</span>
            <span>期初贷方余额</span>
            <span>本期借方发生额</span>
            <span>本期贷方发生额</span>
            <span>期末借方余额</span>
            <span>期末贷方月余额</span>

        </li>
        <li class="sum-tbody" ng-repeat="Lists in summaryLists">
            <span>{{::Lists.projectGroup}}</span>
            <span>{{::Lists.months}}</span>
            <span>{{::Lists.beginningDebitAmount}}</span>
            <span>{{::Lists.beginningCreditAmount}}</span>
            <span>{{::Lists.issueDebitAmount}}</span>
            <span>{{::Lists.issueCreditAmount}}</span>
            <span>{{::Lists.endDebitAmount}}</span>
            <span>{{::Lists.endCreditAmount}}</span>
        </li>
    </ul>
</div>
