<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>管理费用</h3>
    <ul class="menu">
        <li ng-click="navClass('managementSpend')" ng-class="{'active':navCla=='managementSpend'}"  ui-sref="_root.managementFee.managementSpend.list">
            <a href="javascript:void(0)">管理费</a>
        </li>
        <li ng-click="navClass('outsourcingFee')" ng-class="{'active':navCla=='outsourcingFee'}" ui-sref="_root.managementFee.outsourcingFee.list">
            <a href="javascript:void(0)">外包管理费</a>
        </li>
    </ul>
</div>