<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>法定节假日</h3>
    <ul class="menu">
        <li ng-click="navClass('gift')" ng-class="{'active':navCla=='gift'}"  ui-sref="_root.legalholiday.holiday.gift.list"><a href="javascript:void(0)">节假日礼品标准</a></li>
        <li ng-click="navClass('festivaltime')" ng-class="{'active':navCla=='festivaltime'}"  ui-sref="_root.legalholiday.holiday.festivaltime.list"><a href="javascript:void(0)">公司放假时间安排</a></li>
        <li ng-click="navClass('project')" ng-class="{'active':navCla=='project'}"  ui-sref="_root.legalholiday.holiday.project.list"><a href="javascript:void(0)">法定节假日放假方案</a></li>
    </ul>
</div> 