html, body, div, span, nav, header, iframe,
h1, h2, h3, h4, h5, h6, p, section, footer,
a, form, address, big, cite, code,
del, dfn, em, img, ins, fieldset, q, s, samp,
small, strike, strong, sub, sup, label, var,
b, u, i, input, dl, dt, dd, ol, ul, li, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body{
    font-family: "Microsoft YaHei";
    font-size: 14px;
}
ol, ul li {
    list-style: none;
}
i{
    font-style: normal;
}
button{
    outline: none;
}
#box{
    width: 740px;
    height: auto;
    margin:100px auto;
    border: 1px solid #00c0ff;
    background: #fff;
}
.header-top{
    width: 100%;
    height: 48px;
    line-height: 48px;
    vertical-align: middle;
    overflow: hidden;
}
.header-top .login{
    width: 20px;
    height: 28px;
    float: left;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 6px;
    vertical-align: middle;
}
.header-top h5{
    font-size:14px;
    color: #252525;
    float: left;
}

.content{
    width: 100%;
    height: auto;
    background-color: #f6f6f6;
    overflow: hidden;
}

.content-center{
    margin: 0 15px;
    padding: 15px 0 18px;
    overflow: hidden;
    border-bottom:1px solid #b4b8b9;
}
.content-center .select-left{
    width: 242px;
    height: auto;
    float: left;
}
.content-center .select-left:nth-of-type(2){
    margin-left: 50px;
    margin-right: 20px;
}
.content-center .select-left h5{
    font-size: 14px;
    color: #252525;
    line-height: 30px;
}

.content-center .select-left .select-list{
    width: 235px;
    height: 396px;
    border: 1px solid #b4b8b9;
}
.content-center .select-left .select-list .select-name{
    line-height: 24px;
    font-size: 12px;
    color: #252525;
    padding-left: 5px;
    border-bottom: 1px solid #b4b8b9;
}
.content-center .select-left .select-list .name-thing{
    height: 371px;
    background-color: #fff;
}
.content-center .select-left .select-list .name-thing p{
    line-height: 24px;
    font-size: 12px;
    color: #252525;
    padding-left: 5px;
}
.content-center .select-left .select-list .name-thing p.current{
    background-color: #00c0ff;
    cursor: pointer;
    color: #fff;
}

.content-center .select-left .select-list .basic-module{
    height: 371px;
    background-color: #fff;
}
.content-center .select-left .select-list .basic-module p{
    font-size: 12px;
    color: #252525;
    padding-left: 5px;
    line-height: 30px;
}
.content-center .select-left .select-list .basic-module p:last-of-type .select-input{
    height: 25px;
    color: #252525;
}
.content-center .select-left .select-list .basic-module p.current{
    color: #00c0ff;
}
.content-center .select-left .select-list .basic-module p.current .aright{
    color: #00c0ff;
    position: relative;

}
.content-center .select-left .select-list .basic-module p.current .aright .gou-img{
    position: absolute;
    top: 18%;
    left: 12%;
    display: block;
}
.content-center .select-left .select-list .basic-module p span{

}
.content-center .select-left .select-list .basic-module p .gou{
    display: inline-block;
    height: 12px;
    width: 12px;
    border:1px solid #666666;
    background-color: #fff;
    vertical-align: -3px;
    margin-right: 5px;
}
.content-center .select-left .select-list .basic-module p .gou .gou-img{
    display: none;
}
.content-center .btn-right{
    float: right;
    width: 130px;
    margin-right: 12px;
}
.content-center .btn-right .add{
    height: 40px;
    background-color: #cceefb;
    box-shadow: 2px 1px 10px #838383;
    line-height: 40px;
    margin-top: 28px;
}
.content-center .btn-right .add .button-add{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("../images/type/add.png") no-repeat center;
    vertical-align: middle;
    margin: 0 10px;
    cursor: pointer;
}
.content-center .btn-right .add span{
    font-size: 14px;
    color: #252525;
}
.content-center .btn-right .deleted{
    height: 40px;
    background-color: #f6f6f6;
    box-shadow: 2px 1px 10px #838383;
    line-height: 40px;
    margin-top: 20px;
}
.content-center .btn-right .deleted .button-del{
    width: 20px;
    height: 23px;
    display: inline-block;
    background: url("../images/type/del.png") no-repeat center;
    vertical-align: middle;
    margin: 0 10px;
    cursor: pointer;
}
.content-center .btn-right .deleted span{
    font-size: 14px;
    color: #252525;
}

.under-btn{
    float: right;
    margin: 25px 15px 25px 0;
}
.under-btn button{
    width: 112px;
    height: 35px;
    line-height: 35px;
    border:0 none;
    font-size: 14px;
    color: #252525;
    box-shadow: 1px 1px 5px #838383;
}
.under-btn button.save{
    background-color: #cceefb;
}
.under-btn .msg{
    color:#f32043;
    margin-right:40px;
    display:none;
}
.under-btn button.cancel{
    background-color: #f6f6f6;
    margin-left: 10px;
}
.select-mod{
    width:70%;
}
.modal{
    display:none;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.modal .mod-del{
    width:400px;
    background:#fff;
    position:absolute;
    left:50%;
    top:40%;
    margin-left:-200px;
    margin-top:-100px;
}
.modal .mod-del .del-head{
    font-size: 18px;
    display: flex;
    justify-content: center;
    color: #fff;
    height: 40px;
    line-height: 38px;
    background: #1aaeea;
    box-shadow: 0 0 5px #106d92 inset;
}
.mod-del .del-con{
    height:200px;
    box-shadow: 0 0 5px #066388 inset;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #fff;
}
.mod-del .del-con .btn{
    display: flex;
    justify-content: center;
    margin-top:20px;
}
.mod-del .del-con .btn button{
    width: 80px;
    height: 24px;
    outline: none;
    border-radius: 12px;
    margin: 0 27px;
}
.mod-del .del-con .btn button:first-child{
    border: 1px solid #64a9e2;
    background: #19afea;
    color: #fff;
}















