<div class="content-tab list">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>序号</span>
            <span>时间</span>
            <span>业务状态</span>
            <span>业务类型</span>
            <span>业务方向科目</span>
            <span>公司名称</span>
            <span>计划工作内容</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="dayList in dayPlanLists" style="display: {{dayList._delete?'none':'block'}};">
            <section>
                <div class="list-text {{dayList._selectList?'selectList':''}}" ng-click="selectList(dayList)">
                    <p mod>{{$index+1+num}}</p>
                    <p mod>{{::dayList.serialNumber}}</p>
                    <p mod>{{::dayList.time}}</p>
                    <p mod>{{::dayList.business|cover}}</p>
                    <p mod>{{::dayList.type}}</p>
                    <p mod>{{::dayList.source}}</p>
                    <p mod>{{::dayList.name}}</p>
                    <p mod>{{::dayList.content}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more" ng-click="moreList(dayList)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{dayList._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>所属阶段</span>
                                <span>任务量</span>
                                <span>任务人</span>
                                <span>洽谈方式</span>
                                <span>商务预算费</span>
                                <span>客户姓名</span>
                                <span>客户电话</span>
                                <span>商务内容</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{::dayList.phase}}</span>
                                <span mod>{{::dayList.quota}}</span>
                                <span mod>{{::dayList.own}}</span>
                                <span mod>{{::dayList.negotiation}}</span>
                                <span mod>{{::dayList.budget}}</span>
                                <span mod>{{::dayList.customer}}</span>
                                <span mod>{{::dayList.phone}}</span>
                                <span mod>{{::dayList.businessContent}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span>配合人</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{dayList.coordinate}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow"></div>




