<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>收入核算资金回笼</h3>
    <ul class="menu">
        <li ng-click="navClass('checkindex')" ng-class="{'active':navCla=='checkindex'}"  ui-sref="_root.incomeAccount.check.checkindex.list"><a href="javascript:void(0)">指标设置</a></li>
        <li ng-click="navClass('checkincome')" ng-class="{'active':navCla=='checkincome'}"  ui-sref="_root.incomeAccount.check.checkincome.list"><a href="javascript:void(0)">收入核算-资金回笼</a></li>
    </ul>
</div>
