<div class="collect">
    <div class="collect-select" style="margin:20px 20px 20px 88px">
        <span>  
            年份:
            <input type="number" style="border:1px solid black;" ng-model="year">
        </span>
        <span>  
            月份:
            <input type="number" style="border:1px solid black;" ng-model="month">
        </span>
        <span>
            项目名称：
            <select ng-model="project" class="recordse" >
                <option value="请选择1">请选择1</option>
                <option value="请选择2">请选择2</option>
                <!-- <option ng-repeat="project in data" value="{{project}}">{{project}}</option> -->
            </select>
            <input type="text" ng-model="project" class="recordin">
        </span>
        <button ng-click="collect()">汇总</button>
    </div>
    <ul class="sum-list">
        <li class="sum-thead">
            <span>时间</span>
            <span>项目名称</span>
            <span>本月收入</span>
            <span>本月支出</span>
            <span>上月收入</span>
            <span>上月支出</span>
            <span>收入差额</span>
            <span>支出差额</span>
            <span>收入比例</span>
            <span>支出比例</span>
            <span>收入增长率</span>
            <span>支出增长率</span>
        </li>
        <li class="sum-tbody"  ng-repeat="list in recordLists">
            <span>{{::list.recordDate}}</span>
            <span>{{::list.project}}</span>
            <span>{{::list.income}}</span>
            <span>{{::list.expenditure}}</span>
            <span>{{::list.lastIncome}}</span>
            <span>{{::list.lastExpenditure}}</span>
            <span>{{::list.incomeSubtract}}</span>
            <span>{{::list.expenditureSubtract}}</span>
            <span>{{::list.incomeRate | number:2}}</span>
            <span>{{::list.expenditureRate | number:2}}</span>
            <span>{{::list.incomeGrowRate}}</span>
            <span>{{::list.expenditureGrowRate}}</span>
        </li>
    </ul>
</div>
