<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>商业能力互动</h3>
    <ul class="menu">
        <li ng-click="navClass('interactContact')" ng-class="{'active':navCla=='interactContact'}"  ui-sref="_root.businessInteraction.interactContact.list">
            <a href="javascript:void(0)">互动联系信息</a>
        </li>
        <li ng-click="navClass('platformDescript')" ng-class="{'active':navCla=='platformDescript'}" ui-sref="_root.businessInteraction.platformDescript.list">
            <a href="javascript:void(0)">互动平台需求描述</a>
        </li>
        <li ng-click="navClass('discussDetails')" ng-class="{'active':navCla=='discussDetails'}" ui-sref="_root.businessInteraction.discussDetails.list">
            <a href="javascript:void(0)">洽谈详情</a>
        </li>
        <li ng-click="navClass('mailSummary')" ng-class="{'active':navCla=='mailSummary'}" ui-sref="_root.businessInteraction.mailSummary.list">
            <a href="javascript:void(0)">汇总和邮件发送</a>
        </li>
    </ul>
</div>