<div class="content-tab list">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>凭证字号</span>
            <span>凭证字</span>
            <span>凭证日期</span>
            <span>一级科目</span>
            <span>二级科目</span>
            <span>三级科目</span>
            <span>摘要</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="lists in postedLists" style="display: {{lists._billed?'none':'block'}};">
            <section>
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p><input type="checkbox" ng-click="check(lists)" ng-checked="lists.isV"></p>
                    <p mod>{{::lists.voucherNum}}</p>
                    <p mod>{{::lists.voucherWord}}</p>
                    <p mod>{{::lists.voucherDate}}</p>
                    <p mod>{{::lists.firstSubject}}</p>
                    <p mod>{{::lists.secondSubject}}</p>
                    <p mod>{{::lists.thirdSubject}}</p>
                    <p mod>{{::lists.sumary}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more" ng-click="moreList(lists)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{lists._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>借方金额</span>
                                <span>贷方金额</span>
                                <span>地区</span>
                                <span>项目名称</span>
                                <span>项目组</span>
                                <span>制单人</span>
                                <span>票据数量</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{::lists.borrowMoney}}</span>
                                <span mod>{{::lists.loanMoney}}</span>
                                <span mod>{{::lists.area}}</span>
                                <span mod>{{::lists.projectName}}</span>
                                <span mod>{{::lists.projectGroup}}</span>
                                <span mod>{{::lists.ticketer}}</span>
                                <span mod>{{::lists.ticketNum}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span>附件</span>
                                <span>审核人</span>
                                <span>审核状态</span>
                                <span>过帐状态</span>
                                <span>结帐状态</span>
                                <span>借贷合计金额</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{::lists.extraFile}}</span>
                                <span mod>{{::lists.auditor}}</span>
                                <span mod>{{::lists.auditStatus|cover}}</span>
                                <span mod>{{::lists.transferStatus|money}}</span>
                                <span mod>{{::lists.checkStatus|end}}</span>
                                <span mod>{{::lists.moneyTotal}}</span>
                            </p>
                        </li>
                    </ul>
                    <div class="module">
                        <div class="see-module">
                            <p class="see-type">体现类型</p>
                            <p class="see-description"></p>
                            <button class="btn">关闭</button>
                        </div>
                    </div>
                </div>
            </section>
        </li>
    </ul>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要反过账么？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div class="delete mod" ng-show="billShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要结账么？</p>
        <div class="btn">
            <button ng-click="billFn()">确定</button>
            <button ng-click="billCancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow || billShow"></div>





