<div class="content-input" verify-scope="tipStyle: 1">
    <div class="input-list">
     <section>
            <ul>
                <li class="required">  
                    <label><i><img src="/images/mandatory.png"></i><em>缴费日期</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="time1" ng-model="data.payDate">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>地区</em></label>
                    <select class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched area" ng-model="data.area">
                        <option value="请选择1">请选择1</option>
                        <option ng-repeat="area in areas" value="{{area.area}}">{{area.area}}</option>
                    </select> 

                     <input type="text"  class="inputDom ng-valid ng-not-empty ng-dirty ng-touched" ng-model="data.area" ng-verify="{}" style="width:235px">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目组</em></label>
                    <select class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched projectGroup" ng-model="data.projectGroup">
                        <option value="请选择1">请选择1</option>
                        <option ng-repeat="projectGroup in projectGroups" value="{{projectGroup.value}}">{{projectGroup.value}}</option>
                    </select>

                    <input type="text"  class="inputDom ng-valid ng-not-empty ng-dirty ng-touched" ng-model="data.projectGroup" ng-verify="{}" style="width:235px;">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目名称</em></label>
                    <select class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched projectName" ng-model="data.projectName">
                        <option value="请选择1">请选择1</option>
                        <option ng-repeat="projectName in projectNames" value="{{projectName.value}}">{{projectName.value}}</option>
                    </select>

                    <input type="text"  class="inputDom ng-valid ng-not-empty ng-dirty ng-touched" ng-model="data.projectName" ng-verify="{}" style="width:235px;">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>租房地址</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.address">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>房东姓名</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.landlord">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>联系方式</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.contact">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>账户名称</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.accountTitle">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>银行卡号</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.bankNumber">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>银行开户行</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.bankAccount">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>房屋交租方式</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.taxesWay">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>房屋交租频率</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.taxesFequency">
                </li>
                <li class="required">  
                    <label><i><img src="/images/mandatory.png"></i><em>房租缴费日期</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="time2" ng-model="data.rentDate">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>水电费缴费频率</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.paymentFrequency">
                </li>
                <li class="required">  
                    <label><i><img src="/images/mandatory.png"></i><em>水电费缴费日期</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="time3" ng-model="data.paymentDate">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>房租（元/月）</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.rent">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>管理费，卫生费</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.fee">
                </li>
                <li class="required">  
                    <label><i><img src="/images/mandatory.png"></i><em>房租缴纳开始时间</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="time4" ng-model="data.rentStartTime">
                </li>
                <li class="required">  
                    <label><i><img src="/images/mandatory.png"></i><em>房租缴纳结束时间</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="time5" ng-model="data.rentEndTime">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>房租缴费方</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.rentPay">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>水费初期数目</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.waterBeginNum">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>水费计价金额（元/吨）</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.waterValuationMoney">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>水费期末数目</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.waterEndNum">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>用水量</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.water">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>水费缴纳金额</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.waterPayMoney">
                </li>
                <li class="required">  
                    <label><i><img src="/images/mandatory.png"></i><em>水费缴纳开始时间</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="time6" ng-model="data.waterStartTime">
                </li>
                <li class="required">  
                    <label><i><img src="/images/mandatory.png"></i><em>水费缴纳结束时间</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="time7" ng-model="data.waterEndTime">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>水费缴费方</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.waterPay">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>电费初期数目</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.energyBeginNum">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>电费计价金额（元/吨）</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.energyValuationMoney">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>电费期末数目</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.energyEndNum">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>用电量</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.energy">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>电费缴纳金额</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.energyPayMoney">
                </li>
                <li class="required">  
                    <label><i><img src="/images/mandatory.png"></i><em>电费缴纳开始时间</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="time8" ng-model="data.energyStartTime">
                </li>
                <li class="required">  
                    <label><i><img src="/images/mandatory.png"></i><em>电费缴纳结束时间</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="time9" ng-model="data.energyEndTime">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>电费缴费方</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.energyPay">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>管道燃气费充值额度</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.gasRechargeLines">
                </li>
                <li class="required">  
                    <label><i><img src="/images/mandatory.png"></i><em>燃气费缴纳开始时间</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="time10" ng-model="data.gasStartTime">
                </li>
                <li class="required">  
                    <label><i><img src="/images/mandatory.png"></i><em>燃气费缴纳结束时间</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="time11" ng-model="data.gasEndTime">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>燃气费缴费方</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.gasPay">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>缴纳金额汇总</em></label>
                    <input type="number"  ng-verify="{}" ng-model="data.payMoneyCollect">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>运营财务部确认是否缴费</em></label>
                    <select class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched projectName yon1" ng-model="operatingPay">
                        <option value="true">是</option>
                        <option value="false">否</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>房租收费是否已邮寄到广州</em></label>
                    <select class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched projectName yon2" ng-model="rentMoneyMail">
                        <option value="true">是</option>
                        <option value="false">否</option>
                    </select>
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>房租收据附件</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.rentReceiptAccessory">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>备注</em></label>
                    <input type="text"  ng-verify="{}" ng-model="data.remark">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="rentEditFun()">提交</button>
    </p>
</div>
