<div class="content-tab list">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>地区</span>
            <span>项目</span>
            <span>年份</span>
            <span>月份</span>
            <span>周数</span>
            <span>目标任务量</span>
            <span>实际完工量</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="list in proWeekLists" style="display: {{list._delete?'none':'block'}};">
            <section>
                <div class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p mod>{{$index+1+num}}</p>
                    <p mod>{{::list.arrival}}</p>
                    <p mod>{{::list.project}}</p>
                    <p mod>{{::list.year}}</p>
                    <p mod>{{::list.month}}</p>
                    <p mod>{{::list.week}}</p>
                    <p mod>{{::list.targetWork}}</p>
                    <p mod>{{::list.actualWork}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more"  ng-click="moreList(list)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{list._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>工作量差异</span>
                                <span>参考单位</span>
                                <span>目标收入</span>
                                <span>计划收入</span>
                                <span>收入差异</span>
                            </p>
                            <p class="see-children">
                                <span mod ng-class="{'red':list.workDifferences>=maxNum}">{{::list.workDifferences}}</span>
                                <span mod>{{::list.price}}</span>
                                <span mod>{{::list.targetIncome}}</span>
                                <span mod>{{::list.planIncome}}</span>
                                <span mod ng-class="{'red':list.incomeDifferences>=maxNum}">{{::list.incomeDifferences}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="pagination.itemsCount" take="pagination.take" activate="pagination.activatePage"></pagination>
    </footer>
</div>
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow"></div>





