<div class="content-tab list" style="margin-top: -70px;">
    <ul class="table com-table">
       <li class="list-head">
            <span></span>
            <span>日期</span>
            <span>地区</span>
            <span>项目组</span>
            <span>项目名称</span>
            <span>摘要</span>
            <span>收入</span>
            <span>支出</span>
            <span>数据来源</span>
        </li>
        <!---->
        <li class="list-all">
            <section ng-repeat="list in recordLists"  style="display: {{list._delete?'none':'block'}};">
                <div  class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                <!-- 下面需要改动，看调用（需要改） -->
                    <p>{{$index+1}}</p>
                    <p>{{::list.recordDate}}</p>
                    <p>{{::list.area}}</p>
                    <p>{{::list.projectGroup}}</p>
                    <p>{{::list.project}}</p>
                    <p>{{::list.digest}}</p>
                    <p>{{::list.income}}</p>
                    <p>{{::list.expenditure}}</p>
                    <p>{{::list.dataSource}}</p>
                </div>
            </section>
        </li>
     </ul>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>
