<div class="content-input edit" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <!-- <li class="required" style="display: none;">
                    <label><em>id</em></label>
                    <input type="text" ng-model="editAccept.id">
                </li> -->
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>内部项目名称</em></label>
                    <input type="text" ng-verify="{}" ng-model="editAccept.internalProjectName">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>工程类型</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched area side">
                        <select  ng-model="editAccept.projectType" class="sele">
                            <option value="外包">外包</option>
                            <option value="租赁">租赁</option>
                        </select> 

                         <input type="text"  class="inputDom ng-valid ng-not-empty ng-dirty ng-touched" ng-model="editAccept.projectType" ng-verify="{}">
                    </div>
                </li>
                <li class="required">
                    <label><em>年份</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY'})" class="add_image addYear" ng-model="editAccept.year">
                </li>
                <li class="required">
                    <label><em>地区</em></label>
                    <input type="text" ng-model="editAccept.area">
                </li>
                <li class="required">
                    <label><em>合同外部编号</em></label>
                    <input type="text" ng-model="editAccept.externalContractNum">
                </li>
                <li class="required">
                    <label><em>合同外部项目名称</em></label>
                    <input type="text" ng-model="editAccept.externalContractProjectName">
                </li>
                <li class="required">
                    <label><em>内部项目编号</em></label>
                    <input type="text" ng-model="editAccept.internalNum">
                </li>
                <li class="required">
                    <label><em>通知方式</em></label>
                    <select class="sele" ng-model="editAccept.noticeWay">
                        <option value="WRITTEN">书面</option>
                        <option value="MAIL">邮件</option>
                        <option value="ORAL">口头</option>
                    </select>
                    <!--<input type="text"  class="inputDom" ng-model="editAccept.noticeWay">-->
                </li>
                <li class="required">
                    <label><em>问题具体内容</em></label>
                    <input type="text" ng-model="editAccept.problemSpecificContent">
                </li>
                <li class="required">
                    <label><em>问题类型</em></label>
                    <select class="sele po" ng-model="editAccept.problemTypes">
                        <option value="PERSONNERCLASS">人员类</option>
                        <option value="DISPATCHINGCLASS">派工类</option>
                        <option value="SETTLEMENTCLASS">结算类</option>
                        <option value="DEVICECLASS">设备类</option>
                    </select>
                    <!--<input type="text"  class="inputDom" ng-model="editAccept.problemTypes">-->
                </li>
                <li class="required">
                    <label><em>解决方式</em></label>
                    <input type="text" ng-model="editAccept.solution">
                </li>
                
                <li class="required">
                    <label><em>问题处理时间</em></label>
                    <select class="sele a1" ng-model="editAccept.problemProcessingTime" ng-change="changSelect()">
                        <option value="FOURHOURS">4小时之内</option>
                        <option value="FOURTOTWENTYFOURHOURS">4-24小时之内</option>
                        <option value="TWENTYFOURHOURS">24小时以上</option>

                    </select>
                </li>
                <li class="required">
                    <label><em>受影响部门</em></label>
                    <select class="sele a2" ng-model="editAccept.affectedDepartment" ng-change="changSelect()">
                        <option value="ONEDEPARTMENT">影响1个部门</option>
                        <option value="TWOTOTHREEDEPARTMENT">影响2-3个部门</option>
                        <option value="THREEDEPARTMENT">影响3个部门以上</option>

                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>问题紧急程度</em></label>
                    <input type="text" value="{{projectNames}}" class="na">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="problemEditFun()">提交</button>
    </p>
</div>

<script type="text/javascript">

    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();


</script>