<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>合同单价管理</h3>
    <ul class="menu">
        <li ng-click="navClass('basicinfo')" ng-class="{'active':navCla=='basicinfo'}"  ui-sref="_root.contract.basicinfo.list[12]" ><a href="javascript:void(0)">合同项目基本信息</a></li>
        <li ng-click="navClass('detail')" ng-class="{'active':navCla=='detail'}" ui-sref="_root.contract.material.list"><a href="javascript:void(0)">合同单价资料</a></li>
        <li ng-click="navClass('level')" ng-class="{'active':navCla=='level'}" ui-sref="_root.contract.level.list"><a href="javascript:void(0)" >节点标准</a></li>
    </ul>
</div>