<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>

                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>投资形式</em></label>
                    <select class="sele" ng-model="add.investForm" ng-verify="{}">
                        <option disabled value="">请选择</option>
                        <option value="债权投资">债权投资</option>
                        <option value="股权投资">股权投资</option>
                        <option value="现金投资">现金投资</option>
                        <option value="员工借贷">员工借贷</option>
                    </select>
                </li>
                <li class="required">
                    <label ><i><img src="/images/mandatory.png"></i><em>说明</em></label>
                    <input type="text" ng-verify="{}" ng-model="add.instruction">
                </li>
                <li>
                    <label><em>备注</em></label>
                    <input type="text" ng-model="add.remark">
                </li>
           </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="basicAddFun()">提交</button>
    </p>
</div>

<script type="text/javascript">
    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();
</script>