<div class="content-tab list">
    <ul class="table com-table">
        <li class="list-head">
            <span></span>
            <span class="data-id">id</span>
            <span style="flex: 0 0 13%">市场信息收集序号</span>
            <span>项目名称</span>
            <span>地区</span>
            <span>竞争对手名称</span>
            <span>业务类型</span>
            <span>基本资料描述</span>
            <span>电话</span>
            <span>地址</span>
            <span>组织结构</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="list in competitorLists.data" style="display: {{list._delete?'none':'block'}};">
            <section>
                <div  class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p>{{$index+1}}</p>
                    <p class="data-id"></p>
                    <p mod style="flex: 0 0 13%">{{::list.markInfoCode}}</p>
                    <p mod>{{::list.project}}</p>
                    <p mod>{{::list.area}}</p>
                    <p mod>{{::list.competitor}}</p>
                    <p mod>{{::list.businessType | coverEdit}}</p>
                    <p mod>{{::list.basicInfoDesc}}</p>
                    <p mod>{{::list.phoneNum}}</p>
                    <p mod>{{::list.address}}</p>
                    <p mod>{{::list.organization}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more"  ng-click="moreList(list)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{list._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>级别定义方式</span>
                                <span>其他备注</span>
                            </p>
                            <p class="see-children">
                            <span mod >{{::list.leveldefinition}}</span>
                            <span mod>{{::list.remark}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </li>
     </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow"></div>