<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>业务类型</em></label>
                    <select class="sele" ng-model="measured.type" ng-verify="option:0">
                        <option value="">请选择</option>
                        <option ng-repeat="type in types">{{type.type}}</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>业务方向科目</em></label>
                    <select class="sele" ng-model="measured.course" ng-verify="option:0">
                        <option value="">请选择</option>
                        <option ng-repeat="course in courses">{{course.course}}</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>资金投入</em></label>
                    <input type="number" step="0.01" ng-verify="{}" name="capital" ng-model="measured.capital">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>人员成本</em></label>
                    <input type="number" step="0.01" ng-verify="{}" name="staffCost" ng-model="measured.staffCost">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>设备成本</em></label>
                    <input type="number" step="0.01" ng-verify="{}" name="equipmentCost" ng-model="measured.equipmentCost">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>车辆成本</em></label>
                    <input type="number" step="0.01" ng-verify="{}" name="carCost" ng-model="measured.carCost">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>人员投入</em></label>
                    <input type="number" step="0.01" ng-verify="{}" name="staff" ng-model="measured.staff">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>设备投入</em></label>
                    <input type="number" step="0.01" ng-verify="{}" name="equipment" ng-model="measured.equipment">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>车辆投入</em></label>
                    <input type="number" step="0.01" ng-verify="{}" name="car" ng-model="measured.car">
                </li>
                <li>
                    <label><em>备注</em></label>
                    <input type="text" ng-model="measured.remark">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="measuredAddFun()">提交</button>
    </p>
</div>