<div class="nav-list" ng-repeat="list in showsList">
    <h3 class="header-menu big" ng-click="showMenu(list,true)">
        <i class="nav-arrow" ng-class="{true: '', false: 'change-angle'}[list.showIs]"></i>
        {{list.item}}</h3>
    <ul class="menu" ng-if="list.menuList.length"  ng-show="list.showIs" ng-repeat="menuInfo in list.menuList">
        <li ng-click="navClass('voucherGeneration')" ng-class="{'active':navCla=='voucherGeneration'}"  ui-sref="_root.recordAccount.voucherGeneration.list">
            <a href="javascript:void(0)">{{menuInfo.name}}</a>
        </li>
        <li ng-click="navClass('voucherAudit')" ng-class="{'active':navCla=='voucherAudit'}" ui-sref="_root.recordAccount.voucherAudit.list">
            <a href="javascript:void(0)">{{menuInfo.name2}}</a>
        </li>
        <li ng-click="navClass('auditCredentials')" ng-class="{'active':navCla=='auditCredentials'}" ui-sref="_root.recordAccount.auditCredentials.list">
            <a href="javascript:void(0)">{{menuInfo.name3}}</a>
        </li>
        <li ng-click="navClass('posted')" ng-class="{'active':navCla=='posted'}" ui-sref="_root.recordAccount.posted.list">
            <a href="javascript:void(0)">{{menuInfo.name4}}</a>
        </li>
        <li ng-click="navClass('billRecords')" ng-class="{'active':navCla=='billRecords'}" ui-sref="_root.recordAccount.billRecords.list">
            <a href="javascript:void(0)">{{menuInfo.name5}}</a>
        </li>
        <li ng-click="navClass('voucherRecords')" ng-class="{'active':navCla=='voucherRecords'}" ui-sref="_root.recordAccount.voucherRecords.list">
            <a href="javascript:void(0)">{{menuInfo.name6}}</a>
        </li>
    </ul>
</div>