<div class="collect">
    <div class="summary-select">
        <div class="select3">
            <label><img src="/images/mandatory.png"></i><em>开始日期：</em></label>
            <input type="text" just-date id='af' ng-model="start" bf='back(start,true)'>
        </div>
        <div class="select3">
            <label><img src="/images/mandatory.png"></i><em>结束时间：</em></label>
            <input type="text" just-date id='af1' ng-model="end" bf='back(end,false)'>
        </div>
        <div class="select3" style="width: 35%">
            <label><i><img src="/images/mandatory.png"></i><em>项目：</em></label>
                <div class="select">
                    <p class="select-text">
                        <span ng-repeat="city in project">{{city}}, </span>
                    </p>
                    <div class="mymultiselect" ng-dropdown-multiselect options="workOptions" selected-model="project" extra-settings="stringSettings"></div>
                </div>
        </div>
        <button class="button" ng-click="collect(true)">汇总</button>
        <button class="button btn" ng-click="collect(false)">汇总详情</button>
    </div>
    <p class="isDate" ng-show="isShow">时间：{{ isDate }}</p>
    <ul class="sum-list">
        <li class="sum-thead">
            <span ng-show="isShow">地区</span>
            <span>项目</span>
            <span ng-show="isShow">年份</span>
            <span ng-show="isShow">月份</span>
            <span ng-show="isShow">房租地址</span>
            <span>租金</span>
            <span>水费</span>
            <span>电费</span>
            <span>管理费</span>
            <span>其他费用</span>
            <span>合计</span>
            <span ng-show="isShow">房东姓名</span>
            <span ng-show="isShow">联系电话</span>
            <span ng-show="isShow">交租确认</span>
        </li>
        <li class="sum-tbody" ng-repeat="Lists in summaryLists" ng-dblclick="layClick(Lists.project)">
            <span ng-show="isShow">{{::Lists.area}}</span>
            <span>{{::Lists.project}}</span>
            <span ng-show="isShow">{{::Lists.year}}</span>
            <span ng-show="isShow">{{::Lists.month}}</span>
            <span ng-show="isShow">{{::Lists.rentAddress}}</span>
            <span>{{::Lists.rent}}</span>
            <span>{{::Lists.water}}</span>
            <span>{{::Lists.energy}}</span>
            <span>{{::Lists.fee}}</span>
            <span>{{::Lists.otherFee}}</span>
            <span>{{::Lists.total}}</span>
            <span ng-show="isShow">{{::Lists.landlord}}</span>
            <span ng-show="isShow">{{::Lists.contact}}</span>
            <span ng-show="isShow">{{::Lists.taxesConfirm}}</span>
        </li>
    </ul>
</div>
<laybox data="layData" iw='show'></laybox>