<div class="content-tab list" >
    <ul class="table com-table">
       <li class="list-head">
            <span></span>
            <span class="data-id">id</span>
            <span>任务名</span>
            <span>执行类</span>
            <span>执行方法</span>
            <span>表达式</span>
            <span>描述</span>
            <span>是否启用</span>
            <span>地址</span>
            <span>任务所属调度组</span>
        </li>
        <li class="list-all" ng-repeat="list in missionLists.data"  style="display: {{list._delete?'none':'block'}};">
            <section class="{{list.enable==false?'congeal':''}}">
                <div  class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p>{{$index+1}}</p>
                    <p class="data-id"></p>
                    <p mod>{{::list.name}}</p>
                    <p mod>{{::list.clazz}}</p>
                    <p mod>{{::list.method}}</p>
                    <p mod>{{list.expression}}</p>
                    <p mod>{{list.description}}</p>
                    <p mod>{{list.enable}}</p>
                    <p mod>{{list.address}}</p>
                    <p mod>{{list.scheduledJobGroupName}}</p>
                </div>
                <div class="thaw-modal">
                    <button ng-click="thaw(list)">开启</button>
                </div>
            </section>
        </li>
     </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div class="delete mod" ng-show="congealShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要关闭这条数据？</p>
        <div class="btn">
            <button ng-click="conFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow||congealShow"></div>
