<div class="nav-list" ng-repeat="list in showsList">
    <h3 class="header-menu big" ng-click="showMenu(list,true)"><i class="nav-arrow" ng-class="{true: '', false: 'change-angle'}[list.showIs]"></i>{{list.item}}</h3>
    <ul class="menu" ng-if="list.menuList.length"  ng-show="list.showIs" ng-repeat="menuInfo in list.menuList">
        <li ng-click="navClass('situation')" ng-class="{'active':navCla=='situation'}"  ui-sref="_root.project.situation.list"><a href="javascript:void(0)">{{menuInfo.name}}</a></li>
        <li ng-click="navClass('implementation')" ng-class="{'active':navCla=='implementation'}"  ui-sref="_root.project.implementation.list"><a href="javascript:void(0)">{{menuInfo.name2}}</a></li>
        <li ng-click="navClass('projectacceptance')" ng-class="{'active':navCla=='projectacceptance'}"  ui-sref="_root.project.projectacceptance.list"><a href="javascript:void(0)">{{menuInfo.name3}}</a></li>
        <li ng-click="navClass('settlement')" ng-class="{'active':navCla=='settlement'}"  ui-sref="_root.project.settlement.list"><a href="javascript:void(0)">{{menuInfo.name4}}</a></li>
        <li ng-click="navClass('audit')" ng-class="{'active':navCla=='audit'}"  ui-sref="_root.project.audit.list"><a href="javascript:void(0)">{{menuInfo.name5}}</a></li>
        <li ng-click="navClass('setting')" ng-class="{'active':navCla=='setting'}"  ui-sref="_root.project.setting.list[12]" ><a href="javascript:void(0)">{{menuInfo.name6}}</a></li>
    </ul>
</div>
