<div class="content-tab list" style="margin-top: -70px;">
    <ul class="table com-table">
       <li class="list-head">
            <span></span>
            <span>对象</span>
            <span>责任与义务</span>
        </li>
        <!---->
        <li class="list-all">
            <section ng-repeat="list in obligationsLists" class="{{list.status?'':'congeal'}}"  style="display: {{list._delete?'none':'block'}};">
                <div  class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p>{{$index+1}}</p>
                    <p>{{::list.object}}</p>
                    <p>{{::list.duty}}</p>
                </div>
            </section>
        </li>
     </ul>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>
