<div class="content-tab list">
    <ul class="table com-table">
        <li class="list-head">
            <span></span>
            <span>投资人</span>
            <span>项目名称</span>
            <span mod>一次分配比例(%)</span>
            <span mod>入资到账时间比例(%)</span>
            <span mod>入资信用度比例(%)</span>
            <span>其他</span>
            <span mod>投资分配比例(%)</span>
            <span></span>
        </li>
        <li class="list-all">
            <section ng-repeat="lists in basicLists.data">
                <div  class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p mod>{{$index+1+num}}</p>
                    <p mod>{{::lists.investor}}</p>
                    <p mod>{{::lists.innerProject}}</p>
                    <p mod>{{::lists.primaryProportion}}</p>
                    <p mod>{{::lists.proportionGroup}}</p>
                    <p mod>{{::lists.creditScale}}</p>
                    <p mod>{{::lists.other}}</p>
                    <p mod>{{::lists.proportionInvestment}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more"  ng-click="moreList(lists)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{lists._moreList?'block':'none'}};">
                        <li>
                        <p class="see-parent">
                            <span mod>风险控制保证金比例(%)</span>
                            <span>总分配比例(%)</span>
                            <span>备注</span>
                        </p>
                        <p class="see-children">
                            <span mod>{{::lists.riskControlMarginRatio}}</span>
                            <span mod>{{::lists.totalProportion}}</span>
                            <span mod>{{::lists.remark}}</span>
                        </p>
                    </li>
                        </ul>
                    </div>
            </section>
        </li>
     </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow"></div>
