<div class="content-input edit" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>指标名称</em></label>
                    <select class="sele" ng-verify="{}" ng-model="editInfo.indexName" ng-disabled="editInfo.indexNumber>=1">
                        <option value="" disabled>请选择</option>
                        <option ng-repeat="names in nameData">{{names.typeName}}</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>年份</em></label>
                    <select class="sele" ng-verify="{}" ng-model="editInfo.year" ng-disabled="editInfo.indexNumber>=1">
                        <option value="" disabled>请选择</option>
                        <option ng-repeat="years in proData">{{years}}</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>总指标权重</em></label>
                    <input type="number" ng-model="editInfo.describtion" ng-verify="{}" ng-disabled="editInfo.indexNumber>=1">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>年度目标值</em></label>
                    <input type="number" ng-model="editInfo.yearTarget" ng-verify="{}" ng-disabled="editInfo.indexNumber>=1">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>责任部门</em></label>
                    <select class="sele" ng-verify="{}" ng-model="editInfo.department" ng-disabled="editInfo.indexNumber>=1">
                        <option value="" disabled>请选择</option>
                        <option ng-repeat="departs in depData">{{departs}}</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>部门年度指标权重</em></label>
                    <input type="number" ng-model="editInfo.departYearWeight" ng-verify="{}" ng-disabled="editInfo.indexNumber>=1">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>目标值</em></label>
                    <input type="number" ng-model="editInfo.target" ng-verify="{}" ng-disabled="editInfo.indexNumber>=1">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>对赌值</em></label>
                    <input type="number" ng-model="editInfo.wager" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>月份分解状态</em></label>
                    <input type="text" disabled ng-model="editInfo.separateStatus" ng-value="editInfo.separateStatus|cover124" ng-verify="{}">
                </li>
                <li>
                    <label><em>指标类型</em></label>
                    <select class="sele" ng-model="editInfo.indexType" ng-disabled="editInfo.indexNumber>=1">
                        <option value="" disabled>请选择</option>
                        <option ng-repeat="types in typeData">{{types.typeName}}</option>
                    </select>
                </li>
                <li>
                    <label><em>维度</em></label>
                    <select class="sele" ng-model="editInfo.dimension" ng-disabled="editInfo.indexNumber>=1">
                        <option value="" disabled>请选择</option>
                        <option ng-repeat="dimes in dimeData">{{dimes.typeName}}</option>
                    </select>
                </li>
                <li>
                    <label><em>完成值</em></label>
                    <input type="number" ng-model="editInfo.complete">
                </li>
                <li>
                    <label><em>考核方式</em></label>
                    <select class="sele" ng-model="editInfo.examWay">
                        <option value="" disabled>请选择</option>
                        <option ng-repeat="assess in assData">{{assess}}</option>
                    </select>
                </li>
                <li>
                    <label><em>考核部门</em></label>
                    <select class="sele" ng-model="editInfo.examDepart">
                        <option value="" disabled>请选择</option>
                        <option ng-repeat="departs in depData">{{departs}}</option>
                    </select>
                </li>
                <!--值是后台计算-->
                <li>
                    <label><em>部门权重之和</em></label>
                    <input type="text" ng-model="editInfo.departWeightSum" ng-disabled="editInfo.indexNumber>=1">
                </li>
                <li>
                    <label><em>数据来源</em></label>
                    <input type="text" ng-model="editInfo.dataOrigin">
                </li>
                <li>
                    <label><em>考核周期</em></label>
                    <input type="text" ng-model="editInfo.examDuring">
                </li>
                <li  class="required" style="display: {{editInfo.indexNumber>=1?'flex':'none'}};">
                    <label><i><img src="/images/mandatory.png"></i><em>是否重新分解</em></label>
                    <select class="sele" ng-model="editInfo.ifAgain">
                        <option value="" disabled>请选择</option>
                        <option value=true>是</option>
                        <option value=false>否</option>
                    </select>
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="basicEditFun()">提交</button>
    </p>
</div>

<script type="text/javascript">

    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();


</script>