<div class="content-input pedit" verify-scope="tipStyle: 1">  <!--表单验证插件-->
    <div class="input-list">
        <section>
            <ul>
                <li class="required" style="display: none;">
                    <label><em>id</em></label>
                    <input type="text"  class=" disabled" disabled ng-model="peditInfo.id">
                </li>
                <li>
                    <label><em>公司联系人</em></label>
                    <input type="text" ng-model="peditInfo.contactName">
                </li>
                <li>
                    <label><em>性别</em></label>
                    <input type="text" ng-model="peditInfo.sex">
                </li>
                <li>
                    <label><em>联系方式</em></label>
                    <input type="text" ng-model="peditInfo.contactWay">
                </li>
                <li>
                    <label><em>邮箱</em></label>
                    <input type="text" ng-model="peditInfo.emailName">
                </li>
                <li>
                    <label><em>QQ/微信</em></label>
                    <input type="text" ng-model="peditInfo.qqOrWechat">
                </li>
                <li>
                    <label><em>籍贯</em></label>
                    <input type="text" ng-model="peditInfo.natives">
                </li>
                <li>
                    <label><em>爱好</em></label>
                    <input type="text" ng-model="peditInfo.hobby">
                </li>
                <li>
                    <label><em>性格评价</em></label>
                    <input type="text" ng-model="peditInfo.charact">
                </li>
                <li>
                    <label><em>家庭成员</em></label>
                    <input type="text" ng-model="peditInfo.family">
                </li>
                <li>
                    <label><em>家庭成员与本人关系</em></label>
                    <input type="text" ng-model="peditInfo.familyRelation">
                </li>
                <li>
                    <label><em>求学和培训经历</em></label>
                    <input type="text" ng-model="peditInfo.studyExperience">
                </li>
                <li>
                    <label><em>接触经历</em></label>
                    <input type="text" ng-model="peditInfo.connectExperience">
                </li>
                <li>
                    <label><em>以往工作地区</em></label>
                    <input type="text" ng-model="peditInfo.oldWorkPlace">
                </li>
                <li>
                    <label><em>生活地区</em></label>
                    <input type="text" ng-model="peditInfo.livePlace">
                </li>
                <li>
                    <label><em>成长地区</em></label>
                    <input type="text" ng-model="peditInfo.growthPlace">
                </li>
                <li>
                    <label><em>组织机构</em></label>
                    <input type="text" ng-model="peditInfo.organization">
                </li>
                <li>
                    <label><em>现在工作地区</em></label>
                    <input type="text" ng-model="peditInfo.nowWorkPlace">
                </li>
                <li>
                    <label><em>所在公司</em></label>
                    <input type="text" ng-model="peditInfo.nowCompany">
                </li>
                <li>
                    <label><em>岗位</em></label>
                    <input type="text" ng-model="peditInfo.station">
                </li>
                <li>
                    <label><em>职权</em></label>
                    <input type="text" ng-model="peditInfo.duty">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="cooperationPEditFun()">提交</button>
    </p>
</div>

<script type="text/javascript">
    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();
</script>