<div class="collect">
    <section class="collect-select">
        <ul>
            <li>
                <label><em>年份</em></label>
                <div class="sele side">
                    <select class="sele" ng-model="year">
                        <option disabled value="">请选择</option>
                        <option ng-repeat="year in yeardata">{{year}}</option>
                    </select>
                    <input type="text"  class="inputDom" ng-model="year">
                </div>
            </li>
            <li>
                <label><em>月份</em></label>
                <div class="sele side">
                    <select class="sele" ng-model="month">
                        <option disabled value="">请选择</option>
                        <option ng-repeat="month in monthdata">{{month}}</option>
                    </select>
                    <input type="text" class="inputDom"   ng-model="month">
                </div>
                <button ng-click="collect()">汇总</button>
            </li>
        </ul>
    </section>
    <ul class="sum-list">
        <li class="sum-thead">
            <span>项目组</span>
            <span>地区</span>
            <span>年份</span>
            <span>月份</span>
            <span>项目名称</span>
            <span>预计收入</span>
            <span>预计市场费</span>
            <span>实际市场费</span>
            <span>差额</span>
            <span>预计占比</span>
            <span>实际占比</span>
            <span>预警</span>
        </li>
        <li style="cursor: pointer" class="sum-tbody {{summaryList._selectList?'selectList':''}}" ng-click="selectList(summaryList)" ng-repeat="summaryList in summaryLists">
            <span>{{summaryList.project}}</span>
            <span>{{summaryList.arrival}}</span>
            <span>{{summaryList.year}}</span>
            <span>{{summaryList.month}}</span>
            <span>{{summaryList.projectName}}</span>
            <span>{{summaryList.expectedIncomeSum}}</span>
            <span>{{summaryList.expectedMarketCostSum}}</span>
            <span>{{summaryList.actualMarketCostSum}}</span>
            <span>{{summaryList.differences}}</span>
            <span>{{summaryList.expectedScale}}</span>
            <span>{{summaryList.actualScale}}</span>
            <span style="color: red">{{summaryList.warn}}</span>
        </li>
    </ul>
</div>