<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>项目承包管理</h3>
    <ul class="menu">
        <li ng-click="navClass('ssui')" ng-class="{'active':navCla=='ssui'}"  ui-sref="_root.business.contract.ssui.list"><a href="javascript:void(0)">项目承包洽谈</a></li>
    </ul>
</div>
<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>项目分包管理</h3>
    <ul class="menu">
        <li ng-click="navClass('subpackage')" ng-class="{'active':navCla=='subpackage'}"  ui-sref="_root.business.outsource.subpackage.list"><a href="javascript:void(0)">项目承分洽谈
        </a></li>
    </ul>
</div>


<!--  projectmeasure/marketserve    basicinfo                      -->