<div class="content-tab list">
    <div class="collect-select" style="margin:20px 20px 20px 15px">
        <span class="sum">开始日期：<input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="inputter start" ng-model="start"></span>
        <span class="sum">结束日期：<input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="inputter end" ng-model="end"></span>
        <span class="sum mary">
            地区：
            <select class="sele"  ng-model="area" >
                <option value="请选择">请选择</option>
                <option ng-repeat="area in areas" value="{{area}}">{{area}}</option>
            </select>
            <input type="text"  class="inputArea" ng-model="area" >
        </span>
        <span class="sum mary">
            项目组：
            <select class="sele"  ng-model="project" >
                <option value="请选择">请选择</option>
                <option ng-repeat="project in projects" value="{{project}}">{{project}}</option>
            </select>
            <input type="text"  class="inputArea" ng-model="project" style="left: 61px;">
        </span>
        <button ng-click="all()" style="margin-left:10px;">项目组排名</button>
        <button ng-click="one()" style="margin-left:10px;">个人排名</button>
    </div>
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>开始时间</span>
            <span>结束时间</span>
            <span>项目组</span>
            <span>地区</span>
            <span>用户名</span>
            <span>编号</span>
            <span>总次数</span>
            <span>总分</span>
            <span>排名</span>
        </li>
        <li class="list-all">
            <section ng-repeat="list in rewardLists" style="display: {{list._delete?'none':'block'}};">
                <div  class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p></p>
                    <p>{{::list.start}}</p>
                    <p>{{::list.end}}</p>
                    <p>{{::list.department}}</p>
                    <p>{{::list.area}}</p>
                    <p>{{::list.username}}</p>
                    <p>{{::list.serialNumber}}</p>
                    <p>{{::list.frequency}}</p>
                    <p>{{::list.total}}</p>
                    <p>{{::list.rank}}</p>
                    
                </div>
            </section>
        </li>
     </ul>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>