<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                  <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>姓名</em></label>
                      <div class="sele side">
                    <select class="sele" ng-model="addname">
                        <option disabled value="">请选择</option>
                    </select>
                    <input type="text"  class="inputDom" ng-verify="{}" ng-model="addname">
                    </div>
                </li>
                <li>
                    <label><em>个人资质</em></label>
                    <div class="sele side">
                    <select class="sele" ng-model="addcapacity">
                        <option disabled value="">请选择</option>
                    </select>
                    <input type="text"  class="inputDom" ng-model="addcapacity">
                        </div>
                </li>
                <li>
                    <label><em>个人职称</em></label>
                    <div class="sele side">
                    <select class="sele" ng-model="addselfJobTitle">
                        <option disabled value="">请选择</option>
                    </select>
                    <input type="text"  class="inputDom"  ng-model="addselfJobTitle">
                        </div>
                </li>
                <li>
                    <label><em>岗位职能</em></label>
                    <div class="sele side">
                    <select class="sele" ng-model="addpositionTitle">
                        <option disabled value="">请选择</option>
                    </select>
                    <input type="text"  class="inputDom"  ng-model="addpositionTitle">
                        </div>
                </li>
                <li>
                    <label><em>工作年限</em></label>
                    <div class="sele side">
                    <select class="sele" ng-model="addworkYear" >
                        <option disabled value="">请选择</option>
                    </select>
                    <input type="text"  class="inputDom"  ng-model="addworkYear">
                        </div>
                </li>
                <li>
                    <label><em>个人经手项目</em></label>
                    <div class="sele side">
                    <select class="sele" ng-model="addselfProject">
                        <option disabled value="">请选择</option>
                    </select>
                    <input type="text"  class="inputDom" ng-model="addselfProject">
                        </div>
                </li>
             </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="personAddFun()">提交</button>
    </p>
</div>

<script type="text/javascript">
    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();
</script>