<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>成长能力类型</em></label>
                    <select class="sele" ng-model="add.groupUpType">
                        <option value="" disabled>请选择</option>
                        <option value="COST">成本</option>
                        <option value="FEE">费用</option>
                        <option value="PROFIT">利润</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目</em></label>
                    <select class="sele" ng-verify="{}"   ng-model="add.projectInfoId">
                        <option value="" disabled>请选择</option>
                        <option ng-repeat="pros in proData" value="{{pros.id}}">{{pros.project}}</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>一月</em></label>
                    <input type="number" ng-verify="{}" ng-model="add.januaryMoney">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>二月</em></label>
                    <input type="number" ng-verify="{}" ng-model="add.februaryMoney">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>三月</em></label>
                    <input type="number" ng-verify="{}" ng-model="add.marchMoney">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>四月</em></label>
                    <input type="number" ng-verify="{}" ng-model="add.aprilMoney">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>五月</em></label>
                    <input type="number" ng-verify="{}" ng-model="add.mayMoney">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>六月</em></label>
                    <input type="number" ng-verify="{}" ng-model="add.juneMoney">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>七月</em></label>
                    <input type="number" ng-verify="{}" ng-model="add.julyMoney">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>八月</em></label>
                    <input type="number" ng-verify="{}" ng-model="add.augustMoney">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>九月</em></label>
                    <input type="number" ng-verify="{}" ng-model="add.septemberMoney">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>十月</em></label>
                    <input type="number" ng-verify="{}" ng-model="add.octoberMoney">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>十一月</em></label>
                    <input type="number" ng-verify="{}" ng-model="add.novemberMoney">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>十二月</em></label>
                    <input type="number" ng-verify="{}" ng-model="add.decemberMoney">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="growAddFun()">提交</button>
    </p>
</div>

<script type="text/javascript">

    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();


</script>