<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>地区</em></label>
                    <input type="text"  ng-model="add.area">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目组</em></label>
                    <input type="text"   ng-verify="{}" ng-model="add.project">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目内部结构</em></label>
                    <input type="text"  ng-verify="{}" ng-model="add.projectInner">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>派工项目名称</em></label>
                    <input type="text"  ng-model="add.projectDispatch">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>派工单编号</em></label>
                    <input type="text"   ng-verify="{}" ng-model="add.dispatchCode">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>派工合同号</em></label>
                    <input type="text"  ng-verify="{}" ng-model="add.dispatchContraCode">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>开工时间</em></label>
                    <input type="text" class="starttime" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>完工时间</em></label>
                    <input type="text"  class="endtime" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>完工时间(单位：个月)</em></label>
                    <input type="number"   ng-verify="{}" ng-model="add.completeTime">个月
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>合同金额(单位:万元)</em></label>
                    <input type="number"  ng-verify="{}" ng-model="add.contractMoney">万元
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>派工单位</em></label>
                    <input type="text"  ng-verify="{}" ng-model="add.dispatchUnit">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>合同规模数</em></label>
                    <input type="text"  ng-model="add.contractScale">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>回款周期</em></label>
                    <input type="text"   ng-verify="{}" ng-model="add.receivableNum">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>重点性</em></label>
                    <input type="text"  ng-verify="{}" ng-model="add.emphasis">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>难易程度</em></label>
                    <input type="text"  ng-verify="{}" ng-model="add.difficulty">
                </li>

            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="basicAddFun()">提交</button>
    </p>
</div>
