<div class="content-input add" verify-scope="tipStyle: 1">  <!--表单验证插件-->
    <div class="input-list">
        <section>
            <ul>
                <li style="display: none">
                    <label><i><img src="/images/mandatory.png"></i><em>id</em></label>
                    <input type="text" ng-model="editInfo.id">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>公司名称</em></label>
                    <input type="text" ng-verify="{}" ng-model="editInfo.companyName">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>专业资质认证</em></label>
                    <div class="sele side">
                    <select class="sele" ng-model="editInfo.professionAuthen">
                        <option value="" disabled>请选择</option>
                        <option>电信工程专业承包企业资质</option>
                        <option>通信工程施工总承包企业资质</option>
                        <option>通信息系网络系统集成企业资质</option>
                        <option>电子通信广电行业的工程设计资质</option>
                        <option>通信信息专业工程咨询资质</option>
                    </select>
                    <input type="text" ng-verify="{}" class="inputDom" ng-model="editInfo.professionAuthen">
                   </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>管理资质认证</em></label>
                    <div class="sele side">
                    <select class="sele" ng-model="editInfo.manageAuthen">
                        <option value="" disabled>请选择</option>
                        <option>9000族质量管理体系或同类认证</option>
                        <option>27000族信息安全管理体系或同类认证</option>
                        <option>14000族环境管理体系认证证书</option>
                        <option>建筑业企业资质证书</option>
                    </select>
                    <input type="text" ng-verify="{}" class="inputDom" ng-model="editInfo.manageAuthen">
                        </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>公司荣誉证书</em></label>
                    <input type="text" ng-verify="{}" ng-model="editInfo.companyCertificate">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>公司参与项目</em></label>
                    <input type="text" ng-verify="{}" ng-model="editInfo.companyProject">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>是否独立完成</em></label>
                    <select class="sele" ng-model="editInfo.completePro" ng-verify="{}">
                        <option value="" disabled>请选择</option>
                        <option value="INDEPENDENT">独立完成</option>
                        <option value="COOPER">合作完成</option>
                        <option value="STAGEPARTICIPATION">阶段参与</option>
                    </select>
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="coopcapIdEditFun()">提交</button>
    </p>
</div>

<script type="text/javascript">
    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();
</script>