<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>编号</em></label>
                    <input type="text"  ng-model="departmentData.serialNumber">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>体系</em></label>
                    <select class="sele" ng-model="departmentData.hierarchyId" >
                        <option ng-repeat="system in systemList" ng-verify="{}" value="{{system.id}}">{{system.hierarchy}}</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目组/部门</em></label>
                    <input type="text"   ng-verify="{}" ng-model="departmentData.department">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>所属地区</em></label>
                    <select class="sele" ng-model="departmentData.area" >
                        <option value="广州">广州</option>
                        <option value="佛山">佛山</option>
                        <option value="江门">江门</option>
                    </select>
                </li>

                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>成本分类</em></label>
                    <input type="text" ng-model="departmentData.classify" ng-verify="{}">
                </li>
                <li class="required">
                    <label><em>描述</em></label>
                    <input type="text" ng-model="departmentData.description">
                </li>

            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="departmentEditFun()">提交</button>
    </p>
</div>
