<div class="content-tab list" style="margin-top: -70px;">
    <ul class="table com-table">
       <li class="list-head">
            <span></span>
            <span>年份</span>
            <span>月份</span>
            <span>计薪周期开始时间</span>
            <span>计薪周期结束时间</span>
            <span>地区</span>
            <span>姓名</span>
            <span></span>
        </li>

        <li class="list-all">
            <section ng-repeat="list in payedLists"  style="display: {{list._delete?'none':'block'}};">
                <div  class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p>{{$index+1}}</p>
                    <p>{{::list.year}}</p>
                    <p>{{::list.month}}</p>
                    <p>{{::list.salaryStart}}</p>
                    <p>{{::list.salaryEnd}}</p>
                    <p>{{::list.area}}</p>
                    <p>{{::list.name}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more"  ng-click="moreList(list)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul style="display: {{list._moreList?'block':'none'}};">
                        <p class="see-parent" style="background:#999;">
                            <span class="morel">用户Id</span>
                            <span class="morel">部门</span>
                            <span class="morel">岗位</span>
                            <span class="morel">出勤天数</span>
                            <span class="morel">员工工资</span>
                            <span class="morel">电脑补助</span>
                            <span class="morel">住宿补助</span>
                            <span class="morel">工龄补助</span>
                        </p>
                        <p class="see-children" style="background:rgba(0, 198, 255, 0.34)">
                            <span class="morep">{{::list.userId}}</span>
                            <span class="morep">{{::list.department}}</span>
                            <span class="morep">{{::list.position}}</span>
                            <span class="morep">{{::list.attendanceDays}}</span>
                            <span class="morep">{{::list.salary}}</span>
                            <span class="morep">{{::list.cpSubsidy}}</span>
                            <span class="morep">{{::list.dormitorySubsidy}}</span>
                            <span class="morep">{{::list.yearSubsidy}}</span>
                        </p> 
                        <p class="see-parent" style="background:#999;">
                            <span class="morel">高温补助</span>
                            <span class="morel">社保补助</span>
                            <span class="morel">其他</span>
                            <span class="morel">工资总额</span>
                            <span class="morel">假期加班费</span>
                            <span class="morel">社保扣款</span>
                            <span class="morel">水电扣款</span>
                            <span class="morel">扣分合计</span>
                        </p>
                        <p class="see-children" style="background:rgba(0, 198, 255, 0.34)">
                           <span class="morep">{{::list.hotSubsidy}}</span>
                            <span class="morep">{{::list.socialSubsidy}}</span>
                            <span class="morep">{{::list.anotherSubsidy}}</span>
                            <span class="morep">{{::list.totalSalary}}</span>
                            <span class="morep">{{::list.holidaySalary}}</span>
                            <span class="morep">{{::list.socialConsume}}</span>
                            <span class="morep">{{::list.dormitoryConsume}}</span>
                            <span class="morep">{{::list.deduction}}</span> 
                        </p> 
                        <p class="see-parent" style="background:#999;">
                            <span class="morel">奖励处罚扣款</span>
                            <span class="morel">个税扣款</span>
                            <span class="morel">事病假扣款</span>
                            <span class="morel">旷工扣款</span>
                            <span class="morel">实发工资</span>
                            <span class="morel">是否缴纳个人所得税</span>
                            <span class="morel">本月第一次发工资</span>
                            <span class="morel">本月第二次发工资</span>
                        </p>
                        <p class="see-children" style="background:rgba(0, 198, 255, 0.34)">
                            <span class="morep">{{::list.punishConsume}}</span>
                            <span class="morep">{{::list.taxConsume}}</span>
                            <span class="morep">{{::list.vacationConsume}}</span>
                            <span class="morep">{{::list.absenteeismConsume}}</span>
                            <span class="morep">{{::list.actualSalary}}</span>
                            <span class="morep">{{::list.ratepaying}}</span>
                            <span class="morep">{{::list.firstSalary}}</span>
                            <span class="morep">{{::list.secondSalary}}</span>
                        </p> 
                        <p class="see-parent" style="background:#999;">
                            <span class="morel">第一次是否发放</span>
                            <span class="morel">第二次是否发放</span>
                            <span class="morel">第一次确认时间</span>
                            <span class="morel">第二次确认时间</span>
                            <span class="morel">第一次付款时间</span>
                            <span class="morel">第二次付款时间</span>
                            <span class="morel">数据状态</span>
                            <span class="morel">本月需缴发票金额</span>
                        </p>
                        <p class="see-children" style="background:rgba(0, 198, 255, 0.34)">
                            <span class="morep">{{::list.firstConfirm}}</span>
                            <span class="morep">{{::list.secondConfirm}}</span>
                            <span class="morep">{{::list.firstConfirmTime}}</span>
                            <span class="morep">{{::list.secondConfirmTime}}</span>
                            <span class="morep">{{::list.firstPayedTime}}</span>
                            <span class="morep">{{::list.secondPayedTime}}</span>
                            <span class="morep">{{::list.findType}}</span>
                            <span class="morep">{{::list.needRatepaying}}</span>
                        </p>
                        <p class="see-parent" style="background:#999;">
                            <span class="morel">累计需缴纳发票金额</span>
                            <span class="morel">累计上交发票金额</span>
                        </p>  
                        <p class="see-children" style="background:rgba(0, 198, 255, 0.34)">
                            <span class="morep">{{::list.totalRatepayed}}</span>
                            <span class="morep">{{::list.totalSubmit}}</span>
                        </p> 
                    </ul>
                    <div class="module">
                        <div class="see-module">
                            <p class="see-type">体现类型</p>
                            <p class="see-description"></p>
                            <button class="btn">关闭</button>
                        </div>
                    </div>
                </div>
            </section>
        </li>
     </ul>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>
