<div class="content-tab list">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>网站名称</span>
            <span>网址</span>
        </li>
        <li class="list-all" ng-repeat="lists in websiteLists" style="display: {{lists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p>{{$index+1}}</p>
                    <p>{{lists.webName}}</p>
                    <p>{{lists.url}}</p>
                </div>
            </section>
        </li>
    </ul>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>




