<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>商务评估</h3>
    <ul class="menu">
        <li ng-click="navClass('basicInfo')" ng-class="{'active':navCla=='basicInfo'}"  ui-sref="_root.assessment.basicInfo.list">
            <a href="javascript:void(0)">项目基本信息</a>
        </li>
    </ul>
</div>
<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>项目成本</h3>
    <ul class="menu">
        <li ng-click="navClass('demand')" ng-class="{'active':navCla=='demand'}" ui-sref="_root.assessment.demand.list">
            <a href="javascript:void(0)">需求成本</a>
        </li>
        <li ng-click="navClass('labour')" ng-class="{'active':navCla=='labour'}" ui-sref="_root.assessment.labour.list">
            <a href="javascript:void(0)">劳动成本</a>
        </li>
        <li ng-click="navClass('other')" ng-class="{'active':navCla=='other'}" ui-sref="_root.assessment.other.list">
            <a href="javascript:void(0)">其他成本</a>
        </li>
    </ul>
</div>
<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>项目成本</h3>
    <ul class="menu">
        <li ng-click="navClass('cost')" ng-class="{'active':navCla=='cost'}" ui-sref="_root.assessment.cost.list">
            <a href="javascript:void(0)">项目费用</a>
        </li>
    </ul>
</div>
<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>项目利润率</h3>
    <ul class="menu">
        <li ng-click="navClass('profit')" ng-class="{'active':navCla=='profit'}" ui-sref="_root.assessment.profit.list">
            <a href="javascript:void(0)">项目利润率</a>
        </li>
    </ul>
</div>
<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>项目成长能力</h3>
    <ul class="menu">
        <li ng-click="navClass('grow')" ng-class="{'active':navCla=='grow'}" ui-sref="_root.assessment.grow.list">
            <a href="javascript:void(0)">成本成长能力</a>
        </li>
    </ul>
</div>
<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>市场反应和创新能力</h3>
    <ul class="menu">
        <li ng-click="navClass('information')" ng-class="{'active':navCla=='information'}" ui-sref="_root.assessment.information.list">
            <a href="javascript:void(0)">基本信息</a>
        </li>
        <li ng-click="navClass('handle')" ng-class="{'active':navCla=='handle'}" ui-sref="_root.assessment.handle.list">
            <a href="javascript:void(0)">项目问题受理和处理</a>
        </li>
    </ul>
</div>
<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>输出评估结果</h3>
    <ul class="menu">
        <li ng-click="navClass('money')" ng-class="{'active':navCla=='money'}" ui-sref="_root.assessment.money.list">
            <a href="javascript:void(0)">项目金额</a>
        </li>
        <li ng-click="navClass('progrow')" ng-class="{'active':navCla=='progrow'}" ui-sref="_root.assessment.progrow.list">
            <a href="javascript:void(0)">项目成长能力</a>
        </li>
        <li ng-click="navClass('rate')" ng-class="{'active':navCla=='rate'}" ui-sref="_root.assessment.rate.list">
            <a href="javascript:void(0)">项目利润率</a>
        </li>
        <li ng-click="navClass('new')" ng-class="{'active':navCla=='new'}" ui-sref="_root.assessment.new.list">
            <a href="javascript:void(0)">市场反应和能力创新</a>
        </li>
        <li ng-click="navClass('relationship')" ng-class="{'active':navCla=='relationship'}" ui-sref="_root.assessment.relationship.list">
            <a href="javascript:void(0)">客户关系指标</a>
        </li>
    </ul>
</div>
<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>内部评估</h3>
    <ul class="menu">
        <li ng-click="navClass('frontline')" ng-class="{'active':navCla=='frontline'}" ui-sref="_root.assessment.frontline.list">
            <a href="javascript:void(0)">一线实施体系评价</a>
        </li>
        <li ng-click="navClass('charge')" ng-class="{'active':navCla=='charge'}" ui-sref="_root.assessment.charge.list">
            <a href="javascript:void(0)">商务负责人评价</a>
        </li>
        <li ng-click="navClass('project')" ng-class="{'active':navCla=='project'}" ui-sref="_root.assessment.project.list">
            <a href="javascript:void(0)">项目负责人评价</a>
        </li>
    </ul>
</div>
<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>商务评估结果汇总</h3>
    <ul class="menu">
        <li ng-click="navClass('result')" ng-class="{'active':navCla=='result'}" ui-sref="_root.assessment.result.list">
            <a href="javascript:void(0)">商务评估结果汇总</a>
        </li>
    </ul>
</div>