<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目</em></label>
                    <select class="sele" ng-verify="{}"   ng-model="add.projectInfoId"  ng-init="add.projectInfoId='请选择'">
                        <option value="" disabled>请选择</option>
                        <option ng-repeat="pros in proData" value="{{pros.id}}">{{pros.project}}</option>
                    </select>
                    <!-- <input type="text" class="inputDom" ng-verify="{}" ng-model="add.projectInfoId">-->
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>来源</em></label>
                    <input type="text" ng-verify="{}" ng-model="add.source">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>通知方式</em></label>
                    <input type="text" ng-verify="{}" ng-model="add.informWay">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>影响部门</em></label>
                    <input type="text" ng-verify="{}" ng-model="add.affectDepartment">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>时间紧急度</em></label>
                    <input type="text" ng-verify="{}" ng-model="add.urgencyLevel">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>责任人员</em></label>
                    <input type="text" ng-verify="{}" ng-model="add.dutyMan">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>处理人员</em></label>
                    <input type="text" ng-verify="{}" ng-model="add.disposeMan">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>反应类型</em></label>
                    <input type="text" ng-verify="{}" ng-model="add.responseType">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>详细情况</em></label>
                    <input type="text" ng-verify="{}" ng-model="add.detail">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>受理开始时间</em></label>
                    <input type="text" ng-model="add.disposeStartTime" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="add_image disposeStartTime" >
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>受理终止时间</em></label>
                    <input type="text" ng-model="add.disposeEndTime" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="add_image disposeEndTime" >
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>经验总结</em></label>
                    <input type="text" ng-verify="{}" ng-model="add.sufferSummary">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="handleAddFun()">提交</button>
    </p>
</div>

<script type="text/javascript">

    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();


</script>