<div class="content-tab list" style="margin-top: -70px;">
    <ul class="table com-table">
       <li class="list-head">
            <span></span>
            <span>任务名称</span>
            <span>任务要求</span>
            <span>任务节点</span>
            <span>完成情况</span>
            <span>任务时间</span>
            <span>文件名称</span>
            <span>文件存储路径</span>
            <span>汇报对象</span>
            <span>任务来源路径</span>
            
        </li>
        <!---->
        <li class="list-all">
            <section ng-repeat="list in taskLists" class="{{list.status?'':'congeal'}}"  style="display: {{list._delete?'none':'block'}};">
                <div  class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p>{{$index+1}}</p>
                    <p>{{::list.taskName}}</p>
                    <p>{{::list.taskRequire}}</p>
                    <p>{{::list.taskNode}}</p>
                    <p>{{::list.completion}}</p>
                    <p>{{::list.taskTime}}</p>
                    <p>{{::list.fileName}}</p>
                    <p>{{::list.filePath}}</p>
                    <p>{{::list.reportObject}}</p>
                    <p>{{::list.taskPath}}</p>
                    
                </div>
            </section>
        </li>
     </ul>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>
