<div class="content-tab list" style="margin-top: -70px;">
    <ul class="table com-table">
       <li class="list-head">
            <span></span>
            <span>id编号</span>
            <span>代码</span>
            <span>月份</span>
            <span>一级科目</span>
            <span>地区</span>
            <span>项目名称</span>
            <span>项目组/部门</span>
            <span></span>
        </li>

        <li class="list-all">
            <section ng-repeat="list in courseCollectLists"  style="display: {{list._delete?'none':'block'}};">
                <div  class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p>{{$index+1}}</p>
                    <p>{{::list.id}}</p>
                    <p>{{::list.code}}</p>
                    <p>{{::list.months}}</p>
                    <p>{{::list.firstSubject}}</p>
                    <p>{{::list.area}}</p>
                    <p>{{::list.projectName}}</p>
                    <p>{{::list.projectGroup}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more"  ng-click="moreList(list)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul style="display: {{list._moreList?'block':'none'}};">
                        <p class="see-parent" style="background:#999;">
                            <span class="morel">期初借方余额</span>
                            <span class="morel">期初贷方余额</span>
                            <span class="morel">期初差额</span>
                            <span class="morel">本期借方发生额</span>
                            <span class="morel">本期贷方发生额</span>
                            <span class="morel">本期差额</span>
                            <span class="morel">期末借方余额</span>
                            <span class="morel">期末贷方余额</span>
                            <span class="morel">期末差额</span>  
                        </p>
                        <p class="see-children" style="background:rgba(0, 198, 255, 0.34)">
                            <span class="morep">{{::list.beginningDebitAmount}}</span>
                            <span class="morep">{{::list.beginningCreditAmount}}</span>
                            <span class="morep">{{::list.beginMinusMoney}}</span>
                            <span class="morep">{{::list.issueDebitAmount}}</span>
                            <span class="morep">{{::list.issueCreditAmount}}</span>
                            <span class="morep">{{::list.issueMinusMoney}}</span>
                            <span class="morep">{{::list.endDebitAmount}}</span>
                            <span class="morep">{{::list.endCreditAmount}}</span>
                            <span class="morep">{{::list.endMinusMoney}}</span>
                        </p>        
                    </ul>
                    <div class="module">
                        <div class="see-module">
                            <p class="see-type">体现类型</p>
                            <p class="see-description"></p>
                            <button class="btn">关闭</button>
                        </div>
                    </div>
                </div>
            </section>
        </li>
     </ul>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>
