<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>项目中问题受理和处理</h3>
    <ul class="menu">
        <li ng-click="navClass('problemAccepted')" ng-class="{'active':navCla=='problemAccepted'}"  ui-sref="_root.projectProcessed.problemAccepted.list">
            <a href="javascript:void(0)">项目执行中的问题受理</a>
        </li>
        <li ng-click="navClass('confirmProblem')" ng-class="{'active':navCla=='confirmProblem'}" ui-sref="_root.projectProcessed.confirmProblem.list">
            <a href="javascript:void(0)">确认问题处理结果</a>
        </li>
        <li ng-click="navClass('personalTask')" ng-class="{'active':navCla=='personalTask'}" ui-sref="_root.projectProcessed.personalTask.list">
            <a href="javascript:void(0)">参与处理人员的任务分配</a>
        </li>
    </ul>
    <h3 class="header-menu big"><i class="nav-arrow"></i>设置</h3>
    <ul class="menu">
        <li ng-click="navClass('setting')" ng-class="{'active':navCla=='setting'}"  ui-sref="_root.projectProcessed.setting.list[12]" ><a href="javascript:void(0)">设置</a></li>
    </ul>
</div>