<div class="content-input" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>资质名称</em></label>
                    <input type="text"  ng-model="edit.qualifications">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>公司名称</em></label>
                    <input type="text"   ng-verify="{}" ng-model="edit.company">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>认证时间</em></label>
                    <input type="text" class="rztime" ng-model="edit.attestation" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>办理开始时间</em></label>
                    <input type="text" class="starttime" ng-model="edit.handleTime" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>计划结束时间</em></label>
                    <input type="text" class="endtime" ng-model="edit.endTime" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>负责经办人</em></label>
                    <input type="text"  ng-verify="{}" ng-model="edit.director">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>办理费用(元)</em></label>
                    <input type="number" ng-model="edit.handleCost">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>年检费用(元)</em></label>
                    <input type="number"  ng-model="edit.renewal" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>办理状态</em></label>
                    <select class="sele" ng-model="edit.handle" ng-init="edit.handle='NONE'">
                        <option value="NONE">未办理</option>
                        <option value="SUCCESS">办理成功</option>
                        <option value="FAIL">办理失败</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>证书</em></label>
                    <input type="text"  ng-verify="{}" ng-model="edit.certificate">
                </li>
                <li>
                    <label><em>办理使用材料</em></label>
                    <input type="text" ng-model="edit.material">
                </li>
                <li>
                    <label><em>付款记录登记</em></label>
                    <input type="text"  ng-model="edit.record">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="editFun()">提交</button>
    </p>
</div>
