
<div class="nav-list" ng-repeat="list in showsList">
    <h3 class="header-menu big" ng-click="showMenu(list,true)">
        <i class="nav-arrow" ng-class="{true: '', false: 'change-angle'}[list.showIs]"></i>
        {{list.item}}</h3>
    <ul class="menu" ng-if="list.menuList.length"  ng-show="list.showIs" ng-repeat="menuInfo in list.menuList">
        <li ng-click="navClass(menuInfo.msg)" ng-show="annualinfo" ng-class="{'active':navCla==menuInfo.msg}"  ui-sref="_root.holiday.annual.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name}}</a>
        </li>
        <li ng-click="navClass(menuInfo.msg)" ng-show="annualapply" ng-class="{'active':navCla== menuInfo.msg}" ui-sref="_root.holiday.leave.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name2}}</a>
        </li>
        <li ng-click="navClass(menuInfo.msg)" ng-show="annualstandard" ng-class="{'active':navCla==menuInfo.msg}" ui-sref="_root.holiday.management.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name3}}</a>
        </li>
        <li ng-click="navClass(menuInfo.msg)" ng-show="cuspermission" ng-class="{'active':navCla==menuInfo.msg}"  ui-sref="_root.holiday.setting.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name4}}</a>
        </li>
    </ul>
</div>