<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>地区</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched area side">
                        <select ng-model="vm.area" class="sele">
                            <option value="请选择1">请选择1</option>
                            <option ng-repeat="area in areas" value="{{area.area}}">{{area.area}}</option>
                        </select> 

                         <input type="text"  class="inputDom ng-valid ng-not-empty ng-dirty ng-touched" ng-model="vm.area" ng-verify="{}">
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目组</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched projectGroup side">
                        <select ng-model="vm.projectGroup" class="sele">
                            <option value="请选择1">请选择1</option>
                            <option ng-repeat="projectGroup in projectGroups" value="{{projectGroup.department}}">{{projectGroup.department}}</option>
                        </select> 

                         <input type="text"  class="inputDom ng-valid ng-not-empty ng-dirty ng-touched" ng-model="vm.projectGroup" ng-verify="{}">
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目名称</em></label>
                    <input type="text" ng-model="vm.projectName" ng-verify="{}">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>住宿地址</em></label>
                    <input type="text"  ng-verify="{}" ng-model="vm.address">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>员工姓名</em></label>
                    <input type="text"  ng-verify="{}" ng-model="vm.name">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>员工编号</em></label>
                    <input type="text"  ng-verify="{}" ng-model="vm.num">
                </li>
                <li class="required">  
                    <label><i><img src="/images/mandatory.png"></i><em>住宿开始时间</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="time1" ng-model="vm.stayStartTime">
                </li>
                <li class="required">  
                    <label><i><img src="/images/mandatory.png"></i><em>住宿结束时间</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="time2" ng-model="vm.stayEndTime">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>住宿天数</em></label>
                    <input type="text"  ng-verify="{}" ng-model="vm.stayDay">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>房租（元/月）</em></label>
                    <input type="text"  ng-verify="{}" ng-model="vm.rent">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>房租公司缴纳</em></label>
                    <input type="number"  ng-verify="{}" ng-model="vm.rentCompanyPay">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>房租员工缴纳</em></label>
                    <input type="number"  ng-verify="{}" ng-model="vm.rentStaffPay">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>当月应缴水费总额</em></label>
                    <input type="number"  ng-verify="{}" ng-model="vm.waterAmount">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>水费公司缴纳</em></label>
                    <input type="number"  ng-verify="{}" ng-model="vm.waterCompanyPay">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>当月应缴电费总额</em></label>
                    <input type="number"  ng-verify="{}" ng-model="vm.energyAmount">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>电费公司缴纳</em></label>
                    <input type="number"  ng-verify="{}" ng-model="vm.energyCompanyPay">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>管道燃气费充值额度</em></label>
                    <input type="number"  ng-verify="{}" ng-model="vm.gasRechargeLines">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>燃气费公司缴纳</em></label>
                    <input type="number"  ng-verify="{}" ng-model="vm.gasCompanyPay">
                </li>
                <li class="required f-l">
                    <label><i><img src="/images/mandatory.png"></i><em>备注</em></label>
                    <input type="text"  ng-verify="{}" ng-model="vm.remark">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="waterAddFun()">提交</button>
    </p>
</div>

<script type="text/javascript">

    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();


</script>