<ul class="list">
    <li ui-sref-active="current" >
        <a href="javascript:void(0)" ui-sref=".list" class="lis">列表<span>Tabulate</span></a>
    </li>
    <li ui-sref-active="current" >
        <a href="javascript:void(0)" ui-sref=".add[12]" class="add">添加<span>Add</span></a>
    </li>
    <li ng-click="edit()">
        <a href="javascript:void(0)"  class="same-one" >编辑<span>Edit</span></a>
    </li>
    <li >
        <a href="javascript:void(0)" class="same-two" ng-click="delete()">删除<span>Delete</span></a>
    </li>
    <li>
        <a href="javascript:void(0)" class="same-three" ng-click="congeal()">冻结<span>Frozen</span></a>
    </li>
</ul>