<div class="content-tab list">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>出车单号</span>
            <span>司机名称</span>
            <span>是否为本公司人员出车</span>
            <span>用车人</span>
            <span>员工编号</span>
            <span>所属地区</span>
            <span>所属项目组</span>
            <span></span>
        </li>
        <li class="list-all" style="display: {{list._delete?'none':'block'}};" ng-repeat="list in usecarLists">
            <section  class="{{list.status=='CONGEAL'?'congeal':''}}" >
                <div class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p>{{$index+1}}</p>
                    <p>{{::list.number}}</p>
                    <p>{{::list.driver}}</p>
                    <p>{{::list.companyDispatch|cover}}</p>
                    <p>{{::list.carUser}}</p>
                    <p>{{::list.userNumber}}</p>
                    <p>{{::list.area}}</p>
                    <p>{{::list.group}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more"  ng-click="moreList(list)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{list._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>是否立项</span>
                                <span>项目名称</span>
                                <span>科目类型</span>
                                <span>出车日期</span>
                                <span>出车开始时间</span>
                                <span>出车结束时间</span>
                                <span>是否午休</span>
                                <span>加班时长</span>
                            </p>
                            <p class="see-children">
                                <span>{{::list.projectApproval|cover}}</span>
                                <span>{{::list.project}}</span>
                                <span>{{::list.acctype|cover}}</span>
                                <span>{{::list.dispatchDate}}</span>
                                <span>{{::list.startTime}}</span>
                                <span>{{::list.endTime}}</span>
                                <span>{{::list.siesta|cover}}</span>
                                <span>{{::list.overWorkTime}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span>用车是由</span>
                                <span>同车随同人员</span>
                                <span>车牌号码</span>
                                <span>所用油卡编号</span>
                                <span>是否开空调</span>
                                <span>是否市区内</span>
                                <span>当天是否加油</span>
                                <span>补加油说明</span>
                            </p>
                            <p class="see-children">
                                <span>{{::list.dispatchReason}}</span>
                                <span>{{::list.accompanyUser}}</span>
                                <span>{{::list.carNumber}}</span>
                                <span>{{::list.oilCardNumber}}</span>
                                <span>{{::list.aircondition|cover}}</span>
                                <span>{{::list.downtown|cover}}</span>
                                <span>{{::list.addOil|cover}}</span>
                                <span>{{::list.addOilExplain}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">

                                <span>欠油说明</span>
                                <span>加油时间</span>
                                <span>加油量</span>
                                <span>油卡余额</span>
                                <span>当天油价</span>
                                <span>任务下达人</span>
                                <span>计划任务数量</span>
                                <span>完成任务数量</span>
                            </p>
                            <p class="see-children">
                                <span>{{::list.oweOilExplain}}</span>
                                <span>{{::list.addOilTime}}</span>
                                <span>{{::list.addOilAmount}}</span>
                                <span>{{::list.oilCardBalance}}</span>
                                <span>{{::list.oilPrice}}</span>
                                <span>{{::list.principal}}</span>
                                <span>{{::list.planTaskAmount}}</span>
                                <span>{{::list.finishTaskAmount}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">

                                <span>出车开始里程数</span>
                                <span>出车结束里程数</span>
                                <span>总里程数</span>
                                <span>GPS轨迹里程数</span>
                                <span>停车费</span>
                                <span>过路费</span>
                                <span>餐补费</span>
                                <span>小票附件</span>
                            </p>
                            <p class="see-children">
                                <span>{{::list.startMileage}}</span>
                                <span>{{::list.endMileage}}</span>
                                <span>{{::list.mileageSubtract}}</span>
                                <span>{{::list.mileageOfGPS}}</span>
                                <span>{{::list.parkCost}}</span>
                                <span>{{::list.roadCost}}</span>
                                <span>{{::list.mealCost}}</span>
                                <span>{{::list.receipt}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">

                                <span>评价司机</span>
                                <span>处罚汇总</span>
                                <span>异常分析</span>
                                <span>资金模块核对意见</span>
                                <span>预算模块核对意见</span>
                                <span>任务下达人审核意见</span>
                                <span>是否通过</span>
                                <span>是否付款</span>
                            </p>
                            <p class="see-children">
                                <span>{{::list.evaluatedriver}}</span>
                                <span>{{::list.punishCost}}</span>
                                <span>{{::list.exceptionAnalyze}}</span>
                                <span>{{::list.fundModuleSugg}}</span>
                                <span>{{::list.budgetModuleSugg}}</span>
                                <span>{{::list.principalSugg}}</span>
                                <span>{{::list.auditResult|cover}}</span>
                                <span>{{::list.pay|cover}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span>租车费用</span>
                                <span>预计付款时间</span>
                                <span>签收小票日期</span>
                                <span>小票审核情况</span>
                                <span>资金审核时间</span>
                                <span>预算审核时间</span>
                                <span>任务下达人审核时间</span>
                                <span>资金审核人</span>
                            </p>
                            <p class="see-children">
                                <span>{{::list.carRentalCost}}</span>
                                <span>{{::list.budgetPayDate}}</span>
                                <span>{{::list.receiveReceiptDate}}</span>
                                <span>{{::list.auditReceiptSugg}}</span>
                                <span>{{::list.fundAudtiTime}}</span>
                                <span>{{::list.budgetAuditTime}}</span>
                                <span>{{::list.principalAuditTime}}</span>
                                <span>{{::list.fundAuditUser}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span>小票审核结果</span>
                                <span>预算审核人</span>
                                <span>付款计划</span>
                                <span>查询类型</span>
                                <span>油耗</span>
                                <span>油费</span>
                                <span>加班费</span>
                                <span>金额</span>
                            </p>
                            <p class="see-children">
                                <span>{{::list.auditReceiptResult}}</span>
                                <span>{{::list.budgetAuditUser}}</span>
                                <span>{{::list.payPlan}}</span>
                                <span>{{::list.findType|cover}}</span>
                                <span>{{::list.oilWear}}</span>
                                <span>{{::list.oilCost}}</span>
                                <span>{{::list.overWorkCost}}</span>
                                <span>{{::list.cost}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span>合计金额</span>
                            </p>
                            <p class="see-children">
                                <span>{{::list.totalCost}}</span>
                            </p>
                        </li>

                    </ul>
                </div>
                <div class="thaw-modal">
                    <button ng-click="thaw(list)">解冻</button>
                </div>
            </section>
        </li>
    </ul>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>











