<ul class="list">
    <li ng-click="list()" ng-class="{'current':menuClass=='listMenu'}" ui-sref=".list[12]" ng-show="LIST" class="lis" ng-init="menuCheck('LIST')">
        <a href="javascript:void(0)" class="same-two">列表</a>
    </li>
    <li ng-click="delete()" ng-class="{'current':menuClass=='deleteMenu','seeParent':idList}" ng-show="DELETE"  ng-init="menuCheck('DELETE')">
        <a href="javascript:void(0)"  class="same-three see">删除</a>
    </li>
    <li ng-click="project()" ng-class="{'current':menuClass=='projectMenu'}" ui-sref=".project[12]" ng-show="COLLECT"  ng-init="menuCheck('COLLECT')">
        <a href="javascript:void(0)"  class="same-one">项目组汇总</a>
    </li>
    <li ng-click="month()" ng-class="{'current':menuClass=='monthMenu'}" ui-sref=".month[12]" ng-show="COLLECT"  ng-init="menuCheck('COLLECT')">
        <a href="javascript:void(0)"  class="same-two">月汇总</a>
    </li>
    <li ng-click="year()" ng-class="{'current':menuClass=='yearMenu'}" ui-sref=".year[12]" ng-show="COLLECT"  ng-init="menuCheck('COLLECT')">
        <a href="javascript:void(0)"  class="same-three">年汇总</a>
    </li>
    <li ng-click="export()" ng-class="{'current':menuClass=='exportMenu'}" ui-sref=".export[12]" ng-show="EXPORT" ng-init="menuCheck('EXPORT')">
        <a href="javascript:void(0)" class="same-one" >导出</a>
    </li>
    <li ng-click="difference()" ng-class="{'current':menuClass=='differenceMenu'}" ui-sref=".difference[12]" ng-show="COLLECT" ng-init="menuCheck('COLLECT')">
        <a href="javascript:void(0)" class="same-two" >资金准备与实际支付差异</a>
    </li>
</ul>