<ul class="list">
    <li ng-click="list()" ui-sref=".list" ng-class="{'current':menuClass=='listMenu'}">
        <a href="javascript:void(0)" >列表<span>List</span></a>
    </li>
    <li ng-click="import()" ui-sref=".import[12]" ng-class="{'current':menuClass=='importMenu'}">
        <a href="javascript:void(0)"  class="add">导入<span>Import</span></a>
    </li>
    <li ng-click="delete()" ng-class="{'current':menuClass=='deleteMenu'}">
        <a href="javascript:void(0)" class="same-two">删除<span>Delete</span></a>
    </li>
</ul>