<!--Angular-UI-Router里的指令ui-sref-active 查看当前激活状态并设置 Class-->
<ul class="list">
    <li ng-click="list()" ng-class="{'current':menuClass=='listMenu'}" ui-sref=".list[12]" class="lis" ng-show="LIST" ng-init="menuCheck('LIST')">
        <a href="javascript:void(0)" class="same-two">列表</a>
    </li>
    <li ng-click="add()" ng-class="{'current':menuClass=='addMenu'}" ui-sref=".add[12]" ng-show="ADD" ng-init="menuCheck('ADD')">
        <a href="javascript:void(0)"  class="same-three">添加</a>
    </li>
    <li ng-click="edit()" ng-class="{'current':menuClass=='editMenu','seeParent':idList}" ng-show="EDIT" ng-init="menuCheck('EDIT')">
        <a href="javascript:void(0)"  class="same-three see">编辑</a>
    </li>
    <li ng-click="delete()" ng-class="{'current':menuClass=='deleteMenu','seeParent':idList}" ng-show="DELETE" ng-init="menuCheck('DELETE')">
        <a href="javascript:void(0)" class=".same-three see" >删除</a>
    </li>
    <li ng-click="checkTime()" ng-class="{'current':menuClass=='checkTimeMenu','seeParent':idList}"  ng-show="SEE" ng-init="menuCheck('SEE')" >
        <a href="javascript:void(0)" class="same-two see" title="查看放假安排时间">查看放假安排时间</a>
    </li>
    <li ng-click="checkPro()" ng-class="{'current':menuClass=='checkProMenu','seeParent':idList}" >
        <a href="javascript:void(0)" class="same-two  see" title="查看节假日工作安排">查看节假日工作安排</a>
    </li>
    <li ng-click="checkPeo()" ng-class="{'current':menuClass=='checkPeoMenu','seeParent':idList}"  ng-show="SEE" ng-init="menuCheck('SEE')" >
        <a href="javascript:void(0)" class="same-three see" title="查看各地区紧急联系人">查看各地区紧急联系人</a>
    </li>
    <li ng-click="checkGift()" ng-class="{'current':menuClass=='checkGiftMenu','seeParent':idList}"  ng-show="SEE" ng-init="menuCheck('SEE')" >
        <a href="javascript:void(0)" class="same-two see" title="查看节假日礼品福利">查看节假日礼品福利</a>
    </li>
    <li ng-click="checkNotice()" ng-class="{'current':menuClass=='checkNoticeMenu','seeParent':idList}"  ng-show="SEE" ng-init="menuCheck('SEE')" >
        <a href="javascript:void(0)" class=".same-three see" title="查看注意事项">查看注意事项</a>
    </li>
</ul>