<div class="collect">
    <div class="sum-select">
        <label><i><img src="/images/mandatory.png"></i><em>地区</em></label>
        <div class="select">
        <p class="select-text" >
        <span ng-repeat="area in areas">{{area}}, </span>
       </p>
        <div class="mymultiselect" events="getSummary" ng-dropdown-multiselect="" options="workOptions" selected-model="areas" extra-settings="stringSettings"></div>
       </div>
    </div>
    <ul class="sum-list">
        <li class="sum-thead">
            <span>地区</span>
            <span>合同外部项目名称</span>
            <span>内部项目名称</span>
            <span>人员类</span>
            <span>设备类</span>
            <span>派工类</span>
            <span>结算类</span>
            <span>初级</span>
            <span>中级</span>
            <span>紧急</span>
            <span>运营商</span>
            <span>厂家</span>
            <span>集成商</span>
            <span>政府机关</span>
            <span>内部员工</span>
            <span>完成</span>
            <span>未完成</span>
        </li>
        <li class="sum-tbody" ng-repeat="Lists in summaryLists">
            <span>{{Lists.area}}</span>
            <span>{{Lists.externalContractProjectName}}</span>
            <span>{{Lists.internalProjectName}}</span>
            <span>{{Lists.person}}</span>
            <span>{{Lists.device}}</span>
            <span>{{Lists.dispartch}}</span>
            <span>{{Lists.settlement}}</span>
            <span>{{Lists.elementary}}</span>
            <span>{{Lists.emergency}}</span>
            <span>{{Lists.intermediate}}</span>
            <span>{{Lists.operator}}</span>
            <span>{{Lists.vender}}</span>
            <span>{{Lists.intergrator}}</span>
            <span>{{Lists.goverment}}</span>
            <span>{{Lists.innerstaff}}</span>
            <span>{{Lists.complete}}</span>
            <span>{{Lists.uncomplete}}</span>
        </li>
    </ul>
</div>
