<div class="content-tab list">
    <ul class="table com-table">
        <li class="list-head">
            <span></span>
            <span class="data-id">id</span>
            <span>功能目的</span>
            <span>功能特色</span>
            <span>版本号</span> 
            <span>采纳意见</span>
            <span>制定/修订人</span>
            <span>责任审核</span>
            <span>制定/修订背景</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="list in versionInfoLists.data" style="display: {{list._delete?'none':'block'}};">
            <section>
                <div  class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p>{{$index+1+num}}</p>
                    <p class="data-id"></p>
                    <p mod>{{::list.purpose}}</p>
                    <p mod>{{::list.feature}}</p>
                    <p mod>{{::list.version}}</p>
                    <p mod>{{::list.advice}}</p>
                    <p mod>{{::list.designer}}</p>
                    <p mod>{{::list.audit}}</p>
                    <p mod>{{::list.background}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more"  ng-click="moreList(list)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{list._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>制作/修订内容</span>
                                <span>完成时间</span>
                                <span>是否已开发</span>
                                <span>开发人员</span>
                                <span>是否通过体验测试</span>
                                <span>体验时间</span>
                                <span>体验人员</span>
                                <span>问题</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{::list.content}}</span>
                                <span mod>{{::list.finishTime}}</span>
                                <span mod>{{::list.haveDevelop | version}}</span>
                                <span mod>{{::list.developer}}</span>
                                <span mod>{{::list.pass | version}}</span>
                                <span mod>{{::list.experienceTime}}</span>
                                <span mod>{{::list.experiencer}}</span>
                                <span mod>{{::list.question}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span>修改建议</span>
                                <span>备注</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{::list.editAdvice}}</span>
                                <span mod>{{::list.rate}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </li>
     </ul>
     <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="versionInfo.itemsCount" take="versionInfo.take" activate="versionInfo.activatePage"></pagination>
    </footer>
</div>
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow"></div>