<div class="content-tab list">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>方案代码</span>
            <span>方案名称</span>
            <span>出售/发行人</span>
            <span>出售/发行数量</span>
            <span>出售/发行价格</span>
            <span>出售/发行时间</span>
            <span>已交易数量</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="lists in caseLists" style="display: {{lists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p mod>{{$index+1+num}}</p>
                    <p mod>{{lists.code}}</p>
                    <p mod>{{lists.name}}</p>
                    <p mod>{{lists.publisher}}</p>
                    <p mod>{{lists.number}}</p>
                    <p mod>{{lists.price}}</p>
                    <p mod>{{lists.time}}</p>
                    <p mod>{{lists.quantityNum}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more" ng-click="moreList(lists)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{lists._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>交易收入额</span>
                                <span>未交易数量</span>
                                <span>状态</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{lists.money}}</span>
                                <span mod>{{lists.sharesNum}}</span>
                                <span mod>{{lists.status}}</span>
                            </p>
                        </li>
                    </ul>  
                </div>
            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>
<!-- <div ui-view="modal"></div> -->
