<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>推荐要求设定</em></label>
                    <select class="sele"  ng-model="addfo.requireId" ng-verify="option:0">
                        <option value="">请选择</option>
                        <option ng-repeat="list in  reqSche" value="{{list[1]}}">{{list[0]}}</option>
                    </select>
                </li>
                <li>
                    <label><em>备注</em></label>
                    <input type="text"  ng-model="addfo.remark">
                </li>
                <li class="required  required-12">
                    <ul ng-repeat="list in contentList">
                        <li>
                            <span><i><img src="/images/mandatory.png"></i>推荐内容信息</span>
                            <span><input type="text" ng-model="list.content" ng-verify="{}"></span>
                            <span><i><img src="/images/mandatory.png"></i>内容明细</span>
                            <span><input type="text" ng-model="list.detail" ng-verify="{}"></span>
                            <span class="but1" ng-click="addtra($index)">增加</span>
                            <span  class="{{$index==0?'but2':'but1'}}" ng-click="cleartra($index)">移除</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="infoAddFun()">提交</button>
    </p>
</div>

<script type="text/javascript">

    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();


</script>