<div class="content-tab list">
    <ul class="table com-table">
        <li class="list-head">
            <span></span>
            <span class="data-id">id</span>
            <span>代码</span>
            <span>一级科目</span>
            <span>二级科目</span>
            <span>三级科目</span>
            <span>说明</span>
        </li>
        <li class="list-all">
            <section ng-repeat="list in marketserveLists.data|filter:teamInfo" style="display: {{list._delete?'none':'block'}};">
                <div  class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p>{{$index+1}}</p>
                    <p class="data-id"></p>
                    <p>{{::list.code}}</p>
                    <p>{{::list.firstSubjectVO.name}}</p>
                    <p>{{::list.secondSubject}}</p>
                    <p>{{::list.thirdSubject}}</p>
                    <p>{{::list.remark}}</p>
                </div>
            </section>
        </li>
     </ul>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>