<div class="content-tab list">
    <!--<div class="com-search mod">-->
        <!--<span class="com-search2">-->
            <!--<label>业务类型:</label>-->
            <!--<input type="text"  ng-model="teamInfo.businessType">-->
        <!--</span>-->
        <!--<span class="com-search2">-->
            <!--<label>业务方向科目:</label>-->
            <!--<input type="text"  ng-model="teamInfo.businessSubject">-->
        <!--</span>-->
        <!--<span class="com-search2">-->
            <!--<label>合作方式:</label>-->
            <!--<input type="text"  ng-model="teamInfo.businessCooperate">-->
        <!--</span>-->
        <!--<span class="com-search2">-->
            <!--<label>甲方公司名称:</label>-->
            <!--<input type="text"  ng-model="teamInfo.firstCompany">-->
        <!--</span>-->
        <!--<span class="com-search2">-->
            <!--<label>乙方公司名称:</label>-->
            <!--<input type="text"  ng-model="teamInfo.secondCompany">-->
        <!--</span>-->
        <!--<span class="com-search2">-->
            <!--<label>地区:</label>-->
            <!--<input type="text"  ng-model="teamInfo.area">-->
        <!--</span>-->
        <!--<span class="com-search2">-->
            <!--<label>合同属性:</label>-->
            <!--<input type="text"  ng-model="teamInfo.contractProperty">-->
        <!--</span>-->
        <!--<span class="com-search2">-->
            <!--<label>支付方式:</label>-->
            <!--<input type="text"  ng-model="teamInfo.payWays">-->
        <!--</span>-->
        <!--<span class="com-search2">-->
            <!--<label>客户名称:</label>-->
            <!--<input type="text"  ng-model="teamInfo.customerName">-->
        <!--</span>-->
        <!--<span class="com-search2">-->
            <!--<label>签订年份:</label>-->
            <!--<input type="text"  ng-model="teamInfo.siginYear">-->
        <!--</span>-->
        <!--<span class="com-search2">-->
            <!--<label>合同是否已归档:</label>-->
            <!--<input type="text"  ng-model="teamInfo.fileCondition">-->
        <!--</span>-->
    <!--</div>-->
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>合同档案编号</span>
            <span>业务类型</span>
            <span>业务方向科目</span>
            <span>合同外部项目名称</span>
            <span>合同外部项目编号</span>
            <span>对应销售合同编号</span>
            <span>合作方式</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="lists in basicLists|filter:teamInfo" style="display: {{lists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p>{{$index+1}}</p>
                    <p>{{::lists.contractNum}}</p>
                    <p>{{::lists.businessType|cover}}</p>
                    <p>{{::lists.businessSubject}}</p>
                    <p>{{::lists.outerProject}}</p>
                    <p>{{::lists.outProjectNum}}</p>
                    <p>{{::lists.saleContractNum}}</p>
                    <p>{{::lists.businessCooperate|cover}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more" ng-click="moreList(lists)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{lists._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>内部项目名称</span>
                                <span>内部项目编号</span>
                                <span>地区</span>
                                <span>所属项目组</span>
                                <span>签订年份</span>
                                <span>签订时间</span>
                                <span>合同金额</span>
                                <span>开工时间</span>
                            </p>
                            <p class="see-children">
                                <span>{{::lists.innerProject}}</span>
                                <span>{{::lists.innerProjectNum}}</span>
                                <span>{{::lists.area}}</span>
                                <span>{{::lists.projectGroup}}</span>
                                <span>{{::lists.siginYear}}</span>
                                <span>{{::lists.siginTime}}</span>
                                <span>{{::lists.money}}</span>
                                <span>{{::lists.startProjectTime}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span>完工时间</span>
                                <span>合同期限</span>
                                <span>甲方公司名称</span>
                                <span>甲方联系人</span>
                                <span>甲方联系人电话</span>
                                <span>乙方公司名称</span>
                                <span>项目负责人</span>
                                <span>项目负责人电话</span>
                            </p>
                            <p class="see-children">
                                <span>{{::lists.endProjectTime}}</span>
                                <span>{{::lists.contractRang}}</span>
                                <span>{{::lists.firstCompany}}</span>
                                <span>{{::lists.firstRelation}}</span>
                                <span>{{::lists.firstTel}}</span>
                                <span>{{::lists.secondCompany}}</span>
                                <span>{{::lists.projectCharge}}</span>
                                <span>{{::lists.projectChargeTel}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span>客户名称</span>
                                <span>合同内容</span>
                                <span>税率</span>
                                <span>合同属性</span>
                                <span>支付方式</span>
                                <span>付款比例</span>
                                <span>结算费用来源</span>
                                <span>合同是否已归档</span>
                            </p>
                            <p class="see-children">
                                <span>{{::lists.customerName}}</span>
                                <span>{{::lists.contractText}}</span>
                                <span>{{::lists.rate}}</span>
                                <span>{{::lists.contractProperty|cover}}</span>
                                <span>{{::lists.payWays|cover}}</span>
                                <span>{{::lists.payRate}}</span>
                                <span>{{::lists.payFeeOrigin|cover}}</span>
                                <span>{{::lists.fileCondition}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span>合同归档数量</span>
                                <span>备注</span>
                            </p>
                            <p class="see-children">
                                <span>{{::lists.fileCount}}</span>
                                <span>{{::lists.remark}}</span>
                            </p>
                        </li>
                    </ul>
                    <div class="module">
                        <div class="see-module">
                            <p class="see-type">体现类型</p>
                            <p class="see-description"></p>
                            <button class="btn">关闭</button>
                        </div>
                    </div>
                </div>
            </section>
        </li>
    </ul>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>




