<ul class="list">
    <li ng-click="list()" ng-class="{'current':menuClass=='listMenu'}" ui-sref=".list[12]" ng-show="LIST" ng-init="menuCheck('LIST')">
        <a href="javascript:void(0)" class="lis">列表</a>
    </li>
    <li ng-click="add()" ng-class="{'current':menuClass=='addMenu'}" ui-sref=".add[12]" ng-show="ADD" ng-init="menuCheck('ADD')">
        <a href="javascript:void(0)" class="add">添加</a>
    </li>
    <li ng-click="edit()" ng-class="{'current':menuClass=='editMenu','seeParent':idListd}" ng-show="EDIT" ng-init="menuCheck('EDIT')">
        <a href="javascript:void(0)"  class="same-one see">编辑</a>
    </li>
    <li ng-click="delete()" ng-class="{'current':menuClass=='deleteMenu','seeParent':idListd}" ng-show="DELETE" ng-init="menuCheck('DELETE')">
        <a href="javascript:void(0)" class="same-two see" >删除</a>
    </li>
    <li ng-click="daySummary()" ng-class="{'current':menuClass=='daySummaryMenu'}" ui-sref=".daySummary[12]"  ng-show="COLLECT" ng-init="menuCheck('COLLECT')">
        <a href="javascript:void(0)" class="daySummary" >日汇总</a>
    </li>
    <li ng-click="weekSummary()" ng-class="{'current':menuClass=='weekSummaryMenu'}" ui-sref=".weekSummary[12]"  ng-show="COLLECT" ng-init="menuCheck('COLLECT')">
        <a href="javascript:void(0)" class="weekSummary" >周汇总</a>
    </li>
    <li ng-click="monthSummary()" ng-class="{'current':menuClass=='monthSummaryMenu'}" ui-sref=".monthSummary[12]" ng-show="COLLECT" ng-init="menuCheck('COLLECT')">
        <a href="javascript:void(0)" class="monthSummary" >月汇总</a>
    </li>
    <li ng-click="yearSummary()" ng-class="{'current':menuClass=='yearSummaryMenu'}" ui-sref=".yearSummary[12]" ng-show="COLLECT" ng-init="menuCheck('COLLECT')">
        <a href="javascript:void(0)" class="yearSummary" >年汇总</a>
    </li>
</ul>
