<div class="content-tab list">
    <div class="search-big" style="display :{{ isView?'none':'block'}}">
        <select class="salc">
            <option>姓名</option>
        </select>
        <input type="text" ng-model="empName">
        <a href="javascript:void(0)" ng-click="search()"><img src="/images/search2.png"></a>
    </div>
    <ul class="table com-table">
        <li class="list-head">
            <span></span>
            <span>姓名</span>
            <span>项目组</span>
            <span>地区</span>
            <span>电脑补助开始时间</span>
            <span>电脑补助结束时间</span>
            <span>补助计薪周期开始时间</span>
            <span>补助计薪周期结束时间</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="lists in computerLi" style="display: {{lists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p mod>{{$index+1+num}}</p>
                    <p mod>{{::lists.empName}}</p>
                    <p mod>{{::lists.projectGroup}}</p>
                    <p mod>{{::lists.area}}</p>
                    <p mod>{{::lists.assistStartTime}}</p>
                    <p mod>{{::lists.assistEndTime}}</p>
                    <p mod>{{::lists.salaryStartTime}}</p>
                    <p mod>{{::lists.salaryEndTime}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more" ng-click="moreList(lists)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{lists._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>补助天数</span>
                                <span>补助金额补助金额（100元/月）</span>
                                <span>备注</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{::lists.assistDays}}</span>
                                <span mod>{{::lists.assistMoney}}</span>
                                <span mod>{{::lists.remark}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow"></div>

<!--
<div class="content-tab list">
    <div class="search-big" style="display :{{ isView?'none':'block'}}">
        <select class="salc" ng-model="checkedName" ng-init="checkedName='姓名'">
            <option ng-repeat="item in titles">{{item}}</option>
        </select>
        <input type="text" ng-model="empName" ng-show="checkedName=='姓名'">
        <a href="javascript:void(0)" ng-click="search()"><img src="/images/search2.png"></a>
    </div>
    <div class="search-big" style="display :{{ isView?'none':'block'}}">
        <select class="salc">
            <option>姓名</option>
        </select>
        <input type="text" ng-model="empName">
        <a href="javascript:void(0)" ng-click="search()"><img src="/images/search2.png"></a>
    </div>
    <ul class="table com-table">
            <li class="list-head">
                <span></span>
                <span>姓名</span>
                <span>项目组</span>
                <span>地区</span>
                <span>电脑补助开始时间</span>
                <span>电脑补助结束时间</span>
                <span>补助计薪周期开始时间</span>
                <span>补助计薪周期结束时间</span>
                <span></span>
            </li>
            <li class="list-all" ng-repeat="lists in computerLi.data" style="display: {{lists._delete?'none':'block'}};">
                <section>
                    <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                        <p mod>{{$index+1+num}}</p>
                        <p mod>{{::lists.empName}}</p>
                        <p mod>{{::lists.projectGroup}}</p>
                        <p mod>{{::lists.area}}</p>
                        <p mod>{{::lists.assistStartTime}}</p>
                        <p mod>{{::lists.assistEndTime}}</p>
                        <p mod>{{::lists.salaryStartTime}}</p>
                        <p mod>{{::lists.salaryEndTime}}</p>
                        <p>
                            <a href="javascript:void(0)" class="more" ng-click="moreList(lists)">更多详细</a>
                        </p>
                    </div>
                    <div class="can">
                        <ul class="can-see" style="display: {{lists._moreList?'block':'none'}};">
                            <li>
                                <p class="see-parent">
                                    <span>补助天数</span>
                                    <span>补助金额补助金额（100元/月）</span>
                                    <span>备注</span>
                                    <span style="display:none">id</span>

                                </p>
                                <p class="see-children">
                                    <span mod>{{::lists.assistDays}}</span>
                                    <span mod>{{::lists.assistMoney}}</span>
                                    <span mod>{{::lists.remark}}</span>
                                    <span mod style="display:none">{{::lists.id }}</span>
                                </p>
                            </li>
                    </ul>
                </div>
            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow"></div>
-->

