<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><em>开始时间</em></label>
                    <input type="text" ng-model="startTime" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image startTime" >
                </li>
                <li class="required">
                    <label><em>结束时间</em></label>
                    <input type="text" ng-model="endTime" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image endTime" >
                </li>
                <li class="required">
                    <label><em>指标类型</em></label>
                    <div class="sele side">
                        <select class="sele" ng-model="indexType">
                            <option disabled value="">请选择</option>
                            <option ng-repeat="type in typeData">{{type}}</option>
                        </select>
                        <input type="text"  class="inputDom" ng-model="indexType">
                    </div>
                </li>
                <li class="required">
                    <label><em>报告类型</em></label>
                    <select class="sele" ng-model="flag">
                        <option disabled value="">请选择</option>
                        <option>年度报告</option>
                        <option>部门年度报告</option>
                        <option>部门月度报告</option>
                        <option>岗位报告</option>
                        <option>个人报告</option>
                    </select>
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <button ng-verify="{control:'myform'}" ng-click="workersAddFun()">导出</button>
    </p>
</div>