<div class="nav-list">
    <h3 class="header-menu big"><i class="nav-arrow"></i>薪资核算确认业务</h3>
    <ul class="menu">
        <li ng-click="navClass('waitconfirm')" ng-class="{'active':navCla=='waitconfirm'}"  ui-sref="_root.compete.waitconfirm.list"><a href="javascript:void(0)">待确认薪资</a></li>
        <li ng-click="navClass('payed')" ng-class="{'active':navCla=='payed'}"  ui-sref="_root.compete.payed.list"><a href="javascript:void(0)">已付薪资</a></li>
        <li ng-click="navClass('salaryconfirm')" ng-class="{'active':navCla=='salaryconfirm'}"  ui-sref="_root.compete.salaryconfirm.list"><a href="javascript:void(0)">薪资核算确认业务接口</a></li>
        <li ng-click="navClass('summary')" ng-class="{'active':navCla=='summary'}"  ui-sref="_root.compete.summary.departmentSummary"><a href="javascript:void(0)">汇总分析</a></li>
        <li ng-click="navClass('confirmed')" ng-class="{'active':navCla=='confirmed'}"  ui-sref="_root.compete.confirmed.list"><a href="javascript:void(0)">已确认薪资</a></li>
    </ul>
     <h3 class="header-menu big"><i class="nav-arrow"></i>发票管理业务</h3>
    <ul class="menu">
        <li ng-click="navClass('invoicesubmit')" ng-class="{'active':navCla=='invoicesubmit'}"  ui-sref="_root.compete.invoicesubmit.list"><a href="javascript:void(0)">上交发票</a></li>
    </ul>
</div>