<div class="content-tab list" style="margin-top: -70px;">
    <ul class="table com-table">
       <li class="list-head">
            <span></span>
            <span>工作交接开始时间</span>
            <span>工作交接结束时间</span>
            <span>所属模块/组别</span>
            <span>岗位</span>
            <span>工作交接原因</span>
            <span>工作范围</span>
            <span>工作目的</span>
            <span></span>
        </li>
        <!---->
        <li class="list-all">
            <section ng-repeat="list in worksLists" class="{{list.status?'':'congeal'}}"  style="display: {{list._delete?'none':'block'}};">
                <div  class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p>{{$index+1}}</p>
                    <p>{{::list.workJoinStartTime}}</p>
                    <p>{{::list.workJoinendTime}}</p>
                    <p>{{::list.belongModule}}</p>
                    <p>{{::list.jobs}}</p>
                    <p>{{::list.workJoinCause}}</p>
                    <p>{{::list.workScope}}</p>
                    <p>{{::list.workPurpose}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more"  ng-click="moreList(list)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul style="display: {{list._moreList?'block':'none'}};">
                        <p class="see-parent height" style="background:#999;">
                            <span class="morel">工作权限</span>
                            <span class="morel">交接人</span>
                            <span class="morel">交接人确认(是/否)</span>
                            <span class="morel">接手人</span>
                            <span class="morel">接手人确认(是/否)</span>
                            <span class="morel">负责人</span>
                            <span class="morel">负责人确认(是/否)</span>
                        </p>
                        <p class="see-children height" style="background:rgba(0, 198, 255, 0.34)">
                            <span class="morep">{{::list.workPermission}}</span>
                            <span class="morep">{{::list.successor}}</span>
                            <span class="morep">{{::list.heir}}</span>
                            <span class="morep">{{::list.replacement}}</span>
                            <span class="morep">{{::list.inheritor}}</span>
                            <span class="morep">{{::list.principal}}</span>
                            <span class="morep">{{::list.head}}</span>
                        </p>            
                    </ul>
                    <div class="module">
                        <div class="see-module">
                            <p class="see-type">体现类型</p>
                            <p class="see-description"></p>
                            <button class="btn">关闭</button>
                        </div>
                    </div>
                </div>
           
            </section>
        </li>
     </ul>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>
