<div class="content-tab list">
    <div class="search-big" style="display :{{ isView?'none':'block'}}">
        <select class="salc" ng-model="checkedName" ng-init="checkedName='合同签订情况'">
            <option ng-repeat="item in titles">{{item}}</option>
        </select>
        <input type="text" ng-model="signCondition" ng-show="checkedName=='合同签订情况'">
        <input type="text" ng-model="signProject" ng-show="checkedName=='立项情况'">
        <input type="text" ng-model="area" ng-show="checkedName=='地区'">
        <input type="text" ng-model="businessType" ng-show="checkedName=='业务类型'">
        <input type="text" ng-model="businessSubject" ng-show="checkedName=='业务方向科目'">
        <a href="javascript:void(0)" ng-click="search()"><img src="/images/search2.png"></a>
    </div>
    <ul class="table com-table">
        <li class="list-head">
            <span></span>
            <span>合同外部项目名称</span>
            <span>内部项目名称</span>
            <span>合同签订情况</span>
            <span>立项情况</span>
            <span>派工单编号</span>
            <span>地区</span>
            <span>业务类型</span>
            <span></span>
        </li>
        <li class="list-all">
            <section ng-repeat="list in implementationLists.data" style="display: {{list._delete?'none':'block'}};">
                <div  class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p>{{$index+1+num}}</p>
                    <p mod>{{::list.outerName}}</p>
                    <p mod>{{::list.innerName}}</p>
                    <p mod>{{::list.signCondition}}</p>
                    <p mod>{{::list.signProject}}</p>
                    <p mod>{{::list.depatchNum}}</p>
                    <p mod>{{::list.area}}</p>
                    <p mod>{{::list.businessType}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more"  ng-click="moreList(list)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{list._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>业务方向科目</span>
                                <span>所属项目组</span>
                                <span>项目规模</span>
                                <span>BBU规模</span>
                                <span>RRU规模</span>
                                <span>已开通站点数</span>
                                <span>未开通站点</span>
                                <span>完工数</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{::list.businessSubject}}</span>
                                <span mod>{{::list.projectGroup}}</span>
                                <span mod>{{::list.projectSize}}</span>
                                <span mod>{{::list.bbuSize}}</span>
                                <span mod>{{::list.rruSize}}</span>
                                <span mod>{{::list.openStationPoints}}</span>
                                <span mod>{{::list.noOpenPoints}}</span>
                                <span mod>{{::list.completeNum}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span>已开通BBU数</span>
                                <span>已开通RRU数</span>
                                <span>未开通BBU数</span>
                                <span>未开通RRU数</span>
                                <span>未完工数</span>
                                <span>是否初验</span>
                                <span>是否终验</span>
                                <span>备注</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{::list.openBbuPoints}}</span>
                                <span mod>{{::list.openRruPoints}}</span>
                                <span mod>{{::list.noOpenBbuPoints}}</span>
                                <span mod>{{::list.noOpenRruPoints}}</span>
                                <span mod>{{::list.startTestCondition}}</span>
                                <span mod>{{::list.startTestCondition}}</span>
                                <span mod>{{::list.finalTestCondition}}</span>
                                <span mod>{{::list.remark}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </li>
     </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow"></div>