<div class="content-tab list" style="margin-top: -70px;">
    <ul class="table table-top">
        <li class="list-head">
            <span></span>
            <span>地区</span>
            <span>项目</span>
            <span>工期开始时间</span>
            <span>工期结束时间</span>
            <span>成本</span>
            <span>预算成本</span>
            <span>成本与预算成本差额</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="lists in moneyLists" style="display: {{lists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p>{{$index+1}}</p>
                    <p>{{lists.area}}</p>
                    <p>{{lists.project}}</p>
                    <p>{{lists.startTime}}</p>
                    <p>{{lists.endTime}}</p>
                    <p>{{lists.cost}}</p>
                    <p>{{lists.budgetCost}}</p>
                    <p>{{lists.costSubtract}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more" ng-click="moreList(lists)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{lists._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>费用</span>
                                <span>预算费用</span>
                                <span>费用与预算费用差额</span>
                                <span>管理费</span>
                                <span>预算管理费</span>
                                <span>管理费与预算管理费差额</span>
                                <span>税金</span>
                                <span>预算税金</span>
                            </p>
                            <p class="see-children">
                                <span>{{lists.fee}}</span>
                                <span>{{lists.budgetFee}}</span>
                                <span>{{lists.feeSubtract}}</span>
                                <span>{{lists.manageFee}}</span>
                                <span>{{lists.budgetManageFee}}</span>
                                <span>{{lists.manageFeeSubtract}}</span>
                                <span>{{lists.taxes}}</span>
                                <span>{{lists.budgetTaxes}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span>税金与预算税金差额</span>
                                <span>利润</span>
                                <span>预算利润</span>
                                <span>利润与预算利润差额</span>
                            </p>
                            <p class="see-children">
                                <span>{{lists.budgetTaxes}}</span>
                                <span>{{lists.profit}}</span>
                                <span>{{lists.budgetProfit}}</span>
                                <span>{{lists.profitSubtract}}</span>
                            </p>
                        </li>
                    </ul>
                    <div class="module">
                        <div class="see-module">
                            <p class="see-type">体现类型</p>
                            <p class="see-description"></p>
                            <button class="btn">关闭</button>
                        </div>
                    </div>
                </div>
            </section>
        </li>
    </ul>
    <footer class="footer">
        <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
    </footer>
</div>
<div ui-view="modal"></div>




